<li>
  <h2 class="app-task-list__section">
    Category and formulation
  </h2>

  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        Category and formulation
      </span>

      <b class="govuk-tag govuk-tag--grey app-task-list__tag" id="formation-details-status">Cannot start yet</b>
    </li>
  </ul>
</li>
