<li class="opss-task-sub">
  <h3 class="app-task-list__section">
    <span class="app-task-list__section-number">3. </span>
    Components
  </h3>

  <ul class="app-task-list__items opss-task-sub__list">
    <% @notification.components.each_with_index do |component, i| %>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <%= component_link(component, i) %>
        </span>

        <%= component_badge(component) %>
      </li>
    <% end %>
    <li class="app-task-list__item opss-task-sub__last">
      <span class="app-task-list__task-name">
        <a href="<%= add_component_responsible_person_notification_draft_index_path(@notification.responsible_person, @notification) %>" class="govuk-link govuk-link--no-visited-state">
          Add <span class="govuk-visually-hidden">another component</span>
        </a>
        <span class="opss-task-sub__pipe">|</span>
        <a href="remove-nano-step.html" class="govuk-link govuk-link--no-visited-state">
          Remove <span class="govuk-visually-hidden">a one of components</span>
        </a>
      </span>
    </li>
  </ul>

</li>
