<li class="opss-task-sub">
  <h3 class="app-task-list__section">
    <span class="app-task-list__section-number">3. </span>
    Nanomaterials
  </h3>

  <ul class="app-task-list__items opss-task-sub__list">
    <% @notification.nano_materials.order(:created_at).map(&:nano_elements).flatten.each_with_index do |nano_element, i| %>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <%= nanomaterial_link(nano_element, i) %>
        </span>

        <%= nanomaterial_badge(nano_element) %>
      </li>
    <% end %>

    <li class="app-task-list__item opss-task-sub__last">
      <span class="app-task-list__task-name">
        <a href="add-nano-step.html" class="govuk-link govuk-link--no-visited-state">
          Add <span class="govuk-visually-hidden">another nanomaterial</span>
        </a>
        <span class="opss-task-sub__pipe">|</span>
        <a href="remove-nano-step.html" class="govuk-link govuk-link--no-visited-state">
          Remove <span class="govuk-visually-hidden">a nanomaterial</span>
        </a>
      </span>
    </li>
  </ul>

</li>
