<% if nano_materials_blocked? %>
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <% if nano_material_should_be_notified? %>
        <p class="govuk-notification-banner__heading">You cannot notify this product until you have notified <%= first_blocked_nanomaterial_name %><span class="govuk-visually-hidden"> via the nanomaterials page</span>.</p>
      <% else %>
        <p class="govuk-notification-banner__heading">You cannot notify products containing <%= first_blocked_nanomaterial_name %>.</p>
      <% end%>
    </div>
  </div>
<% end %>
