<% component = @notification.components.first %>

<li>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">
          <%= section_number(DraftHelper::PRODUCT_DETAILS_SECTION) %>
        </span>
        Product details
      </h2>
    </div>
    <div class="app-task-list__section-number govuk-grid-column-one-half">
      <%= component_badge(component, override_id: "single-item-status") %>
    </div>
  </div>

  <ul class="app-task-list__items">
    <% if section_can_be_used?(DraftHelper::PRODUCT_DETAILS_SECTION) %>
      <li class="app-task-list__item_no_border">
        <span class="app-task-list__task-name govuk-!-font-weight-bold" id="new">
          Product details
        </span>
        <%= product_details_link(component) %>
      </li>
    <% end %>
  </ul>
</li>
