<li>
  <h2 class="app-task-list__section">
    Product details
  </h2>

  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        Product details
      </span>

      <b class="govuk-tag govuk-tag--grey app-task-list__tag" id="product-details-status">Not started yet</b>
    </li>
  </ul>
</li>
