<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-!-margin-top-4 govuk-!-padding-bottom-4 opss-border-bottom">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-2" aria-describedby="cos-prod-hint">
            <span class="govuk-caption-m">Product draft for: </span> <%= @notification.product_name %>
          </h1>

          <p class="govuk-body opss-secondary-text">
          Complete the following tasks to add this cosmetic product.
          </p>

          <!--p class="govuk-body opss-secondary-text">
            <span class="govuk-!-display-block govuk-!-margin-bottom-4">Complete the following tasks to add a cosmetic product. Completing the first task may update the task list with additional tasks. </span>

            <span class="govuk-!-display-block">You can complete individual tasks again to change their details.</span>
            </p-->

            <details class="govuk-details opss-details--sm" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Help with adding a product
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body-s">
                Your progress in completing these tasks will be saved as a working draft until you accept and submit it.
                </p>

                <p class="govuk-body-s">
                Completing the first task may change the list and the number of tasks.
                </p>

                <p class="govuk-body-s">
                Before you accept and submit a draft you can change information by completing individual tasks again, or you can delete the entire draft.

                <!-- Before you accept and submit a draft you can complete individual tasks again to change information, or you can delete the entire draft.

                  You can complete individual tasks again to change information or you can delete the entire draft. -->
                </p>
              </div>
            </details>

        </div>
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <% if false %>
            <a href="delete-draft.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-align-right opss-text-underline-offset">
              Delete <span class="govuk-visually-hidden">this </span>draft
            </a>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>
