<li>
  <h2 class="app-task-list__section">
    Product details
  </h2>

  <% component = @notification.components.first %>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="<%= new_responsible_person_notification_component_build_path(@notification.responsible_person, @notification, component) %>" class="govuk-link govuk-link--no-visited-state" aria-describedby="nano-01-status">
          Product details
        </a>
      </span>

      <% if component.created_at != component.updated_at %>
        <b class="govuk-tag app-task-list__tag" id="nano-01-status">Completed</b>
      <% else %>
        <b class="govuk-tag govuk-tag--grey app-task-list__tag" id="nano-03-status">Not started</b>
      <% end %>
    </li>
  </ul>
</li>
