<li>
  <h2 class="app-task-list__section">
    Create the product
  </h2>

  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="#" class="govuk-link govuk-link--no-visited-state" aria-describedby="product-status">
          Create the product
        </a>
      </span>

      <b class="govuk-tag app-task-list__tag" id="product-status">Completed</b>
    </li>
  </ul>
</li>
