<li class="opss-task-sub">
  <h3 class="app-task-list__section">
    Multi item kit
  </h3>

  <ul class="app-task-list__items opss-task-sub__list">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="<%= new_responsible_person_notification_product_kit_path(@notification.responsible_person, @notification) %>" class="govuk-link govuk-link--no-visited-state">
          Define the multi-item kit
        </a>
      </span>

      <b class="govuk-tag app-task-list__tag" id="product-status">Completed</b>
    </li>
  </ul>

</li>
