<li>
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number">
      <%= section_number(DraftHelper::PRODUCT_DETAILS_SECTION) %>
    </span>
    Product details
  </h2>

  <% component = @notification.components.first %>
  <ul class="app-task-list__items">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <% if section_can_be_used?(DraftHelper::PRODUCT_DETAILS_SECTION) %>
          <a href="<%= new_responsible_person_notification_component_build_path(@notification.responsible_person, @notification, component) %>" class="govuk-link govuk-link--no-visited-state" aria-describedby="single-item-status">
            Product details
          </a>
        <% else %>
          Product details
        <% end %>
      </span>

      <%= component_badge(component, override_id: "single-item-status") %>
    </li>
  </ul>
</li>
