<% component = @notification.components.first %>

<li>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">
          <%= section_number(DraftHelper::PRODUCT_DETAILS_SECTION) %>
        </span>
        Product details
      </h2>
    </div>
    <div class="app-task-list__section-number govuk-grid-column-one-half">
      <%= component_badge(component, override_id: "single-item-status") %>
    </div>
  </div>

  <ul class="app-task-list__items">
    <li class="app-task-list__item_no_border">
      <span class="app-task-list__task-name govuk-!-font-weight-bold">
        <% if section_can_be_used?(DraftHelper::PRODUCT_DETAILS_SECTION) %>
          <a href="<%= new_responsible_person_notification_component_build_path(@notification.responsible_person, @notification, component) %>" class="govuk-link govuk-link--no-visited-state " aria-describedby="single-item-status">
            Product details
          </a>
        <% else %>
          Product details
        <% end %>
      </span>
    </li>
  </ul>
</li>
