<% content_for :page_title, "Submission complete" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-4">
      <h1 class="govuk-panel__title">
        Submission complete
      </h1>
      <div class="govuk-panel__body">
        Notification reference number <br><strong><%= @notification.reference_number_for_display %></strong>
      </div>
    </div>

    <p class="govuk-body">
    Submission of the Cosmetic product notification is complete. Your product is now one of your <%= link_to "notified cosmetic products", responsible_person_notifications_path(@responsible_person), class: 'govuk-link govuk-link--no-visited-state' %>.
    </p>

    <div class="govuk-inset-text">
      <p class="govuk-body">You have 7 days to delete the notification. You should only do this if your notification contains wrong information.</p>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
    You can now place your cosmetic product on the <abbr title="Great Britain">GB</abbr> market. Your cosmetic product notification will now be searchable by market surveillance authorities. If you have any concerns about your cosmetic product and compliance, please contact your local <a href="https://www.gov.uk/find-local-trading-standards-office" class="govuk-link govuk-link--no-visited-state">Trading Standards office</a>.
    </p>

    <p class="govuk-body">
    For any queries related to your cosmetic product notification, contact <a href="mailto:opss.enquiries@beis.gov.uk" class="govuk-link govuk-link--no-visited-state">opss.enquiries@beis.gov.uk</a>.
    </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p class="govuk-body-l">
      View your product notifications on the <%= link_to "Cosmetic products page", responsible_person_notifications_path(@responsible_person), class: "govuk-link govuk-link--no-visited-state opss-no-wrap" %>.
    </p>
  </div>
</div>
