<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Related
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#investigations">
        Investigations
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#company-history">
        Company History
      </a>
    </li>
    <li class="govuk-tabs__list-item not-implemented">
      <a class="govuk-tabs__tab" href="#businesses">
        Businesses
      </a>
    </li>
    <li class="govuk-tabs__list-item not-implemented">
      <a class="govuk-tabs__tab" href="#issues">
        Issues
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="investigations">
    <%= render "investigations/table" %>
  </section>
  <section class="govuk-tabs__panel" id="company-history">
    <%= render 'history', versions: @business.versions %>
  </section>
  <section class="govuk-tabs__panel" id="businesses">
  </section>
  <section class="govuk-tabs__panel" id="issues">
  </section>
</div>
