<% content_for :page_title, "Edit business - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Businesses', businesses_path %>
        </li>
        <li>
            <%= link_to 'Edit', edit_business_path(@business) %>
        </li>
    </ol>
</div>

<h1 class="heading-xlarge">Editing Business</h1>

<%= render 'form', business: @business %>

<%= link_to 'Back', businesses_path, :class => "link-back" %>
