<% content_for :page_title, "New business - Market Surveillance & Product Safety" %>
<div class="new-business-page">
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <%= link_to 'Businesses', businesses_path %>
            </li>
            <li>
                <%= link_to 'New', new_business_path %>
            </li>
        </ol>
    </div>

    <h1 class="heading-xlarge">New Business</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <%= render 'form', business: @business %>
        </div>
        <div class="govuk-grid-column-one-half">
            <h2 class="heading-large">Have you seen these businesses?</h2>
            <div id="suggested-businesses">
                Enter the company name for suggestions.
            </div>
        </div>
    </div>

    <%= link_to 'Back', businesses_path, :class => "link-back" %>
</div>
