<% content_for :page_title, "New business - Market Surveillance & Product Safety" %>
<div class="new-business-page businesses-search-form">
    <%= link_to 'Back to list', businesses_path, class: "govuk-back-link" %>

    <h1 class="govuk-heading-xl">New business</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Business details</h3>
            <%= render 'form', business: @business, form_model: @business %>
        </div>
        <div class="govuk-grid-column-one-half">
            <%= render "suggestions_container" %>
        </div>
    </div>
</div>
