- content_for :page_title, "View business - Market Surveillance & Product Safety"
- content_for :after_header do
  = link_to "Back to list", businesses_path, class: "govuk-back-link"
.show-business
  .govuk-grid-row[class="govuk-!-padding-bottom-6"]
    .govuk-grid-column-two-thirds
      = render "business_heading", business: @business
    .govuk-grid-column-one-third
      h3.govuk-heading-m[class="govuk-!-margin-bottom-1"]
        | Cases
      span.govuk-heading-xl[class="govuk-!-margin-bottom-0"]
        = @business.investigations.size
  .govuk-grid-row.row-border-top[class="govuk-!-padding-bottom-6"]
    .govuk-grid-column-one-third
      h3.govuk-heading-m[class="govuk-!-margin-bottom-1"]
        | Contents
      ul.govuk-list.dashed-list
        li
          a[class="govuk-!-font-size-19" href="#details"]
            | Details
        li
          a[class="govuk-!-font-size-19" href="#locations"]
            | Locations
        li
          a[class="govuk-!-font-size-19" href="#cases"]
            | Cases
        li
          a[class="govuk-!-font-size-19" href="#history"]
            | History
    .govuk-grid-column-two-thirds
      #details.govuk-grid-row[class="govuk-!-padding-bottom-6"]
        .govuk-grid-column-full
          h2.govuk-heading-l[class="govuk-!-margin-bottom-1"]
            | Details
          table.govuk-table
            tbody.govuk-table__body
              tr.govuk-table__row
                th.govuk-table__header[scope="row"]
                  | Company number
                td.govuk-table__cell
                  = @business.company_number
              tr.govuk-table__row
                th.govuk-table__header[scope="row"]
                  | Company type
                td.govuk-table__cell
                  = @business.company_type
              tr.govuk-table__row
                th.govuk-table__header[scope="row"]
                  | Registered office address
                td.govuk-table__cell
                  = @business.primary_address&.summary
              tr.govuk-table__row
                th.govuk-table__header[scope="row"]
                  | Nature of business (SIC)
                td.govuk-table__cell
                  = @business.nature_of_business
              tr.govuk-table__row
                th.govuk-table__header[scope="row"]
                  | Additional information
                td.govuk-table__cell
                  = @business.additional_information
          = link_to "Edit details", edit_business_path(@business)
      #locations.govuk-grid-row[class="govuk-!-padding-bottom-6"]
        .govuk-grid-column-full
          h2.govuk-heading-l[class="govuk-!-margin-bottom-1"]
            | Locations (
            = @business.addresses.size
            | )
          - if @business.addresses.any?
            .govuk-grid-row[class="govuk-!-padding-bottom-4"]
              - @business.addresses.limit(2).each do |address|
                .govuk-grid-column-one-half
                  h4.govuk-heading-s
                    = address.address_type
                  div
                    = address.line_1
                  div
                    = address.line_2
                  div
                    = address.locality
                  div
                    = address.country
                  div
                    = address.postal_code
          - else
            p
              | No locations.
          = link_to "Manage locations", business_addresses_path(@business)
      #cases.govuk-grid-row[class="govuk-!-padding-bottom-6"]
        .govuk-grid-column-full
          h2.govuk-heading-l[class="govuk-!-margin-bottom-1"]
            | Cases
          = render "investigations_summary", parent: @business
      #history.govuk-grid-row[class="govuk-!-padding-bottom-6"]
        .govuk-grid-column-full
          h2.govuk-heading-l[class="govuk-!-margin-bottom-1"]
            | History
          = render "history", versions: @business.versions
