<table class="govuk-table check-your-answers-table">
  <caption class="govuk-table__caption govuk-heading-m">
    Contact person
  </caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-third" scope="row">
        Name
      </th>
      <td class="govuk-table__cell">
        <%= contact_person.name %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">
        Email address
      </th>
      <td class="govuk-table__cell">
        <%= contact_person.email_address %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">
        Phone number
      </th>
      <td class="govuk-table__cell">
        <%= contact_person.phone_number %>
      </td>
    </tr>
  </tbody>
</table>
