dl class="govuk-summary-list govuk-!-margin-bottom-9"
  .govuk-summary-list__row
    dt.govuk-summary-list__key
      | Name
    dd.govuk-summary-list__value
      = contact_person.name
    dd.govuk-summary-list__actions
  .govuk-summary-list__row
    dt.govuk-summary-list__key
      | Email address
    dd.govuk-summary-list__value
      = contact_person.email_address
  .govuk-summary-list__row
    dt.govuk-summary-list__key
      | Phone number
    dd.govuk-summary-list__value
      = contact_person.phone_number
    dd.govuk-summary-list__actions
