<h2 class="govuk-heading-m">Contact person</h2>
<%= govukSummaryList(
  classes: "govuk-summary-list check-your-answers-table",
  rows: [
    {
      key: { text: "Name" },
      value: { text: contact_person.name },
    },
    {
      key: { text: "Email address" },
      value: { text: contact_person.email_address },
    },
    {
      key: { text: "Phone number" },
      value: { text: contact_person.phone_number },
    },
  ]
) %>
