<h2 class="govuk-heading-l poison-centre__table-heading">Ingredients</h2>

<% notification.components.each do |component| %>
  <table class="govuk-table">
    <% if component.name.present? %>
      <caption class="govuk-table__caption govuk-heading-m"><%= component.name %></caption>
    <% end %>

    <% if component.ingredients.exact.any? %>
      <%= render "formulation_table", entities_list: component.ingredients.exact,
              key_name: :inci_name, value_name: :exact_concentration %>
    <% end %>
    <% if component.ingredients.range.any? %>
      <%= render "formulation_table", entities_list: component.ingredients.range,
              key_name: :inci_name, value_name: :range_concentration %>
    <% end %>
    <% if component.formulation_file.attached? %>
      <% if component.formulation_file.metadata["safe"] %>
        <%= link_to component.formulation_file.filename, url_for(component.formulation_file) %>
      <% end %>
    <% end %>
    <% if component.ingredients.none? && !component.formulation_file.attached? %>
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-half" scope="row">No ingredients data</th>
      </tr>
    <% end %>
  </table>
<% end %>
