tr.govuk-table__row
  - if component.minimum_ph == component.maximum_ph
    th.govuk-table__header[scope="row"]
      | pH
    td.govuk-table__cell
      =<> component.minimum_ph
  - else
    th.govuk-table__header[scope="row"]
      | pH range
    td.govuk-table__cell
      =<> component.minimum_ph
      | to
      =< component.maximum_ph
