table.govuk-table.check-your-answers-table#product-table
  caption.govuk-table__caption.govuk-heading-m
    | Product
  tbody.govuk-table__body
    tr.govuk-table__row
      th.govuk-table__header[class="govuk-!-width-one-third" scope="row"]
        | Name
      td.govuk-table__cell
        = notification.product_name
    - if notification.industry_reference.present?
      tr.govuk-table__row
        th.govuk-table__header[scope="row"]
          | Internal reference number
        td.govuk-table__cell
          = notification.industry_reference
    - if current_user.can_view_product_ingredients?
      tr.govuk-table__row
        th.govuk-table__header[scope="row"]
          | Imported
        td.govuk-table__cell
          = product_imported?(notification)
      - if product_imported?(notification) == "Yes"
        tr.govuk-table__row
          th.govuk-table__header[scope="row"]
            | Imported from
          td.govuk-table__cell
            = product_import_country(notification)
    - if notification.notified_post_eu_exit?
      tr.govuk-table__row
        th.govuk-table__header
          | For children under 3
        td.govuk-table__cell
          = notification.under_three_years ? "Yes" : "No"
    tr.govuk-table__row
      th.govuk-table__header[scope="row"]
        | Number of components
      td.govuk-table__cell
        = notification.components.length
    tr.govuk-table__row
      th.govuk-table__header[scope="row"]
        | Shades
      td.govuk-table__cell
        = display_shades(notification)
    tr.govuk-table__row
      th.govuk-table__header[scope="row"]
        | Label image
      td.govuk-table__cell
        - if notification.image_uploads.present?
          ul.govuk-list
            - notification.image_uploads.each do |image|
              - if image.file_exists? && image.marked_as_safe?
                li = link_to image.filename, url_for(image.file)
        - elsif allow_edits
          = link_to "Add product images",
            new_responsible_person_notification_product_image_upload_path(notification.responsible_person, notification)
        - else
          | N/A
    - if notification.cpnp_notification_date.present?
      tr.govuk-table__row
        th.govuk-table__header
          | EU notification date
        td.govuk-table__cell
          = display_full_month_date notification.cpnp_notification_date
    tr.govuk-table__row
      th.govuk-table__header
        | Are the components mixed?
      td.govuk-table__cell
        = notification.components_are_mixed ? "Yes" : "No"
    - if current_user.can_view_product_ingredients? && notification.ph_min_value.present?
      tr.govuk-table__row
        th.govuk-table__header
          | Minimum pH value
        td.govuk-table__cell
          = notification.ph_min_value
    - if current_user.can_view_product_ingredients? && notification.ph_max_value.present?
      tr.govuk-table__row
        th.govuk-table__header
          | Maximum pH value
        td.govuk-table__cell
          = notification.ph_max_value
    - if notification.components.count == 1
      = render "notifications/component_details", component: notification.components.first, allow_edits: allow_edits
    - else
      - notification.components.each_with_index do |component, i|
        table.govuk-table.check-your-answers-table
          caption.govuk-table__caption.govuk-heading-m
            = component.name.presence || "Component #{i + 1}"
          tbody.govuk-table__body
            tr.govuk-table__row
              th.govuk-table__header[class="govuk-!-width-one-third" scope="row"]
                | Shades
              td.govuk-table__cell
                = render "none_or_bullet_list", entities_list: component.shades
          = render "notifications/component_details", component: component, allow_edits: allow_edits
