<% if notification.image_uploads.present? %>
  <ul class="govuk-list">
    <% notification.image_uploads.each do |image| %>
      <% if image.passed_antivirus_check? %>
        <li><%= link_to image.filename, url_for(image.file) %></li>
      <% elsif image.file_exists? %>
        <p>
          <%= "Processing image #{image.file.filename} ..." %>
          <br>
          <%= link_to "Refresh",
                      edit_responsible_person_notification_path(@responsible_person, @notification),
                      class: "govuk-link--no-visited-state" %>
        </p>
      <% end %>
    <% end %>
  </ul>
<% elsif allow_edits %>
  <%= link_to "Add product images",
    new_responsible_person_notification_product_image_upload_path(notification.responsible_person, notification) %>
<% else %>
  N/A
<% end %>