<% responsible_person = local_assigns[:responsible_person] %>
<h2 class="govuk-heading-m">Responsible Person</h2>
<%= govukSummaryList(
  classes: "govuk-summary-list check-your-answers-table",
  rows: [
    {
      key: { text: "Name" },
      value: { text: responsible_person.name },
    },
    {
      key: { text: "Address" },
      value: {
        html: sanitize(responsible_person.address_lines.join("<br>"))
      },
    },
  ]
) %>
<h2 class="govuk-heading-m">Previous Responsible Person Addresses</h2>
<% responsible_person.address_logs.each do |address| %>
  <%= govukSummaryList(
    classes: "govuk-summary-list check-your-answers-table",
    rows: [
      {
        key: { text: "Used from" },
        value: { text: display_full_month_date(address.start_date) },
      },
      {
        key: { text: "Used to" },
        value: { text: display_full_month_date(address.end_date) },
      },
      {
        key: { text: "Address" },
        value: {
          html: sanitize(address.address_lines.join("<br>"))
        },
      },
    ]
  ) %>
<% end %>
