<% responsible_person = local_assigns[:responsible_person] %>
<h2 class="govuk-heading-m">Responsible Person</h2>
<%= govuk_summary_list do |summary_list|
  summary_list.with_row do |row|
    row.with_key { "Name" }
    row.with_value { responsible_person.name }
  end;
  summary_list.with_row do |row|
    row.with_key { "Address" }
    row.with_value { sanitize(responsible_person.address_lines.join("<br>")) }
  end;
    (can_view_notification_history? ? responsible_person.address_logs.newest_first.map do |address|
      summary_list.with_row do |row|
        row.with_key { "Previous address (#{display_date(address.start_date)} &mdash; #{display_date(address.end_date)})".html_safe }
        row.with_value { sanitize(address.address_lines.join("<br>")) }
      end;
    end : [])

end %>
