<% responsible_person = local_assigns[:responsible_person] %>
<h2 class="govuk-heading-m">Responsible Person</h2>
<%= govukSummaryList(
  classes: "govuk-summary-list check-your-answers-table",
  rows: [
    {
      key: { text: "Name" },
      value: { text: responsible_person.name },
    },
    {
      key: { text: "Address" },
      value: {
        html: sanitize(responsible_person.address_lines.join("<br>"))
      },
    },
  ]
) %>
