<h2 class="govuk-heading-l poison-centre__table-heading">Substances</h2>

<% notification.components.each do |component| %>
  <table class="govuk-table">
    <% if component.name.present? %>
      <caption class="govuk-table__caption govuk-heading-m"><%= component.name %></caption>
    <% end %>

    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="row">CMR</th>
      <td class="govuk-table__cell" id="cmr-names">
        <%= render "none_or_bullet_list", entities_list: component.cmrs.map(&:display_name) %>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="row">Nanomaterials</th>
      <td class="govuk-table__cell">
        <%= render "none_or_bullet_list",
          entities_list: nano_materials_with_pdf_links(component.nano_materials),
          list_item_classes: ""
        %>
      </td>
    </tr>

    <% if component.nano_materials.non_standard.any? && current_user.can_view_nanomaterial_review_period_end_date? %>
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-half" scope="row">Nanomaterials review period end date</th>
        <td class="govuk-table__cell">
          <%= render "none_or_bullet_list",
                     entities_list: nano_materials_with_review_period_end_date(component.nano_materials.non_standard),
                     list_item_classes: "" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
