.button-link {
  padding: 0;

  // optional
  font-family: arial, sans-serif; //input has OS specific font-family
  font: inherit;
  text-decoration: underline;
  color: $govuk-link-colour;
  @include remove-default-button-styling;
  @include govuk-link-common;
}
