<% content_for :page_title, "Homepage - Market Surveillance" %>

<div class="home-page">
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">Market Surveillance Homepage</h1>
            <a href="/pages/example">Example page</a>
        </div>
    </div>
</div>