<% content_for :page_title, "Homepage - Market Surveillance" %>

<div class="home-page">
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">Market Surveillance Homepage</h1>
            <%= link_to "Visit the example page", "/pages/example", :class => "button button-start" %><br />
            <p>Or</p>
            <%= render 'layouts/login_buttons' %>
        </div>
    </div>
</div>