footer.govuk-footer[role="contentinfo"]
  .govuk-width-container
    .govuk-footer__navigation
      .govuk-footer__section
        h2.govuk-footer__heading.govuk-heading-m
          | Guidance
        ul.govuk-footer__list.govuk-footer__list
          li.govuk-footer__list-item
            = link_to "How to notify nanomaterials", how_to_notify_nanomaterials_path,
                    class: "govuk-footer__link"
          li.govuk-footer__list-item
            = link_to "How to prepare images for notification", how_to_prepare_images_for_notification_path,
                    class: "govuk-footer__link"

    hr.govuk-footer__section-break

    .govuk-footer__meta
      .govuk-footer__meta-item.govuk-footer__meta-item--grow

        .govuk-footer__meta-custom
          | Email
          =<> link_to "opss.enquiries@beis.gov.uk", "mailto:OPSS.enquiries@beis.gov.uk", class: "govuk-footer__link "
          | for help using this service
        ul.govuk-footer__inline-list
          li.govuk-footer__inline-list-item
            = link_to "Privacy policy", privacy_notice_path,
                    class: "govuk-footer__link govuk-!-margin-right-2"
          li.govuk-footer__inline-list-item
            = link_to "Terms and conditions", terms_and_conditions_path,
                    class: "govuk-footer__link govuk-!-margin-right-2"
      .govuk-footer__meta-item
        a.govuk-footer__link.govuk-footer__copyright-logo[href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"]
          | © Crown copyright

javascript:
  if (typeof window.GOVUKFrontend === 'undefined') document.body.className = document.body.className.replace('js-enabled', '')
  window.GOVUKFrontend.initAll()
