nav.app-navigation.govuk-clearfix
  ul.app-navigation__list
    li[class=(params[:controller] == "responsible_persons/notifications" && "app-navigation--current-page")]
      = link_to "Cosmetic products", responsible_person_notifications_path(@responsible_person),
              "data-topnav": "responsible_persons/notifications",
              class: "govuk-link--no-visited-state"
    li[
    class=(params[:controller] == "responsible_persons/non_standard_nanomaterials" && "app-navigation--current-page")]
      = link_to "Nanomaterials", responsible_person_non_standard_nanomaterials_path(@responsible_person),
              "data-topnav": "responsible_persons/non_standard_nanomaterials",
              class: "govuk-link--no-visited-state"
    li[class=(params[:controller] == "responsible_persons" && "app-navigation--current-page")]
      = link_to "Responsible person details", responsible_person_path(@responsible_person),
              "data-topnav": "responsible_persons",
              class: "govuk-link--no-visited-state"
    li[class=(params[:controller] == "responsible_persons/team_members" && "app-navigation--current-page")]
      = link_to "Team members", responsible_person_team_members_path(@responsible_person),
              "data-topnav": "responsible_persons/team_members",
              class: "govuk-link--no-visited-state"
    .responsible-person-name.govuk-heading-s
      = @responsible_person.name
