doctype html
html.govuk-template.app-html-class[lang="en"]

  = render "layouts/head"

  body.govuk-template__body.app-body-class

    = render "layouts/header"

    .govuk-main-wrapper
      = yield

    = render "layouts/footer"
