/ This partial acts as glue between rails form helpers and the component file upload
/ With access to the form object, we can infer a lot of information from it

ruby:
  # Infer name and id_prefix from attribute key
  form.multipart = true
  local_assigns[:name] ||= get_attribute_name(form, key)
  local_assigns[:id] ||= get_attribute_id_prefix(form, key)
  local_assigns[:value] ||= form.object.send(key) if form.object.respond_to?(key)
  if form.object&.errors&.any?
    error_text = form.object.errors.full_messages_for(key).first.presence
    local_assigns[:errorMessage] ||= { text: error_text } if error_text
  end

= render "components/govuk_file_upload", **local_assigns
