/ This partial acts as glue between rails form helpers and the component textinput
/ With access to the form object, we can infer a lot of information from it

ruby:
  # Infer name and id_prefix from attribute key
  local_assigns[:name] ||= get_attribute_name(form, key)
  local_assigns[:id] ||= get_attribute_id_prefix(form, key)
  local_assigns[:value] ||= form.object.send(key) if form.object.respond_to?(key)
  unless form.object.nil?
    error_text = form.object.errors.full_messages_for(key).first.presence
    local_assigns[:errorMessage] ||= { text: error_text } if error_text
  end

= render "components/govuk_input", **local_assigns
