default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  username: postgres
  password:
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: cosmetics_development
  url: <%= ENV['DATABASE_URL'] %>

test:
  <<: *default
  database: cosmetics_test
  host: localhost
  url: <%= ENV['TEST_DATABASE_URL'] || ENV['DATABASE_URL'] %>

production:
  url: <%= ENV["VCAP_SERVICES"] && CF::App::Credentials.find_by_service_label("postgres")["uri"] %>
  connect_timeout: 2
  variables:
    statement_timeout: <%= ENV["STATEMENT_TIMEOUT"] || "500ms" %>
