= form_with(model: investigation, method: :put, url: assign_investigation_url(investigation)) do |form|
  = render "form_components/govuk_error_summary", form: form

  - if current_user.teams.any?
    - someone_in_your_team = capture do
      = render "investigations/assign/assignee_selection", form: form, key: :select_team_member,
              options: User.get_team_members(user: current_user), accessible_hint: "Name",
              display_method: :display_name, show_all_values: true
  - previously_assigned = capture do
    = render "investigations/assign/assignee_selection", form: form, key: :select_previously_assigned,
            options: investigation.past_assignees + investigation.past_teams,
            accessible_hint: "Select previously assigned person or team",
            display_method: :display_name_without_restrictions, show_all_values: true
  - other_teams = capture do
    = render "investigations/assign/assignee_selection", form: form, key: :select_other_team,
            options: Team.all, accessible_hint: "Other team name", display_method: :display_name_without_restrictions,
            show_all_values: true

  - someone_else = capture do
    = render "investigations/assign/assignee_selection", form: form, key: :select_someone_else,
            options: User.all, accessible_hint: "Name", display_method: :display_name
  ruby:
    items = investigation.important_assignable_people.map do |user|
      { text: user.display_name, value: user.id, checked: investigation.assignee == user }
    end
    if current_user.teams.any?
      items.push text: "Someone in your team",
                 value: "someone_in_your_team",
                 conditional: { html: someone_in_your_team }
    end
    items.push text: "Previously assigned", value: "previously_assigned", conditional: { html: previously_assigned }
    items.push divider: "Teams"
    teams = investigation.important_assignable_teams.map do |team|
      { text: team.display_name, value: team.id, checked: investigation.assignee == team }
    end
    items.concat teams
    items.push text: "Other team", value: "other_team", conditional: { html: other_teams }
    items.push divider: "or"
    items.push text: "Someone else", value: "someone_else", conditional: { html: someone_else }

  = render "form_components/govuk_radios", form: form, key: :assignable_id_radio, items: items
  .govuk-form-group
    = form.submit "Assign", class: "govuk-button"
    p = link_to "Cancel", investigation, class: "mspsds-block-link"
