<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds opss-desktop-min-height--xs">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2" aria-describedby="cosmetic-products-hint">
      Cosmetic products search - results
    </h1>
    <p id="cosmetic-products-hint" class="govuk-body opss-secondary-text govuk-!-margin-bottom-1 govuk-visually-hidden">
      Your search results page.
    </p>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
    <div class="opss-text-align-right">
      <a href="<%= poison_centre_notifications_search_path %>" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
        Search again
      </a>
    </div>
  </div>
</div>
