<% content_for :page_title, "Cosmetic products search" %>

<div class="govuk-grid-row">
  <%= render 'search_box' %>

  <%= error_summary(@search_form.errors) %>
</div>

<div class="govuk-grid-row opss-full-height">
  <%= render "filters" %>
  <%= render "results", results: @notifications, search_response: @search_response %>
</div>
