<% content_for :page_title, "Dashboard" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="#" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Manage cosmetic notifications</h3>
      <p class="govuk-body">Search for cosmetic notifications that are currently live, archived or deleted.</p>
    </a>
  </div>
  <div class="govuk-grid-column-one-half">
    <%= link_to users_path, class: "app-card" do %>
      <h3 class="govuk-heading-s app-card__heading">Account administration</h3>
      <p class="govuk-body">View and manage accounts for users of both the submit and search parts of cosmetic product notifications.</p>
    <% end %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="#" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Responsible Person administration</h3>
      <p class="govuk-body">View and manage Responsible Person accounts.</p>
    </a>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="#" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">History/Audit log</h3>
      <p class="govuk-body">Check the historical actions and events taken part in submit and search cosmetic product notifications.</p>
    </a>
  </div>
</div>
