<% content_for :page_title, "Responsible Person Declaration" %>

<%= form_with url: accept_declaration_path, local: true do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Responsible Person Declaration
      </h1>

      <p>I declare that:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>I have permission to submit and share information on behalf of the Responsible Person</li>
        <li>I have read and understood the <%= link_to "terms and conditions", terms_and_conditions_path, target: :_blank %> and <%= link_to "privacy policy", privacy_notice_path, target: :_blank %> and accept them</li>
        <li>any information I provide is correct and complete to the best of my knowledge</li>
        <li>the Responsible Person will tell the Office for Product Safety and Standards (OPSS) about any change to any of the information on this registration</li>
        <li>I will not share any information from the UK cosmetic product notification database outside my organisation</li>
      </ul>

      <div class="form-group">
        <%= govukButton text: "I confirm" %>
      </div>
    </div>
  </div>
<% end %>
