<% content_for :page_title, "Declaration" %>
<%= form_with url: accept_declaration_path, local: true do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Declaration</h1>

      <p>By continuing you agree to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          The <%= link_to "terms and conditions", terms_and_conditions_path, target: '_new' %> and
          <%= link_to "privacy policy", privacy_notice_path, target: '_new' %>
        </li>
        <li>only use the information in this service to assist medical and healthcare professionals</li>
      </ul>

      <div class="form-group">
        <%= govukButton text: "I accept" %>
      </div>
    </div>
  </div>
<% end %>
