# Copy this file to .env and fill in the values with your own env variables

# REQUIRED: Keycloak client credentials
KEYCLOAK_AUTH_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

# OPTIONAL: To test email sending
NOTIFY_API_KEY=

# OPTIONAL: To test companies house business integration
COMPANIES_HOUSE_API_KEY=
