version: '3'

services:
  db:
    build:
      context: ./dev-docker/db/
    volumes:
      - postgres-volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.3
    environment:
      - "discovery.type=single-node"
      - "ES_JAVA_OPTS=-Xms750m -Xmx750m"
    volumes:
      - elasticsearch-volume:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"

  redis:
    image: redis
    hostname: redis

  cosmetics-web:
    command: ["./bin/rails", "s", "-p", "3000", "-b", "0.0.0.0"]
    build:
      context: .
      dockerfile: ./cosmetics-web/Dockerfile
    volumes:
      # ${PWD-.} calls PWD on systems which have that variable, and . on others e.g. windows
      - ${PWD-.}/cosmetics-web:/cosmetics-web
      - bundle-cache:/usr/local/bundle
    depends_on:
      - db
      - elasticsearch
      - redis
    ports:
      - "3000:3000"
    environment:
      - NOTIFY_API_KEY=
      - DATABASE_URL=postgres://db/cosmetics_dev?user=postgres
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - REDIS_URL=redis://redis:6379
      - SEARCH_HOST=search_cosmetics
      - SUBMIT_HOST=submit_cosmetics
      - COSMETICS_HOST=submit_cosmetics
      - ANTIVIRUS_ENABLED=false
  cosmetics-worker:
    build:
      context: .
      dockerfile: ./cosmetics-web/Dockerfile
    command: bin/sidekiq -C config/sidekiq.yml
    volumes:
      # ${PWD-.} calls PWD on systems which have that variable, and . on others e.g. windows
      - ${PWD-.}/cosmetics-web:/cosmetics-web
      - bundle-cache:/usr/local/bundle
    environment:
      - NOTIFY_API_KEY=
      - DATABASE_URL=postgres://db/cosmetics_dev?user=postgres
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - REDIS_URL=redis://redis:6379
      - SEARCH_HOST=search_cosmetics
      - SUBMIT_HOST=submit_cosmetics
      - COSMETICS_HOST=submit_cosmetics
      - ANTIVIRUS_ENABLED=false
    depends_on:
      - db
      - elasticsearch
      - redis

volumes:
  postgres-volume:
  elasticsearch-volume:
  bundle-cache:
