version: '3'

services:
  db:
    image: postgres
    volumes:
      - postgres-volume:/var/lib/postgresql/data
  elasticsearch:
    image: elasticsearch
    environment:
      - "ES_JAVA_OPTS=-Xms750m -Xmx750m"
    volumes:
      - elasticsearch-volume:/usr/share/elasticsearch/data
  web:
    build: .
    volumes:
      - bundle-cache:/usr/local/bundle
      - npm-cache:/root/.npm
      # ${PWD-.} calls PWD on systems which have that variable, and . on others e.g. windows
      - ${PWD-.}:/app
    environment:
      - NOTIFY_API_KEY=$NOTIFY_API_KEY
      - COMPANIES_HOUSE_API_KEY=$COMPANIES_HOUSE_API_KEY
    depends_on:
      - db
      - elasticsearch

volumes:
  postgres-volume:
  elasticsearch-volume:
  bundle-cache:
  npm-cache:
