<% content_for :page_title, "Search for an account" %>
<% @back_link_href = account_administration_index_path(q: params[:q]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: search_results_account_administration_index_path, method: :get do |f| %>
      <div class="moj-search">
        <div class="govuk-form-group">
          <label for="q-field" class="govuk-label moj-search__label">Enter a search term</label>
          <div class="govuk-hint moj-search__hint" id="q-hint">For example, full name or email@example.com</div>
          <input id="q-field" class="govuk-input moj-search__input" aria-describedby="q-hint" type="search" name="q" value="<%= params[:q] %>">
        </div>
        <button type="submit" formnovalidate="formnovalidate" class="govuk-button moj-search__button" data-module="govuk-button" data-prevent-double-click="true">
          <span class="govuk-visually-hidden">Search</span>
        </button>
      </div>
    <% end %>
  </div>
</div>
