- title = "What’s the item called?"
- question = "Item name"

- content_for :page_title, title
- content_for :after_header do
  = link_to "Back", previous_wizard_path, class: "govuk-back-link"

h1.govuk-heading-xl = title

p
  | Each item must have a different name.

= form_with model: @component, url: wizard_path, method: :put do |form|
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render "form_components/govuk_error_summary", form: form
      = render "form_components/govuk_input",
              form: form,
              key: :name,
              label: { text: question, classes: "govuk-label--m" },
              hint: { text: 'For example, ‘cream peroxide’' }
      = form.submit "Continue", class: "govuk-button"
