.govuk-form-group class=("govuk-form-group--error" if errors.present?)
  - if errors.present?
    span.govuk-error-message#accept_declaration-error
      = errors.first[:text]
  .govuk-checkboxes
    .govuk-checkboxes__item
      = form.check_box :accept_declaration, { class: "govuk-checkboxes__input" }, "checked", "unchecked"
      = form.label :accept_declaration, "I confirm", class: "govuk-checkboxes__label"
.govuk-form-group
  = form.submit "Continue", class: "govuk-button"
