- content_for :page_title, "Declaration"
= form_with url: accept_declaration_path, local: true do |form|
  - if @errors.present?
    = render "components/govuk_error_summary", titleText: "There is a problem", errorList: @errors
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      h1.govuk-heading-xl
        | Declaration
      p
        | By continuing you agree to:
      ul.govuk-list.govuk-list--bullet
        li
          | The
          =<> link_to "terms and conditions", terms_and_conditions_path
          | and
          =<> link_to "privacy policy", privacy_notice_path
        li only use the information in this service to assist medical and healthcare professionals

      = render "declaration/accept_declaration", form: form, errors: @errors
