<% title = "How to prepare images for notification" %>

<% content_for :page_title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= title %></h1>

    <p>You must upload the artwork for the product label.</p>
    <p>To help National Poison Information Services identify the product, you can upload a photo of the product and also its packaging.</p>

    <p>You can upload up to 10 images. Each file can be up to 30MB, and must be a JPG, PNG or PDF.</p>

    <p>The image must be in focus and all packaging text legible.</p>
    <p>The images you need to provide depend on the type of product and how it’s packaged.</p>

    <h2 class="govuk-heading-m">Example 1</h2>

    <p>The product has no secondary packaging (for example, a standalone bottle of shampoo).</p>

    <p>You must supply the label artwork and you can supply a clear photo of the bottle.</p>

    <h2 class="govuk-heading-m">Example 2</h2>

    <p>The product has secondary packaging (for example, a bottle of shampoo in a box).</p>

    <p>You must supply the label artwork and a clear photo of the box. You can also attach the artwork for the bottle label and a photo of the bottle.</p>

    <h2 class="govuk-heading-m">Example 3</h2>

    <p>The product contains several components (for example, hair dye).</p>

    <p>You must supply the artwork and, a photo of the set. You can also attach the artwork for each bottle label and a photo of each bottle.</p>

    <p>If the product features instructions or other information on a separate leaflet, label, tag or card, you must attach this artwork as well</p>
  </div>
</div>
