.govuk-grid-row[class="govuk-!-padding-bottom-6"]
  .govuk-grid-column-full
    = link_to "Add activity", add_activity_investigation_path(@investigation), class: "govuk-link mspsds-block-link"
    = render "activities_summary", activities: @investigation.activities
