- content_for :page_title, "UK Responsible Person details"
- content_for :after_header do
  = link_to "Back", previous_wizard_path, class: "govuk-back-link"

- name_label = @responsible_person.business? ? "Business name" : "Name"
- address_label = @responsible_person.business? ? "UK business address" : "Address"

= form_with model: @responsible_person, url: wizard_path, method: :put do |form|
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render "form_components/govuk_error_summary", form: form

      h1.govuk-heading-xl
        | UK Responsible Person details

      = render "form_components/govuk_input", form: form, key: :name, label: { text: name_label }

      fieldset.govuk-fieldset
        legend.govuk-fieldset__legend.govuk-fieldset__legend--m
          = address_label
      = render "form_components/govuk_input", form: form, key: :address_line_1, label: { text: "Building and street" }
      = render "form_components/govuk_input", form: form, key: :address_line_2, label: { text: nil }
      = render "form_components/govuk_input", form: form, key: :city, label: { text: "Town or city" }
      = render "form_components/govuk_input", form: form, key: :postal_code, label: { text: "Postcode" },
              classes: "govuk-input--width-10"

      .govuk-form-group
        = form.submit "Continue", class: "govuk-button"
