<% content_for :page_title, "Join existing responsible person" %>
<% content_for :after_header do %>
  <%= link_to "Back", wizard_path(:create_or_join_existing), class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">To join an existing UK responsible person account, you need to be invited by a team member of that organisation</h1>
  </div>
</div>
