<% content_for :page_title, "Join existing Responsible Person" %>
<% content_for :after_header do %>
  <%= link_to "Back", wizard_path(:create_or_join_existing), class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      To join an existing UK Responsible Person account, you need to be invited by a team member of that organisation
    </h1>
    <p>
      It is important to check if you already have a Responsible Person account for your organisation to avoid duplication.
    </p>
    <p>
      To check if a Responsible Person account has already been set up you should check with someone in your organisation.
      A team member will be able to add you to the Responsible Person account for the organisation.
      If you are still unsure you can contact opss.enquiries@beis.gov.uk.
    </p>
  </div>
</div>
