<% content_for :page_title, "Are you or your organisation a UK Responsible Person?" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Are you or your organisation a UK Responsible Person?</h1>
    <p>A Responsible Person may be the manufacturer, importer or distributor of the cosmetic product. They can also be a third party such as a specialist consultancy, as long as they’ve been given permission by the manufacturer or importer. The Responsible Person can be a company, limited liability partnership (LLP) or an individual. They must be based in the UK.</p>

    <p>
      <%= link_to "Read about the legal obligations of a Responsible Person", 'https://www.gov.uk/government/publications/uk-product-safety-and-metrology-guidance-in-a-no-deal-scenario', class: "govuk-link" %>
    </p>

    <%= link_to "Continue", next_wizard_path, class: "govuk-button", role: "button" %>
  </div>
</div>
