- content_for :page_title, "Edit address"
- content_for :after_header do
  = link_to "Back to address", @address, class: "govuk-back-link"
= render "business_heading", business: @business
h2.govuk-heading-l
  | Address details
= render "form", address: @address, business: nil
