<div class="nested-fields investigation-product-fields">
  <div class="form-group">
    <%= f.label :id, "Product ID", :class => "form-label" %>
    <%= f.text_field :product_id, :class => "form-control" %>
    <%= link_to_remove_association "Remove product", f, :class => "button-warning" %>
  </div>
</div>