<% content_for :page_title, "Edit investigation - Market Surveillance & Product Safety" %>

<%= link_to 'Back to investigation', @investigation, :class => "govuk-back-link" %>

<%= render "investigation_heading", investigation: @investigation %>
<h2 class="govuk-heading-l">Risk details</h2>

<%= render 'form', investigation: @investigation %>
