<% content_for :page_title, "New investigation - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Investigations', investigations_path %>
        </li>
        <li>
            <%= link_to 'New', new_investigation_path %>
        </li>
    </ol>
</div>

<h1 class="heading-xlarge">New investigation</h1>

<%= render 'form', investigation: @investigation %>

<%= link_to 'Back', investigations_path, :class => "link-back" %>
