<% content_for :page_title, "New case - Market Surveillance & Product Safety" %>

<% content_for :after_header do %>
<%= link_to "Back to list", investigations_path, :class => "govuk-back-link" %>
<% end %>

<p class="govuk-heading-m govuk-!-margin-bottom-1">New case:</p>
<h1 class="govuk-heading-xl">Risk details</h1>

<%= render 'form', investigation: @investigation %>
