- content_for :page_title, "Invite a team member"
= render "layouts/rp_navbar"
.govuk-grid-row
  .govuk-grid-column-two-thirds
    h1.govuk-heading-xl
      | Invite a team member
    p Inviting a team member will allow them to:
    ul.govuk-list.govuk-list--bullet
        li see all cosmetic products
        li register cosmetic products
    p TODO: Form here