table.govuk-table.image-list
  thead.govuk-table__head
    tr.govuk-table__row
      th.govuk-table__header[colspan="2"]
  tbody.govuk-table__body
    - @images.each do |image|
      tr.govuk-table__row
        td.govuk-table__cell.image-preview
          = render "image", image: image, dimensions: "300x300"
        td.govuk-table__cell.image-details
          h2.govuk-heading-m.image-title
            = image.metadata["title"]
          - if image.metadata["updated"].present?
            .image-updated.right
              | Updated
              '
              = Time.zone.parse(image.metadata["updated"]).strftime("%d/%m/%Y")
          .image-description
            = image.metadata["description"]
          = link_to "Edit image details", edit_associated_image_path(@parent, image), class: "edit-image-link"
          = link_to "Delete image", associated_image_path(@parent, image), method: :delete, \
              data: { confirm: "Are you sure?" }, class: "delete-image-link"
