- content_for :page_title, "Edit document"
- content_for :after_header do
  = link_to "Back", associated_documents_path(@parent), class: "govuk-back-link"
= render "page_heading", title: "Edit document details"
br
= render "form", document: @document
