- content_for :page_title, "Document details - Market Surveillance & Product Safety"
- content_for :after_header do
  = link_to "Back to #{@parent.class.name == 'Investigation' ? 'case' : @parent.class.name.downcase}", \
      polymorphic_path(@parent), class: "govuk-back-link"
= render "page_heading", title: link_to(@document.metadata["title"], @document)
h3.govuk-heading-m.document-type-details
  span.document-type
    = @document.metadata["document_type"]&.titleize
    = " – #{@document.metadata['other_type'].titleize}" if @document.metadata["other_type"].present?
  span.document-filetype[class="govuk-!-padding-left-2"]
    = "(#{document_filetype_label(@document)})"
= link_to render("document_image", document: @document), @document, class: "document-link", target: "_blank"
p.document-description
  = @document.metadata["description"]
= link_to "Edit document details", edit_associated_document_path(@parent, @document), class: "edit-document-link"
