- content_for :page_title, "View business"
- content_for :after_header do
  = render "breadcrumbs_navigation", breadcrumbs: @breadcrumbs

= render "business_heading", business: @business

= render "tabs", tabs: [\
  Tab.new("full-detail", "Full detail", lambda { render "businesses/tabs/details" }),
  Tab.new("locations", "Locations", lambda { render "businesses/tabs/locations" },
          " (#{@business.locations.count})"),
  Tab.new("contacts", "Contacts", lambda { render "businesses/tabs/contacts" },
          " (#{@business.contacts.count})"),
  Tab.new("attachments", "Attachments", lambda { render "businesses/tabs/attachments" },
          " (#{@business.documents.count})"),
  Tab.new("cases", "Cases", lambda { render "businesses/tabs/cases" })\
]
