//These are the opss PSD css styles: I recommend simply copy and pasting this entire code into your local opss-psd scss file.
//And include - copy over - the imported files in the same directory (listed at the top of this file).
//Don't edit your local copy as pasting this into it next/each time will overwrite your changes.
//We can remove linting from this scss file - it won't run if there is a real problem

@import "opss/opss-shared";
@import "opss/opss-search";
@import "opss/opss-pagination";


main.govuk-main-wrapper {
    @include govuk-media-query($from: desktop) {
        min-height: 500px;
    }
}

.opss-radios__divider--title .govuk-radios__divider {
    width: 100%;
    text-align: left;
    font-weight: 700;

    @include govuk-media-query($from: tablet) {
        margin-top: govuk-spacing(6);
        margin-bottom: govuk-spacing(3);
    }
    /*@include govuk-media-query($from: desktop) {
        //margin-left: (govuk-spacing(8) + govuk-spacing(1));
        //font-size: 24px !important; font-size: 1.5rem !important; line-height: 1.25 !important; margin-top: govuk-spacing(7);
        //margin-bottom: govuk-spacing(3);
    }*/
}

.opss-radios__divider--title {
    & > .govuk-radios__divider:first-child {
        margin-top: govuk-spacing(0);
    }
}

.opss-numero {
    @include govuk-media-query($from: desktop) {
        font-size: 90%;
        margin-left: 5px;
    }

        display: inline-block;
        transform: scale(1.2, 1);
        font-weight: 600;
        opacity: 0.9;
}

.opss-borders {
    border-color: govuk-colour("mid-grey", $legacy: "grey-2");
    border-style: solid;
    border-width: 0;

    &.opps-borders--all {
        @include govuk-media-query($from: tablet) {
            border-width: 1px;
        }
    }

    &.opss-borders--padding {
        padding: govuk-spacing(6) govuk-spacing(5) govuk-spacing(5) govuk-spacing(6);
    }

    &.opss-borders--left {
        @include govuk-media-query($from: tablet) {
            border-left-width: 1px;
        }
    }

    &.opss-borders--padding-l {
        @include govuk-media-query($from: tablet) {
            padding-left: govuk-spacing(6);
        }
    }

    &.opss-borders--height-100 {
        height: 100%;
    }
}

.opss-panels {
    margin-top: govuk-spacing(7);
    margin-bottom: govuk-spacing(2);

    .opss-panels__pair {

        border-width: 1px;
        border-style: solid;
        border-color: $govuk-brand-colour; //govuk-colour("mid-grey", $legacy: "grey-2");
        /*border-radius: 5px;*/
        border-image: linear-gradient(0deg, #969696, $govuk-border-colour) 1;
        box-shadow: 3px 4px 6px 0px #ebebeb; //2px 2px 10px govuk-colour("mid-grey");

        padding: govuk-spacing(6) govuk-spacing(5) govuk-spacing(8) govuk-spacing(6);
        margin-left: govuk-spacing(0);
        margin-right: govuk-spacing(0);
        margin-bottom: govuk-spacing(6);

        & > span {
            text-align: center;
            width: 100%;
            margin-bottom: govuk-spacing(4);
        }

        h2 {
            color: $govuk-brand-colour;
            /*text-align: center;*/
            width: 100%;
        }

        details div {
            @include govuk-font($size: 16);
        }

    }
}
@include govuk-media-query($from: desktop) {
    .opss-panels {
        display: -webkit-flex; /* Safari */
        display: flex;

        .opss-panels__pair {
            -webkit-flex: 1 auto; /* Safari */
            -ms-flex: 1 auto; /* IE10 */
            flex: 1 auto;

            padding-bottom: govuk-spacing(6);

            &.opss-panels__pair--left {
                margin-right: govuk-spacing(2);
                margin-left: govuk-spacing(3);
            }
            &.opss-panels__pair--right {
                margin-right: govuk-spacing(3);
                margin-left: govuk-spacing(2);
            }

        }
    }
}
@include govuk-media-query($from: desktop) {
    .opss-equal-height-container {
        display: -webkit-flex;
        display: flex;

        .opss-equal-height__col {
            -webkit-flex: 1 auto;
            -ms-flex: 1 auto;
            flex: 1 auto;
        }
    }
}

ul.opss-radio-list {
    margin-bottom: 0;

    li {
        padding: govuk-spacing(2) 0;
        display: inline-block;
        width: 100%;

        .govuk-radios__item {
            padding-left: govuk-spacing(7);

            .govuk-radios__hint {
                padding-left: 2px;
            }
        }
    }
}

.opss-radio-list--borders {
    li {
        border-top: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");
    }
}

.opss-radio-list--no-top-border {
    li:first-child {
        border-top: none;
    }
}

.opss-radio-list__number {
    display: inline-block;
    padding-right: govuk-spacing(2);
}

.opss-block--desktop {
    @include govuk-media-query($from: desktop) {
        display: block;
    }
}

.govuk-character-count__message:after {
    content: '.';
}

//span.govuk-error-message + input[class^="govuk-!-margin-top"].govuk-input--error {
//    margin-top: 0;
//}

/*ul.govuk-radios.govuk-list--spaced li {
    @include govuk-clearfix;
}*/

.opss-tag {
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: 2px 5px;
    margin-bottom: govuk-spacing(1);
    @include govuk-media-query($from: tablet) {
        margin-bottom: 0;
    }

    td & {
        margin-left: govuk-spacing(1);
        &:last-child {
            margin-bottom: 0;
        }
    }

    &.opss-tag--risk1 {
        border-color: govuk-colour("red");
        color: govuk-colour("red");
    }
    &.opss-tag--risk2 {
        border-color: govuk-colour("dark-grey");
        color: govuk-colour("dark-grey");
    }
    &.opss-tag--covid {
        background-color: govuk-colour("pink");
        border-color: govuk-colour("pink");
        color: govuk-colour("white");
        text-transform: none;
    }
    &.opss-tag--std {
        @include opss-font-size($s: 14px, $l: 1.3);
        text-transform: none;
        font-weight: normal;
        color: govuk-colour("dark-grey");
        border: 1px solid govuk-colour("mid-grey");
        float: left;
        margin-left: 0;
        min-width: 64px;
        text-align: center;
    }
}

.opss-sub-form-group {
    @include govuk-media-query($from: tablet) {
        background-color: govuk-colour("light-grey");
        padding: govuk-spacing(4) govuk-spacing(2) govuk-spacing(1) govuk-spacing(4);
    }

    label:before {
        background: govuk-colour("white");
    }
}
