//These are the opss PSD css styles: I recommend simply copy and pasting this entire code into your local opss-psd scss file.
//And include - copy over - the imported files in the same directory (listed at the top of this file).
//Don't edit your local copy as pasting this into it next/each time will overwrite your changes.
//We can remove linting from this scss file - it won't run if there is a real problem anyway

@import "opss/opss-shared";
@import "opss/opss-search";
@import "opss/opss-pagination";


main.govuk-main-wrapper {
    @include govuk-media-query($from: desktop) {
        min-height: 500px;
    }
}

.opss-radios__divider--title .govuk-radios__divider {
    width: 100%;
    text-align: left;
    font-weight: 700;

    @include govuk-media-query($from: tablet) {
        margin-top: govuk-spacing(6);
        margin-bottom: govuk-spacing(3);
    }
    /*@include govuk-media-query($from: desktop) {
        //margin-left: (govuk-spacing(8) + govuk-spacing(1));
        //font-size: 24px !important; font-size: 1.5rem !important; line-height: 1.25 !important; margin-top: govuk-spacing(7);
        //margin-bottom: govuk-spacing(3);
    }*/
}

.opss-radios__divider--title {
    & > .govuk-radios__divider:first-child {
        margin-top: govuk-spacing(0);
    }
}

.opss-borders {
    border: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");
    border-radius: 5px;
}

.opss-borders--padding {
    padding: govuk-spacing(6) govuk-spacing(5) govuk-spacing(5) govuk-spacing(6);
}

.opss-details-img {
    max-height: 300px;
    max-width: 100%;
}

ul.opss-radio-list {
    margin-bottom: 0;

    li {
        padding: govuk-spacing(2) 0;
        display: inline-block;
        width: 100%;

        .govuk-radios__item {
            padding-left: govuk-spacing(7);

            .govuk-radios__hint {
                padding-left: 2px;
            }
        }
    }
}

.opss-radio-list--borders {
    li {
        border-top: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");
    }
}

.opss-radio-list--no-top-border {
    li:first-child {
        border-top: none;
    }
}

.opss-radio-list__number {
    display: inline-block;
    padding-right: govuk-spacing(2);
}

.opss-block--desktop {
    @include govuk-media-query($from: desktop) {
        display: block;
    }
}

.govuk-character-count__message:after {
    content: '.';
}

//span.govuk-error-message + input[class^="govuk-!-margin-top"].govuk-input--error {
//    margin-top: 0;
//}

/*ul.govuk-radios.govuk-list--spaced li {
    @include govuk-clearfix;
}*/

.opss-table-items {

    thead th:nth-child(2) {width: auto; }
    thead th:nth-child(3) {width: auto; }
    thead th:nth-child(4) {width: auto; }

    @include govuk-media-query($from: tablet) {
        thead th:nth-child(2) {width: 20%; }
    }

    thead th:last-child,
    tbody td:last-child,
    tfoot th:last-child {
        text-align: right;
    }

    tbody td:last-child::first-letter {text-transform: uppercase; }

    thead th,
    tfoot th {
        @include govuk-font($size: 16);
        font-weight: 700;
    }
    tbody td {
        @include govuk-font($size: 16);
    }
    /*tbody tr:last-child td a {
        @include govuk-font($size: 16);
    }*/
    /*tbody tr:not(:first-child):not(:last-child) td, tbody tr:not(:first-child):not(:last-child) th, */
    tbody tr:nth-child(2) th, tbody tr:nth-child(2) td {
        padding-top: govuk-spacing(0);
        padding-bottom: govuk-spacing(1);
    }
    tbody tr:nth-child(3) th, tbody tr:nth-child(3) td {
        padding-top: govuk-spacing(1);
        padding-bottom: govuk-spacing(2);
    }
    tbody tr:nth-child(4) th, tbody tr:nth-child(4) td {
        padding-top: govuk-spacing(0);
    }
    /*th[colspan="3"], tfoot th {padding-top: govuk-spacing(7); }*/
    tbody tr:first-child th,
    tbody tr:not(:last-child) > *,
    tfoot tr th {
        border-bottom: 0 none;
    }

    tbody th, tbody td {
        transition: all 0.5s ease;
        background-color: transparent;
    }
    tbody.opss-bg th, tbody.opss-bg td {
        background-color: govuk-colour("light-grey");
    }
    /*tbody:nth-child(odd) th, tbody:nth-child(odd) td {
      background-color: govuk-colour("light-grey");
    }*/

    &.opss-table-items--new-item {/* the new product having been added - top tbody */
        tbody:first-of-type {
            border-top: 3px solid $govuk-success-colour;
            border-bottom: 3px solid $govuk-success-colour;

            tr:first-child {
                th {
                    color: $govuk-success-colour;
                    /*padding-left: govuk-spacing(2);*/
                    padding-top: govuk-spacing(3);
                }
            }
            /*tr:first-child + tr {th + th {padding-left: govuk-spacing(2); } }
            tr {
                td:first-of-type {padding-left: govuk-spacing(2); }
                td:last-of-type {padding-right: govuk-spacing(2); }
            }
            & + tbody th {padding-top: govuk-spacing(4); }*/
        }
    }
    &.xyz {
        tbody:first-of-type {
            background-color: govuk-colour("light-grey");

            tr:first-child {
                th {
                    color: $govuk-success-colour;
                    padding-left: govuk-spacing(2);
                    padding-top: govuk-spacing(3);
                }
            }
            tr:first-child + tr {th + th {padding-left: govuk-spacing(2); } }
            tr {
                td:first-of-type {padding-left: govuk-spacing(2); }
                td:last-of-type {padding-right: govuk-spacing(2); }
            }
            & + tbody th {padding-top: govuk-spacing(4); }
        }
    }

}

.opss-tag {
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: 2px 5px;
    margin-bottom: govuk-spacing(1);
    @include govuk-media-query($from: tablet) {
        margin-bottom: 0;
    }

    td & {
        margin-left: govuk-spacing(1);
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.opss-tag--risk1 {
    border-color: govuk-colour("red");
    color: govuk-colour("red");
}
.opss-tag--risk2 {
    border-color: govuk-colour("dark-grey");
    color: govuk-colour("dark-grey");
}
.opss-tag--covid {
    background-color: govuk-colour("pink");
    border-color: govuk-colour("pink");
    color: govuk-colour("white");
    text-transform: none;
}
