<% content_for :page_title, "Nanomaterials" %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <% if @nanomaterial_notification.errors.size > 0 %>

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">

            <li>
              Some information is missing
            </li>
          </ul>
        </div>
      </div>
    <% end %>

    <h1 class="govuk-heading-xl">Check your answers</h1>

    <% @notified_in_eu_text = capture do %>
      <% case @nanomaterial_notification.eu_notified
        when true %>
        On <%= @nanomaterial_notification.notified_to_eu_on.to_s(:long) %>
      <% when false %>
        No
      <% end %>
    <% end %>

    <%= govukSummaryList(rows: [
      {
        key: {text: 'Name'},
        value: {text: @nanomaterial_notification.name},
        actions: {
          items: [
            {
              href: name_nanomaterial_path(@nanomaterial_notification),
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      },
      {
        key: {text: 'Notified in EU'},
        value: {
          text: @notified_in_eu_text
        },
        actions: {
          items: [
            {
              href: notified_to_eu_nanomaterial_path(@nanomaterial_notification),
              text: "Change",
              visuallyHiddenText: "EU notification"
            }
          ]
        }
      },
      {
        key: {text: 'PDF file'},
        value: {
          text: (link_to(@nanomaterial_notification.file.filename, @nanomaterial_notification.file) if @nanomaterial_notification.file.attached?)
        },
        actions: {
          items: [
            {
              href: upload_file_nanomaterial_path(@nanomaterial_notification),
              text: "Change",
              visuallyHiddenText: "file"
            }
          ]
        }
      }
    ]) %>


      <h2 class="govuk-heading-m">Now send your nanomaterial notification</h2>

      <p class="govuk-body">Your submission will be reviewed by the Office for Product Safety and Standards.</p>

      <%= form_for @nanomaterial_notification, url: submission_nanomaterial_path(@nanomaterial_notification) do |form| %>

        <button type="submit" class="govuk-button">Accept and send</button>
      <% end %>
  </div>
</div>
