<% content_for :page_title, "Reset account" %>
<% @back_link_href = account_administration_path(@user, q: params[:q]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <%= govuk_warning_text do %>
    Resetting a user account will reset the user's authenticator app, telephone number for text messaging, recovery codes and their password.
    <br>
    <br>
    The user will need to follow login instructions as per the email they receive
  <% end %>
    <%= form_with model: @user, url: reset_account_administration_path, method: :delete do |f| %>
      <%= f.govuk_submit "Reset account" %>
      <%= govuk_button_link_to "Cancel", account_administration_path(@user, q: params[:q]), secondary: true %>
    <% end %>
  </div>
</div>
