<% content_for :page_title, @user.name %>
<% @back_link_href = search_results_account_administration_index_path(q: params[:q]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%=
      govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key(text: "Name")
          row.with_value(text: @user.name)
          row.with_action(text: "Change", href: edit_name_account_administration_path(@user, q: params[:q]), visually_hidden_text: "name")
        end
        summary_list.with_row do |row|
          row.with_key(text: "Email")
          row.with_value(text: @user.email)
          row.with_action(text: "Change", href: edit_email_account_administration_path(@user, q: params[:q]), visually_hidden_text: "email")
        end
      end
    %>
    <h2 class="govuk-heading-m">Security details</h2>
    <%=
      govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key(text: "Reset account")
          row.with_value(text: "")
          row.with_action(text: "Reset", href: reset_account_account_administration_path(@user, q: params[:q]), visually_hidden_text: "account")
        end
        if @user.type == "SearchUser"
          summary_list.with_row do |row|
            row.with_key(text: "Role type")
            row.with_value(text: role_type(@user.role))
            row.with_action(text: "Change", href: edit_role_account_administration_path(@user, q: params[:q]), visually_hidden_text: "role type")
          end
        end
        if @user.type == "SubmitUser" && @responsible_persons.present?
          summary_list.with_row do |row|
            row.with_key(text: "Responsible Person accounts")
            row.with_value(text: @responsible_persons.pluck(:name).join(", "))
            row.with_action(text: "Change", href: edit_responsible_persons_account_administration_path(@user, q: params[:q]), visually_hidden_text: "Responsible Person accounts")
          end
        end
      end
    %>
    <h2 class="govuk-heading-m">Last login details</h2>
    <% if @user.last_sign_in_at %>
      <%=
        govuk_table do |table|
          table.with_head do |head|
            head.with_row do |row|
              row.with_cell(text: "Date")
              row.with_cell(text: "Time")
            end
          end
          table.with_body do |body|
            body.with_row do |row|
              row.with_cell(text: display_date(@user.last_sign_in_at))
              row.with_cell(text: display_time(@user.last_sign_in_at))
            end
          end
        end
      %>
    <% else %>
      <p class="govuk-body">This user has not logged in yet.</p>
    <% end %>
  </div>
</div>
