- content_for :page_title, "View case"
- content_for :after_header do
  = render "breadcrumbs_navigation", breadcrumbs: @breadcrumbs

.govuk-grid-row
  .govuk-grid-column-two-thirds-from-desktop
    = render "investigation_heading", investigation: @investigation

hr.govuk-section-break.govuk-section-break--m

= render "tabs", tabs: [\
  Tab.new("overview", "Overview", lambda { render "investigations/tabs/overview" }, '', true),
  Tab.new("products", "Products", lambda { render "investigations/tabs/products" },
          " (#{@investigation.products.count})"),
  Tab.new("businesses", "Businesses", lambda { render "investigations/tabs/businesses" },
          " (#{@investigation.businesses.count})"),
  Tab.new("attachments", "Attachments", lambda { render "investigations/tabs/attachments" },
          " (#{@investigation.documents.count})"),
  Tab.new("activity", "Activity", lambda { render "investigations/tabs/activity" })\
]
