= render "repeatable_info",
        title: "Evidence images",
        scope: :file,
        hide_break: true,
        other_text: "Are there other evidence images to report",
        pending_symbol: :evidence_images_pending do |form|
  = render "file_page", form: form
