= render "repeatable_info",
        title: "Other files",
        scope: :file,
        hide_break: true,
        other_text: "Are there other files to report",
        pending_symbol: :other_files_pending do |form|
  = render "file_page", form: form
