<% content_for :page_title, "Access denied" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Access denied</h1>
    <p>You don't have permission to see that page</p>
    <p>If you think you need to, ask someone in the processing team to give you access</p>
  </div>
</div>
