<% title = "Sorry, there is a problem with the service" %>

<% content_for :page_title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= title %></h1>

    <p>The service is unavailable. Try again later.</p>

    <p>We have not saved your answers. When the service is available, you will have to start again.</p>
  </div>
</div>
