- content_for :page_title, "Your account doesn't allow you to use this service"

.govuk-grid-row
  .govuk-grid-column-two-thirds
    h1.govuk-heading-xl
      | Your account doesn’t allow you to use this service
    p
      | The login details you provided tell us that you have registered to
      =< link_to "submit cosmetic product notifications", submit_domain_url,
              class: "govuk-link govuk-link--no-visited-state"
      | , but you’ve tried to access the service which National Poison Centres use to search for cosmetic product
        information.
    p
      | To submit cosmetic product notifications, you need to sign in to the ‘submit cosmetic product notifications’
        service.
