<section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">

  <a href="#search-results-section" class="govuk-skip-link opss-skip-link">
    Skip to the main content
  </a>

  <nav aria-label="Secondary">
    <ul class="govuk-list opss-left-nav">
      <li>
        <a href="<%= root_path %>" class="govuk-link govuk-link--no-visited-state" aria-current="page">
          Cosmetic products search
        </a>
      </li>
      <li class="opss-left-nav__active">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Ingredients search
        </a>
      </li>
    </ul>
  </nav>
</section>
