.govuk-grid-column-one-half
  h2.govuk-heading-m[class="govuk-!-margin-bottom-6"]
    | Current status
  = investigation_summary_list(investigation, include_actions: true, classes: 'govuk-!-font-size-16')
