$black: #000000;
$govuk-button-delete-hover-colour: mix($black, $govuk-error-colour, 15%);
$govuk-button-delete-shadow-colour: mix($black, $govuk-error-colour, 50%);

.remove-button {
  background-color: $govuk-error-colour;
  box-shadow: 0 $govuk-border-width-form-element 0 $govuk-button-delete-shadow-colour;

  &:hover,
  &:focus {
    background-color: $govuk-button-delete-hover-colour;
  }

  .govuk-button--disabled,
  .govuk-button[disabled="disabled"],
  .govuk-button[disabled],
  &:disabled {
    &,
    &:hover {
      background: $govuk-error-colour;
    }
  }
}
