$white-50-opaque: rgba(govuk-colour("white"), 0.5);
$button-bottom-border-colour: rgba(0, 0, 0, 0.17);
$email-message-gutter: $govuk-gutter * 2;

.email-message {

  margin-bottom: $govuk-gutter;
  border: 1px solid $govuk-border-colour;

  &-meta {

    @include govuk-font(19);
    margin: 0;

    td,
    th {
      @include govuk-font(19);

      border-top: 0;
      border-bottom: 1px solid $govuk-border-colour;
      vertical-align: top;
      text-align: left;
    }

    th {
      color: $govuk-secondary-text-colour;
      padding-left: $email-message-gutter;
    }

    td {
      padding-right: $email-message-gutter;
      word-break: break-word;

      &:last-child {
        padding-right: $email-message-gutter;
      }
    }
  }

  &-from {
    padding-top: 15px;
  }

  &-body {
    width: 100%;
    box-sizing: border-box;
    padding: $govuk-gutter-half $email-message-gutter 0 $email-message-gutter;
    margin: 0;
    position: relative;

    h2 {
      @include govuk-font(27, $weight: bold)
    }

    table {
      margin: 0 0 20px 0;

      td {
        border: 0;
        padding: 0;
      }

      li {
        @include govuk-font(19);
      }
    }
  }
}
