$black: #000000;

.flash-card {
  padding: 30px;
  margin-top: -15px;
  margin-bottom: 30px;
  background: govuk-colour("blue");
  color: govuk-colour("white");

  @media (min-width: 769px) {
    padding: 60px;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol {
    color: govuk-colour("white");
  }

  .govuk-inset-text,
  .govuk-details__text {
    border-color: govuk-colour("white");
  }

  h1:first-of-type {
    margin-top: 0 !important;
  }

  .govuk-caption-xl {
    color: darken(govuk-colour("white"), 7);
  }

  h2 {
    margin: 30px 0 5px 0;
  }

  p,
  li {
    max-width: 600px;
  }

  .govuk-list p {
    margin-left: 35px;
  }

  a {
    color: govuk-colour("white");
    font-weight: bold;

    &:visited,
    &:hover,
    &:active {
      color: govuk-colour("white");
    }
  }

  details {
    margin-bottom: 0;

    summary,
    summary:hover {
      color: govuk-colour("white");
    }

    .panel {
      border-left-color: govuk-colour("white");
    }
  }

  .govuk-button {
    color: govuk-colour("blue");
    background-color: govuk-colour("white");
    font-weight: bold;
    min-width: 200px;
    margin-bottom: 0;
    box-shadow: 0 $govuk-border-width-form-element 0 mix($black, govuk-colour("white"), 50%);

    &:visited {
      color: govuk-colour("blue");
      background-color: govuk-colour("white");
    }

    &:hover,
    &:focus,
    &:active {
      background-color: mix($black, govuk-colour("white"), 15%);
    }
  }
}
