@import "../../../../vendor/shared-web/app/assets/stylesheets/shared-imports";

@import "autocomplete";
@import "documents";
@import "images";
@import "pagination";
@import "shared";
@import "sortable_columns";
@import "timeline";
@import "form";
@import "block-link";
@import "summary_table";
@import "case-card";
@import "search-box";

* {
  box-sizing: border-box;
}



body {
  // This block prevents content moving when hiding/displaying the scrollbar in the browser
  @media screen and (min-width: 960px) {
    header,
    footer {
      // Ensures that header and footer background colours fill width of screen
      margin-left: -20px;
    }
    // Shifts content of body to right by width of scrollbar
    padding-left: calc(100vw - 100%);
  }
}

@media print {
  .no-print {
    display: none !important; // sass-lint:disable-line no-important
  }
}

.search-background {
  background-color: govuk-colour("grey-3");
}

.right {
  float: right;
  margin-left: 2em;
}

.row-border-top {
  padding-top: 2em;
  border-top: 1px solid govuk-colour("grey-3");
}
