@import "../../../../vendor/shared-web/app/assets/application/stylesheets/main";

@import "autocomplete";
@import "block-link";
@import "buttons";
@import "case-card";
@import "documents";
@import "email_display";
@import "form";
@import "images";
@import "teams";
@import "pagination";
@import "shared";
@import "sortable_columns";
@import "summary_table";
@import "timeline";

* {
  box-sizing: border-box;
}

.scrollbar-adjust  {
  // This block prevents content moving when hiding/displaying the scrollbar in the browser
  @media screen and (min-width: 960px) {
    header,
    footer {
      // Ensures that header and footer background colours fill width of screen
      margin-left: -20px;
      padding-left: 20px;
    }
    // Shifts content of body to right by width of scrollbar
    padding-left: calc(100vw - 100%);

    // The use of important here is forced because it is already used in .govuk-skip-link from the design system
    .skip-link-banner {
      margin-left: -20px !important;
      padding-left: 20px !important;
    }
  }
}

@media print {
  .no-print {
    display: none !important; // sass-lint:disable-line no-important
  }
}

.search-background {
  background-color: govuk-colour("grey-3");
}

.right {
  float: right;
  margin-left: 2em;
}

.row-border-top {
  padding-top: 2em;
  border-top: 1px solid govuk-colour("grey-3");
}
