.teams__user {
  margin: 0;
  border-top: 1px solid $govuk-border-colour;
  border-bottom: 1px solid $govuk-border-colour;
  & + & {
    border-top: 0;
  }
}

.teams__user_name, .teams__user_email {
  display: inline;
}

// The tick-cross styling has been adapted from
// https://github.com/alphagov/notifications-admin/blob/master/app/assets/stylesheets/components/tick-cross.scss

%tick-cross {

  display: inline-block;
  background-size: 19px 19px;
  background-repeat: no-repeat;
  background-position: 0 6px;
  padding: 6px 0 5px 25px;

  @if $govuk-is-ie8 {
    background-position: 0 3px;
  }

}

.tick-cross {

  &-tick {

    @extend %tick-cross;
    background-image: url('../images/tick.png');

    @if $govuk-is-ie8 {
      background-image: url('../images/tick-16px.png');
    }

  }

  &-cross {

    @extend %tick-cross;
    color: $govuk-secondary-text-colour;
    background-image: url('../images/cross-grey.png');

    box-shadow: inset 20px 0 0 0 rgba(255, 255, 255, 0.6);

    @if $govuk-is-ie8 {
      background-image: url('../images/cross-grey-16px.png');
    }

  }

}
