<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
    There are <%= @erroneous_notification_files.count %> notification errors. <a class="govuk-notification-banner__link" href="#accordion-opss-heading-1">View errors</a>.
    </p>
    <p class="govuk-body">You may need to <a href="#" class="govuk-notification-banner__link">refresh</a> this page to view the latest errors or incomplete notifications.</p>
  </div>
</div>
