<h2 class="govuk-heading-s">In the next task</h2>

<p class="govuk-body govuk-!-font-size-16 opss-secondary-text">You can review the draft and make final changes to the product details before you are required to accept the draft and submit it.
</p>
<p class="govuk-body govuk-!-font-size-16 opss-secondary-text">You will have 7 days from the date you submit the notification to delete it. You should only do this if your notification contains wrong information.</p>
