<h2 class="govuk-heading-s">In the next task</h2>

<p class="govuk-body govuk-!-font-size-16 opss-secondary-text">This brief task includes a question about the product's <span class="opss-no-wrap"><abbr title="Power of hydrogen">pH</abbr> range.</span></p>
