<h2 class="govuk-heading-s">In the next task</h2>

<p class="govuk-body govuk-!-font-size-16 opss-secondary-text">8 or more questions about the product will include:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 opss-secondary-text">
  <li>Does it include nanomaterials (and how many)?</li>
  <li>Is it a multi-item kit (with how many items)?</li>
</ul>

<p class="govuk-body govuk-!-font-size-16 opss-secondary-text">You will also be asked to upload an image of the product label (or for a multi-item kit, one image for each item label).</p>
