<h2 class="govuk-heading-s">In the next task</h2>

<p class="govuk-body govuk-!-font-size-16 opss-secondary-text">11 or more questions about the product will include asking if it has <abbr title="Carcenogenic, mutagenic or reprotoxic substances">CMR</abbr>s (and further details about them).
</p>

<p class="govuk-body govuk-!-font-size-16 opss-secondary-text">You will be able to provide the formulation by exact concentrations or concentration ranges (by uploading a file) or by selecting a frame formulation (which may require uploading a list of ingredients for the National Poisons Information Service).
</p>
