<% responsible_person = local_assigns[:responsible_person] %>
<h2 class="govuk-heading-m">Responsible Person</h2>
<%= govukSummaryList(
  classes: "govuk-summary-list check-your-answers-table",
  rows: [
    {
      key: { text: "Name" },
      value: { text: responsible_person.name },
    },
    {
      key: { text: "Address" },
      value: {
        html: sanitize(responsible_person.address_lines.join("<br>"))
      },
    },
  ] +
    (can_view_notification_history? ? responsible_person.address_logs.newest_first.map do |address|
      {
        key: {
          text: "Previous address (#{display_date(address.start_date)} &mdash; #{display_date(address.end_date)})".html_safe
        },
        value: {
          html: sanitize(address.address_lines.join("<br>"))
        },
      }
    end : [])
) %>
