h1.govuk-heading-xl
  | Resend unlock instructions
= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .govuk-form-group
    = f.label :email, class: "govuk-label"
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "govuk-input"
  .govuk-form-group
    = f.submit "Resend unlock instructions", class: "govuk-button"
= render "users/shared/links"
