.govuk-footer__meta-item > :last-child {
  margin-bottom: 0;
}
$govuk-footer-text: #454a4c; // design system doesn't expose this colour

.opss-footer__body {
  @include govuk-font(16);
  color: $govuk-footer-text;
}
