@import "../../../../vendor/shared-web/app/assets/application/stylesheets/main";

@import "autocomplete";
@import "block-link";
@import "buttons";
@import "case-card";
@import "documents";
@import "email_display";
@import "flashcard";
@import "footer";
@import "form";
@import "images";
@import "teams";
@import "pagination";
@import "shared";
@import "sortable_columns";
@import "summary_table";
@import "timeline";

* {
  box-sizing: border-box;
}

@media print {
  .no-print {
    display: none !important; // sass-lint:disable-line no-important
  }
}

.search-background {
  background-color: govuk-colour("grey-3");
}

.right {
  float: right;
  margin-left: 2em;
}

.row-border-top {
  padding-top: 2em;
  border-top: 1px solid govuk-colour("grey-3");
}
