.aspect-ratio-3-2-container {
  position: relative;
  // 3:2 Aspect Ratio
  width: 100%;
  padding-top: 66.66%;

  .aspect-ratio-contents {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.product-summary {
  .product-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid govuk-colour("grey-2");
  }
}

// Copied from https://www.gov.uk/capital-gains-tax
.dashed-list {
  li {
    margin-left: 25px;
    padding-right: 25px;
    padding-top: 7.5px;

    &:before {
      content: "— ";
      margin-left: -25px;
      padding-right: 5px;
    }
  }
}

.full-width {
  width: 100%;
  float: left;
}
