<% content_for :page_title, "Users - Market Surveillance" %>

<div class="users-page">
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">Users</h1>
            <table>
                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <%= render user %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>