<% content_for :page_title, "Users - Market Surveillance & Product Safety" %>

<%= link_to 'Back to case list', investigations_path, class: "govuk-back-link" %>

<div class="users-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">Users</h1>
      <%= link_to "Invite user", new_user_invitation_path %><br /><br />
    </div>
  </div>
  
  <div class="govuk-grid-row">

    <% @users.each do |user| %>
      <div class="govuk-grid-column-one-half">
        <%= render user %>
      </div>
      <%= will_paginate @investigations %>
    <% end %>
  </div>
</div>
