- content_for :page_title, "Contains essential oils, camphor, menthol, or eucalyptol"
- content_for :after_header do
  = link_to "Back", previous_wizard_path, class: "govuk-back-link"

= render "trigger_questions/substance_check", substance: "essential oil, camphor, menthol, or eucalyptol"
