- content_for :page_title, "Contains fluoride compounds"
- content_for :after_header do
  = link_to "Back", previous_wizard_path, class: "govuk-back-link"

= render "trigger_questions/substance_check", substance: "fluoride compound"
