- content_for :page_title, "mixed hair dye pH"
- content_for :after_header do
  = link_to "Back", previous_wizard_path, class: "govuk-back-link"

- component_name = @component.notification.is_multicomponent? ? @component.name : "the cosmetic product"
= form_with model: @question, url: wizard_path, method: :put do |form|
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render "form_components/govuk_error_summary", form: form
      = render "form_components/govuk_radios", form: form, key: :range,
              fieldset: { legend: { text: "What is the pH of #{component_name}?", \
                                    classes: "govuk-fieldset__legend--xl", isPageHeading: true } },
              items: [{ text: "Below 3", value: "below" },
                      { text: "Between 3 and 10", value: "between" },
                      { text: "Above 10", value: "above" }]
      = form.submit "Continue", class: "govuk-button"
