<div class="govuk-inset-text">You must upload images of the product labels for each item in the kit. You can also upload a photo of the kit and its items.</div>
<p class="govuk-body">
  The images you provide must be in focus and all packaging text legible. If you are uploading multiple images, you must upload them all at the same time. You can upload up to 10 images. Each file can be up to 30MB and must be a JPG, PNG or PDF.
</p>
<p class="govuk-body">
  The product label and a photo of the product help the National Poisons Information Service identify the product.
</p>
