<div class="govuk-inset-text">You must upload images of the product labels for each item in the kit. You can also upload a photo of the kit and its items.</div>
<p class="govuk-body">
  The images you provide must be in focus and all packaging text legible. If you are uploading multiple images, you must upload them all at the same time.
  You can upload up to 10 images. Each file can be up to 30MB and must be a JPG, PNG or PDF.
</p>
<p class="govuk-body">
  The product label and a photo of the product help the National Poisons Information Service identify the product.
</p>
<p class="govuk-body">
  The images you need to provide depend on the type of product and how it is packaged.
</p>

<%= govukDetails(summaryText: 'What images are needed?') do %>
  <h2 class="govuk-heading-s">
    Example 1
  </h2>
  <p class="govuk-body">
    The product is a standalone bottle with no secondary packaging.
  </p>
  <p class="govuk-body">
    You must supply an image of the bottle label. You can also supply a photo of the bottle.
  </p>
  <h2 class="govuk-heading-s">
    Example 2
  </h2>
  <p class="govuk-body">
    The product is a bottle in a box.
  </p>
  <p class="govuk-!-margin-bottom-1">
    You must supply an image of the bottle label. You can also supply:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>a photo of the bottle</li>
    <li>an image of the label on the box</li>
    <li>a photo of the packing</li>
  </ul>
<% end %>
