<div class="govuk-inset-text">You must upload an images of the product labels. You can also upload photos of the products.</div>
<p class="govuk-body">
  The images you provide must be in focus and all packaging text legible. If you are uploading multiple images, you must upload them all at the same time.
</p>
<p class="govuk-body">
  The product label and a photo of the product help the National Poisons Information Service identify the product.
</p>
<p class="govuk-body">
  You can upload up to 10 images. Each file can be up to 30MB and must be a JPG, PNG or PDF.
</p>
<p class="govuk-body">
  Upload an image of the label for each item in the kit.
</p>
<p class="govuk-body">
  The images you need to provide depend on the type of product and how it is packaged.
</p>
