<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      The ZIP file upload feature for files from the EU will be removed on Monday 4 October.
      If you have any remaining ZIP files to upload or ZIP file errors to resolve, you must do this before this date.
    </p>
  </div>
</div>
