<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Frame formulations
    </h1>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default"><div class="govuk-accordion__controls"><button type="button" class="govuk-accordion__open-all" aria-expanded="false">Open all<span class="govuk-visually-hidden"> sections</span></button></div>
      <% FrameFormulations::ALL.each_with_index do |formulation, i| %>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
                <%= formulation["name"] %>
                <span class="govuk-accordion__icon" aria-hidden="true"></span>
              </button>
            </h2>
          </div>

          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <ol class="govuk-list">
              <% formulation["data"].each_with_index do |subformulation, j| %>
                <li class="govuk-!-padding-bottom-1"><a href="<%= "/frame_formulations/#{i}/#{j}/#{name_to_url(subformulation["formulationName"])}" %>"><%= subformulation["formulationName"]%></a></li>
              <% end %>
            </ol>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
