.mspsds-block-link {
  display: inline-block;
  @include govuk-responsive-margin(7, "bottom");
  @include govuk-responsive-margin(4, "right");
  .govuk-button ~ & {
    @include govuk-responsive-padding(2);
  }
}
