.sortable {
  th {
    white-space: nowrap;

    .sort-link {
      color: govuk-colour("black");
      text-decoration: none;

      &::after {
        display: inline-block;
        text-align: right;
        font-size: 0.8em;
        width: 1.2em;
        content: '';
      }

      &.asc::after {
        content: '▲';
      }

      &.desc::after {
        content: '▼';
      }
    }
  }

  th,
  td {
    &.right-aligned {
      text-align: right;
    }
  }
}
