<%= render "cannot_notify" do %>
  <p>
    If you are using a nanomaterial as a colourant, preservative or UV filter it must conform to the restrictions set out in the annexes.
    If this is a new ingredient, follow the guidance below.
  </p>
<% end %>
