<% if can_view_archive_history? && archive_history.length > 0 %>
<section id="product-table" class="govuk-!-margin-top-7">
  <h2 class="govuk-heading-m">Archive history</h2>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">List of archive and un-archive events</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date &amp; time</th>
        <th scope="col" class="govuk-table__header">Archive action</th>
        <th scope="col" class="govuk-table__header">Team member</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% archive_history.each do |entry| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= display_date_time(entry.object["updated_at"]) %></td>
        <td class="govuk-table__cell">
          <% if entry.object["state"] == "archived" %>
            <strong>Archived:</strong> <%= get_archive_reason_name(entry.object["archive_reason"]) %>
          <% else %>
            <strong>Unarchived</strong>
          <% end %>
        <td class="govuk-table__cell"><%= entry.whodunnit %></td>
      </tr>
    <% end %>
    </tbody>
    <% if archive_history.length > 11 %>
      <tfoot class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date &amp; time</th>
        <th scope="col" class="govuk-table__header">Archive action</th>
        <th scope="col" class="govuk-table__header">Team member</th>
      </tr>
      </tfoot>
    <% end %>
  </table>
</section>
<% end %>
