<% notification.components.order(:id).each_with_index do |component, index| %>
  <%
    item_count = "Item #{index + 1}"
    component_title = if notification.is_multicomponent?
                        component.name.present? ? "#{item_count}: #{component.name}" : item_count
                      else
                        "Details"
                      end
  %>

  <% section_id = component.name&.parameterize.presence || item_count.parameterize %>
  <section id=<%= section_id %> class="govuk-!-margin-top-9 opss-grouping">
    <h3 class="govuk-heading-m opss-grouping__heading-m"><%= component_title %></h3>
    <% if show_ingredient_percentages %>
      <%= render 'component_with_percentages', component:, notification: %>
    <% else %>
      <%= render 'component_without_percentages', component:, notification: %>
    <% end%>
  </section>
<% end %>