<div class="govuk-!-margin-top-5">
  <dl class="govuk-!-margin-top-0 govuk-!-margin-bottom-0 opss-definition-list opss-definition-list--left">
    <% ingredients.each do |ingredient| %>
      <div class="govuk-!-margin-bottom-4">
        <dt class="govuk-!-font-weight-bold"><%= ingredient.inci_name %></dt>
        <% if ingredient.cas_number.present? %>
          <dd><abbr>CAS</abbr>: <%= ingredient.cas_number %> </dd>
        <% end %>
      </div>
    <% end %>
  </dl>
</div>
