<% content_for :page_title, "Search cosmetic products" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Search cosmetic products</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-2">
    <div id="search-hint" class="govuk-hint">
      Use one or more keywords to search for product notifications.
    </div>
    <%= form_with(method: :get) do |form| %>
      <div class="search-box">
        <%= form.text_field :q, class: "govuk-input", value: params[:q] %>
        <%= form.submit "Search", name: nil, class: "search-box--submit" %>
      </div>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <%= render "results", results: @notifications %>
</div>
