<% content_for :page_title, "Search cosmetic products" %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-full">
    <%= form_with(method: :get, html: { 'novalidate' => true }) do |form| %>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="q">
            Search cosmetic products
          </label>
        </h1>
        <div id="search-hint" class="govuk-hint">
          Use one or more keywords to search for product notifications.
        </div>

        <div class="govuk-input__wrapper opss-search__wrapper">
          <%= form.text_field :q, class: "govuk-input govuk-!-width-one-half", 'aria-describedby' => "search-hint", value: params[:q] %>
          <button class="govuk-button" data-module="govuk-button">
            <span class="govuk-visually-hidden">Search</span>
          </button>
        </div>
      </div>
    <% end %>
  </section>
</div>

<div class="govuk-grid-row">
  <%= render "results", results: @notifications %>
</div>
