= render "repeatable_info",
        title: 'Upload other files',
        scope: :file,
        model: @investigation,
        hide_break: true,
        other_text: 'Are there other files to report?',
        further_key: :further_other_files do |form|
  = render "file_page", form: form
