<% title = "Recovery code valid" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= govukNotificationBanner(html: '<h3 class="govuk-notification-banner__heading">Recovery code valid</h3>'.html_safe, type: "success") %>
    <p class="govuk-body"><strong>You have used <%= @recovery_codes_used %> of your 10 recovery codes.</strong></p>
    <p class="govuk-body"><strong>You have <%= @recovery_codes_remaining %> remaining.</strong></p>
    <p class="govuk-body">As recovery codes are intended to be used as a last resort, any authentication issues should be resolved as soon as possible.</p>
    <p class="govuk-body">Contact <a href="mailto:opss.enquiries@beis.gov.uk" class="govuk-link">opss.enquiries@beis.gov.uk</a> for further assistance, if required.</p>
    <%= govukButton(text: "Continue to your account", href: secondary_authentication_recovery_code_redirect_path) %>
  </div>
</div>
