{% extends "template.njk" %}

{% block pageTitle %}
  Service unavailable
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link href="/public/all.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="/public/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/public/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>
      <p class="govuk-body">
        We are currently updating the service. You will be able to use it again in an hour.
      </p>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/public/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
