<% content_for :page_title, "Examples - Market Surveillance & Product Safety" %>

<div class="example-page">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="breadcrumbs">
                <ol role="breadcrumbs">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/pages/example">Examples</a>
                    </li>
                </ol>
            </div>
            <h1 class="heading-xlarge">Frontend examples</h1>
            <p class="lede">Use 24px for a lead paragraph. There should only be one lead paragraph per page.</p>
            <p>The GOV.UK elements package supplies many utility classes to style your webpage to GOV.UK standards</p>
            <a class="govuk-button govuk-button-start" href="http://govuk-elements.herokuapp.com" role="govuk-button">
                See the docs
            </a>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2  class="heading-large">Breadcrumbs</h2>
            <p>
                All pages should have breadcrumbs (as seen at the top of this page).
            </p>
            <div class="breadcrumbs">
                <ol role="breadcrumbs">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#">Some Category</a>
                    </li>
                    <li>
                        <a href="#">The Parent Page</a>
                    </li>
                    <li>
                        <a href="#">The Current Page</a>
                    </li>
                </ol>
            </div>
            <div class="notice">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small">
                    Look at this icon!
                </strong>
            </div>
        </div>
        <div class="govuk-grid-column-one-third sidebar">
            <h2  class="heading-large">Side bar</h2>
            <p>
                It is easy to create a simple side bar by using the
                .govuk-grid-column-one-third class and setting the background colour.
            </p>
            <ul class="list list-bullet">
                <li>this is a list</li>
                <li>lists start with lowercase letters and don't end in full stops</li>
            </ul>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="heading-large">Tables</h2>
            <table>
                <thead>
                    <tr>
                    <th scope="col">Month you apply</th>
                    <th class="numeric" scope="col">Rate for vehicles</th>
                    <th class="numeric" scope="col">Rate for bicycles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">January</th>
                    <td class="numeric">£165.00</td>
                    <td class="numeric">£85.00</td>
                    </tr>
                    <tr>
                    <th scope="row">February</th>
                    <td class="numeric">£165.00</td>
                    <td class="numeric">£85.00</td>
                    </tr>
                    <tr>
                    <th scope="row">March</th>
                    <td class="numeric">£151.25</td>
                    <td class="numeric">£77.90</td>
                    </tr>
                    <tr>
                    <th scope="row">April</th>
                    <td class="numeric">£136.10</td>
                    <td class="numeric">£70.10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
