<% content_for :page_title, "Examples - Market Surveillance" %>

<div class="grid-row">
    <div class="column-full">
        <h1>Frontend Toolkit Examples</h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        Main content
    </div>
    <div class="column-third">
        Sidebar
    </div>
</div>
