<% content_for :page_title, "Manage documents - Market Surveillance & Product Safety" %>

<%= link_to "Back to #{@parent.class.name == "Investigation" ? "case" : @parent.class.name.downcase}", polymorphic_path(@parent), class: "govuk-back-link" %>

<%= render "page_heading", title: "Manage documents" %>

<%= link_to 'Add new document', new_associated_document_path(@parent), class: "add-document-link" %>

<div class="govuk-!-padding-top-8">
  <% if @parent.documents.attached? %>
    <%= render "table" %>
  <% else %>
    <p>No documents.</p>
  <% end %>
</div>
