<% content_for :page_title, "Manage documents - Market Surveillance & Product Safety" %>

<%= link_to 'Back', polymorphic_path(@parent), class: "govuk-back-link" %>

<h1 class="heading-xlarge">Manage documents</h1>

<%= link_to 'Add new document', new_associated_document_path(@parent), class: "add-document-link" %>

<%= render 'table' %>
