<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds opss-desktop-min-height--xs">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2" aria-describedby="cosmetic-products-hint">
      Ingredient – search
    </h1>
    <p id="cosmetic-products-hint" class="govuk-body opss-secondary-text govuk-!-margin-bottom-1">
      Search for an ingredient included in your cosmetic product notifications.
      <span class="govuk-!-font-size-16">(Compatible with notifications notified after 2 October 2022)</span>
    </p>
  </div>
</div>
