<% page_title = true ? "Upload images of the item labels" : "Upload an image of the product label" %>

<% page_title = true ? "Upload images of the item labels" : "Upload an image of the product label" %>


<h1 class="govuk-heading-xl">Upload images of the item labels</h1>
<h1 class="govuk-heading-xl">Upload an image of the product label</h1>
