- content_for :page_title, "Is the product specifically intended for children under 3 years of age"
- content_for :after_header do
  = link_to "Back", previous_wizard_path, class: "govuk-back-link"

- title_text = "Is the product specifically intended for children under 3 years of age?"

= form_with model: @notification, url: wizard_path, method: :put do |form|
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render "form_components/govuk_error_summary", form: form
      = render "components/govuk_fieldset",
              legend: { text: title_text, classes: "govuk-label--xl", isPageHeading: true } do
        = render "form_components/govuk_radios", form: form, key: :under_three_years,
                items: [{ text: "Yes", value: "true" },
                        { text: "No", value: "false" }]
        = form.submit "Continue", class: "govuk-button"
