- title = "Multi-item kits"
- content_for :page_title, title
- content_for :after_header do
  = link_to "Back", previous_wizard_path, class: "govuk-back-link"

= form_with model: @notification, url: wizard_path, method: :put do |form|
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      = render "form_components/govuk_error_summary", form: form

      h1.govuk-heading-xl = title

      p
        | Multi-item kits have items that need to be mixed together or used in a particular order for them to work.
      p[class="govuk-!-margin-bottom-1"]
        | Examples of multi-item kits include:
      ul.govuk-list.govuk-list--bullet
        li hair dye kits
        li skin peeling kits
        li permanent styling products
        li anti-ageing or revitalising kits
      p.govuk-inset-text
        | Where a set contains separate products that do not need to be mixed together or used in a particular order
          for the product to work, you’ll need to
        =< link_to "submit a separate notification for each product", \
          responsible_person_notifications_path(@notification.responsible_person),
                "data-topnav": "responsible_persons/notifications",
                class: "govuk-link--no-visited-state"

        | .

      = render "form_components/govuk_radios", form: form, key: :single_or_multi_component,
          fieldset: { legend: { text: "Is the product a multi-item kit?", classes: "govuk-label--m" } },
          items: [{ text: "Yes", value: "multiple" },
                  { text: "No, this is a single product", value: "single" }]
      = form.submit "Continue", class: "govuk-button"
