- content_for :page_title, "Edit case - Market Surveillance & Product Safety"
- content_for :after_header do
  = link_to "Back to case", @investigation, class: "govuk-back-link"
= render "investigation_heading", investigation: @investigation
h2.govuk-heading-l
  | Risk details
= render "form", investigation: @investigation
