- content_for :page_title, "Report unsafe product"
- content_for :after_header do
  = link_to "Back to list", investigations_path, class: "govuk-back-link"
= render "reporter_type_selection", reporter: @reporter, is_case: @investigation.is_case
