- content_for :page_title, "New document"
- content_for :after_header do
  = link_to "Back", @parent, class: "govuk-back-link"
= render "page_heading", title: "Enter document details"
= render "documents/metadata_form", document: @document_blob, show_delete: false, target_url: wizard_path
