<% title = @notification.is_multicomponent? ? "Upload images of the item labels" : "Upload an image of the product label" %>
<% render(partial: "head", locals: { title: title }) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(partial: "instructions", locals: { title: title }) %>

    <% if @notification.image_uploads.any? %>
      <table class="govuk-table" id="label-images-table">
        <caption class="govuk-table__caption govuk-heading-m">Label images</caption>
        <tbody class="govuk-table__body">
          <% @notification.image_uploads.each do |image| %>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-width-two-thirds" scope="row">
                  <%= link_to(image.filename, url_for(image.file), class: "govuk-link govuk-link--no-visited-state") %>
                </th>
                <td class="govuk-table__cell">
                  <%= link_to("Remove",
                              responsible_person_notification_product_image_upload_path(@responsible_person, @notification, image),
                              method: :delete) %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= render(partial: "form", locals: {
          submission_path: responsible_person_notification_product_images_path,
          submission_method: :patch }) %>
  </div>
</div>
