<% title = @notification.is_multicomponent? ? "Upload images of the item labels" : "Upload an image of the product label" %>
<% render(partial: "head", locals: { title: title }) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(partial: "instructions", locals: { title: title }) %>

    <%= render(partial: "form", locals: {
          submission_path: responsible_person_notification_product_image_upload_index_path,
          submission_method: :post }) %>
  </div>
</div>
