<% page_title = "You are already signed in to the Product safety database" %>
<% content_for :page_title, page_title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= page_title %></h1>

    <p class="govuk-body">Do you want to</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= link_to "Continue as #{current_user.name}", root_path %></li>
      <li>
        <%= form_with url: sign_out_before_accepting_invitation_user_path(params[:id]), method: :post do %>
          <%= hidden_field_tag :invitation, params[:invitation] %>
          <button class="button-link">Create a new account</button>
        <% end %>
      </li>
    </ul>

  </div>
</div>


