<% content_for :page_title, "Edit address - Market Surveillance & Product Safety" %>
<%= link_to 'Back to address', @address, :class => "govuk-back-link" %>

<%= render "business_heading", business: @business %>
<h2 class="govuk-heading-l">Address details</h2>

<%= render 'form', address: @address, business: nil %>
