<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
    Exact concentrations of the ingredients
  </h1>
  <p class="govuk-!-margin-bottom-3">To tell us about the exact concentrations, you’ll need to upload a PDF which lists the ingredients.</p>
  <h2 class="govuk-heading-m">
    What you’ll need to tell us
  </h2>
  <p class="govuk-!-margin-bottom-3">List every ingredient in order of the largest concentration to the smallest.</p>
  <p class="govuk-!-margin-bottom-1">
  For every ingredient tell us the:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>International Nomenclature of Cosmetic Ingredients (INCI) name</li>
    <li>Chemical Abstracts Service (CAS) number</li>
    <li>exact concentration (% w/w)</li>
  </ul>
  <div class="govuk-inset-text">
    <p class="">
    The National Poisons Information Service (NPIS) needs to know about some ingredients in the product – list these first.
    </p>
  </div>
</div>
<div class="govuk-grid-column-full">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Ingredients NPIS needs to know about
      </span>
    </summary>
    <div class="govuk-details__text">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        Alcohols
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">CAS Number</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Alcohol denatured <br> Including any substances used to denature the alcohol</td>
            <td class="govuk-table__cell">–</td>
            <td class="govuk-table__cell">Any</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Ethanol</td>
            <td class="govuk-table__cell">64‑17‑5</td>
            <td class="govuk-table__cell">Any</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Isopropanol</td>
            <td class="govuk-table__cell">67‑63‑0</td>
            <td class="govuk-table__cell">Any</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">n‑Butyl alcohol</td>
            <td class="govuk-table__cell">71‑36‑3</td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">n‑Propyl alcohol (also known as Propyl alcohol)</td>
            <td class="govuk-table__cell">71‑23‑8</td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">t‑Butyl alcohol</td>
            <td class="govuk-table__cell">75‑65‑0</td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
        </tbody>
      </table>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        Cresols
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">CAS Number</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">m‑Cresol</td>
            <td class="govuk-table__cell">108‑39‑4</td>
            <td class="govuk-table__cell">More than 0.1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">o‑Cresol</td>
            <td class="govuk-table__cell">95‑48‑7</td>
            <td class="govuk-table__cell">More than 0.1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">p‑Cresol</td>
            <td class="govuk-table__cell">106‑44‑5</td>
            <td class="govuk-table__cell">More than 0.1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Mixed Cresols</td>
            <td class="govuk-table__cell">1319‑77‑3</td>
            <td class="govuk-table__cell">More than 0.1%&nbsp;w/w</td>
          </tr>
        </tbody>
      </table>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        Essential oils, Camphor, Eucalyptol or Menthol
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">CAS Number</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Essential oils</td>
            <td class="govuk-table__cell">–</td>
            <td class="govuk-table__cell">More than 0.5%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Camphor</td>
            <td class="govuk-table__cell">464‑49‑3, 76‑22‑2</td>
            <td class="govuk-table__cell">More than 0.15%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Eucalyptol</td>
            <td class="govuk-table__cell">470‑82‑6 </td>
            <td class="govuk-table__cell">More than 0.5%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Menthol</td>
            <td class="govuk-table__cell">1490‑04‑6, 2216‑51‑5, 89‑78‑1, 15356‑70‑4</td>
            <td class="govuk-table__cell">More than 0.5%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Total amount of essential oils, Camphor, Eucalyptol or Menthol</td>
            <td class="govuk-table__cell">–</td>
            <td class="govuk-table__cell">More than 0.5%&nbsp;w/w</td>
          </tr>
        </tbody>
      </table>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        Glycols and Glycol ethers
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">CAS Number</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Buteth‑2 acetate</td>
            <td class="govuk-table__cell">124‑17‑4</td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Butoxydiglycol</td>
            <td class="govuk-table__cell">112‑34‑5</td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Butoxyethanol</td>
            <td class="govuk-table__cell">111‑76‑2</td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Butoxyethyl acetate</td>
            <td class="govuk-table__cell">112‑07‑02</td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Diethoxydiglycol</td>
            <td class="govuk-table__cell">112‑36‑7</td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Dipropylene glycol</td>
            <td class="govuk-table__cell">110‑98‑5, 25265‑71‑8</td>
            <td class="govuk-table__cell">More than 10%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Dipropylene glycol dimethyl ether</td>
            <td class="govuk-table__cell">111109‑77‑4</td>
            <td class="govuk-table__cell">More than 10%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Ethoxydiglycol</td>
            <td class="govuk-table__cell">111‑90‑0</td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Ethoxydiglycol acetate</td>
            <td class="govuk-table__cell">112‑15‑2</td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Ethylene glycol only (also known as Glycol)</td>
            <td class="govuk-table__cell">107‑21‑1</td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Isobornyl dipropylene glycol ethers</td>
            <td class="govuk-table__cell">958872‑63‑4</td>
            <td class="govuk-table__cell">More than 10%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Methoxyisopropanol</td>
            <td class="govuk-table__cell">107‑98‑2</td>
            <td class="govuk-table__cell">More than 10%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Methoxyisopropyl acetate</td>
            <td class="govuk-table__cell">108‑65‑6</td>
            <td class="govuk-table__cell">More than 10%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">PPG‑2 methyl ether</td>
            <td class="govuk-table__cell">13429‑07‑7, 34590‑94‑8</td>
            <td class="govuk-table__cell">More than 10%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">PPG‑2 methyl ether acetate</td>
            <td class="govuk-table__cell">88917‑22‑0</td>
            <td class="govuk-table__cell">More than 10%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Propylene glycol</td>
            <td class="govuk-table__cell">57‑55‑6</td>
            <td class="govuk-table__cell">More than 10%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Propylene glycol butyl ether</td>
            <td class="govuk-table__cell">5131‑66‑8</td>
            <td class="govuk-table__cell">More than 10%&nbsp;w/w</td>
          </tr>
        </tbody>
      </table>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        Hydrocarbon solvents
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">CAS Number</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Cyclohexane</td>
            <td class="govuk-table__cell">110‑82‑7</td>
            <td class="govuk-table__cell">More than 5%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Hydrogenated didodecene</td>
            <td class="govuk-table__cell">151006‑61‑0</td>
            <td class="govuk-table__cell">More than 5%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Isopentane </td>
            <td class="govuk-table__cell">78‑78‑4</td>
            <td class="govuk-table__cell">More than 5%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Pentane</td>
            <td class="govuk-table__cell">109‑66‑0</td>
            <td class="govuk-table__cell">More than 5%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Toluene</td>
            <td class="govuk-table__cell">108‑88‑3</td>
            <td class="govuk-table__cell">More than 5%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Turpentine</td>
            <td class="govuk-table__cell">8006‑64‑2, 9005‑90‑7, 8052‑14‑0</td>
            <td class="govuk-table__cell">More than 5%&nbsp;w/w</td>
          </tr>
        </tbody>
      </table>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        Other
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">CAS Number</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Brucine sulfate</td>
            <td class="govuk-table__cell">4845‑99‑2</td>
            <td class="govuk-table__cell">Any</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Butanone (also known as MEK)  </td>
            <td class="govuk-table__cell">  78‑93‑3</td>
            <td class="govuk-table__cell">More than 5%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> Butyl acetate </td>
            <td class="govuk-table__cell">  123‑86‑4 </td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Butyrolactone</td>
            <td class="govuk-table__cell">  96‑48‑0</td>
            <td class="govuk-table__cell">More than 0.1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Chloroplatinic acid</td>
            <td class="govuk-table__cell">16941‑12‑1</td>
            <td class="govuk-table__cell">More than 0.1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Copper sulphate</td>
            <td class="govuk-table__cell">7758‑98‑7</td>
            <td class="govuk-table__cell">More than 0.1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Cyclohexanone</td>
            <td class="govuk-table__cell">  108‑94‑1 </td>
            <td class="govuk-table__cell">More than 5%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Dimethyltolylamine</td>
            <td class="govuk-table__cell">99‑97‑8</td>
            <td class="govuk-table__cell">More than 0.1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"> Ethyl acetate</td>
            <td class="govuk-table__cell">  141‑78‑6 </td>
            <td class="govuk-table__cell">More than 1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Ethyl ether</td>
            <td class="govuk-table__cell">  60‑29‑7</td>
            <td class="govuk-table__cell">More than 5%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Methyl acetate</td>
            <td class="govuk-table__cell">79‑20‑9</td>
            <td class="govuk-table__cell">More than 0.1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">MIBK (also known as Methyl isobutyl ketone) </td>
            <td class="govuk-table__cell">  108‑10‑1 </td>
            <td class="govuk-table__cell">More than 5%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Potassium chlorate</td>
            <td class="govuk-table__cell">3811‑04‑9</td>
            <td class="govuk-table__cell">More than 0.1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Sodium chlorate</td>
            <td class="govuk-table__cell">7775‑09‑9</td>
            <td class="govuk-table__cell">More than 0.1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Triethyl phosphate</td>
            <td class="govuk-table__cell">78‑40‑0</td>
            <td class="govuk-table__cell">More than 0.1%&nbsp;w/w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Vitamin A or any of its derivatives (calculated as Retinol)</td>
            <td class="govuk-table__cell">68‑26‑8, 11103‑57‑4</td>
            <td class="govuk-table__cell">More than 0.2%&nbsp;w/w or 0.09&nbsp;grams</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Xanthine derivatives (for example, caffeine, theophylline, theobromine, plant extracts containing xanthine derivatives, for example, paulinia cupana (guarana) extracts or powders)</td>
            <td class="govuk-table__cell">–</td>
            <td class="govuk-table__cell">More than 0.5%&nbsp;w/w</td>
          </tr>
        </tbody>
      </table>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        Ingredient groups
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-three-quarters">Alkaline agents (including ammonium hydroxide liberators)</td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">Any</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-three-quarters">Cationic surfactants with 3 or 4 chains or groups with a length shorter than Carbon 12 (including straight, branched, cyclic or aromatic groups) if the surfactant is for non‑preservative purposes</td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">Any</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-three-quarters">Compounds that release hydrogen peroxide</td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">Any</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-three-quarters">Fluoride compound (calculated as fluorine)</td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">Any</td>
          </tr>
        </tbody>
      </table>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        Any ingredients acting as
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-three-quarters">Anti‑dandruff agents</td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">Any</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-three-quarters">Anti‑hair loss agents</td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">Any</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-three-quarters">Anti‑pigmenting and depigmenting agents</td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">Any</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-three-quarters">Chemical exfoliating agents</td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">Any</td>
          </tr>
        </tbody>
      </table>
    </div>
  </details>
</div>
