<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
    Ingredients the National Poisons Information Service needs to know about</h1>
  <p>
  The National Poisons Information Service (NPIS) needs to know the exact concentrations (% w/w) of some ingredients that might be in the product. This information is used to help treat people who might accidentally be affected by them.
  </p>
</div>
