$navbar-link-colour: #ffffff;

@mixin de-buttonify() {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  font-family: inherit;
  cursor: pointer;
}

.sign-out-link {
  font-size: 16px;
  font-weight: 700;

  &:not(:focus) {
    color: $navbar-link-colour;
  }

  &:hover {
    text-decoration: underline;
  }

  @include de-buttonify();
  @include govuk-link-common;
  padding: 0;
}
