<% title = "Accessibility Statement" %>
<% content_for :page_title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Accessibility statement for Submit cosmetic product notifications</h1>
    <p class="govuk-body">This statement applies to the <a href="https://submit.cosmetic-product-notifications.service.gov.uk" class="govuk-link govuk-link--no-visited-state">https://submit.cosmetic-product-notifications.service.gov.uk</a> subdomain.
    </p>
    <p class="govuk-body">
      This website is run by the Office for Product Safety and Standards. We want as many people as possible to be able to use this website. For example, that means you should be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet" style="margin-left: 20px">
      <li>change colors, contrast levels and fonts using browser or device settings</li>
      <li>zoom in up to 400% without the text spilling off the screen</li>
      <li>navigate most of the website using a keyboard or speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and Voiceover)</li>
    </ul>
    <p class="govuk-body">
      We’ve also made the website text as simple as possible to understand.
    </p>
    <p class="govuk-body">
      <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">AbilityNet</a> has advice on making your device easier to use if you have a disability.
    </p>
    <h2 class="govuk-heading-m">How accessible the Submit cosmetic product notifications service is</h2>
    <p class="govuk-body">
      Some contents of the Submit Cosmetic Product Notifications are not fully accessible.
    </p>
    <p class="govuk-body">
      Some content is not visible but is focused by keyboard, focus order is inconsistent on some
      pages, and there is overlapping content.
    </p>

    <h2 class="govuk-heading-m">Feedback and contact information</h2>
    <p class="govuk-body">
      If you find any problems that are not listed on this page or think we are not meeting the
      accessibility requirements, contact <a href="mailto:opss.enquiries@businessandtrade.gov.uk" class="govuk-link govuk-link--no-visited-state">opss.enquiries@businessandtrade.gov.uk</a> .
    </p>
    <p class="govuk-body">
      If you request a response, we will aim to reply within 2 working days.
    </p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public
      Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018
      (the ‘accessibility regulations’). If you’re not happy with how we respond to your
      complaint, <a title="https://www.equalityadvisoryservice.com/" href="https://www.equalityadvisoryservice.com/" target="_blank" rel="noopener noreferrer nofollow">contact the Equality Advisory and Support Service (EASS).</a>
    </p>
    <h2 class="govuk-heading-m">Technical information about the accessibility of the Submit Cosmetic Product Notifications</h2>
    <p class="govuk-body">
      <abbr>OPSS</abbr> is committed to making its websites accessible, in accordance with the Public
      Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>

    <h2 class="govuk-heading-m">Compliance status</h2>
    <p class="govuk-body">
      The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2
      AA standard.
    </p>
    <p class="govuk-body">
      The Submit cosmetic product notifications service is partially compliant with the Web
      Content Accessibility Guidelines (WCAG) 2.2 AA standard, due to the non-compliances
      and exemptions listed in non-accessible content section.
    </p>

    <h2 class="govuk-heading-m">Non-accessible content</h2>
    <p class="govuk-body">
      The content listed below is non-accessible for the following reasons.
    </p>
    <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
    <ul class="govuk-list govuk-list--bullet" style="margin-left: 20px">
      <li>The color contrast ratio of a few elements is less than 4.5:1. This fails WCAG 2.2
        success criterion 1.4.3 (Contrast (Minimum)).</li>
      <li>Some content requiring user input lacks appropriate labels or instructions. This fails
        WCAG 2.2 success criterion 3.3.2 (Labels or Instructions).</li>
      <li>Some content does not have an accessible name to help users identify its purpose
        and reference it. This fails WCAG 2.2 success criterion 4.1.2 (Name, Role, Value).</li>
      <li>Some users who having cognitive difficulty might find it difficult to enter correct
        password, no mechanism for show password is present in login page. This fails
        WCAG 2.2 success criterion 3.3.8 (Accessible authentication).</li>
      <li>Having multiple "Skip to main content" links, such as one at the top of the page and
        another at the start of the menu items, can be confusing for screen reader users.
        This fails WCAG 2.2 success criterion 2.4.1(Bypass Blocks).</li>
      <li>Some buttons with same name present for navigation options on same page may
        cause confusion to the users. This fails WCAG 2.2 success criterion 3.2.3
        (Consistent Navigation). </li>
      <li>Some links do not have a clear or appropriate purpose. This fails WCAG 2.2 success
        criterion 2.4.4 Link Purpose (In Context)</li>
      <li>Some pages lack a consistent focus order. This fails WCAG 2.2 success criterion
        2.4.3 (Focus Order).</li>
      <li>Keyboard focus becomes trapped after certain actions are performed. This fails
        WCAG 2.2 success criterion 2.1.2 (No Keyboard Trap).</li>
      <li>Some command functions are not being executed. This fails WCAG 2.2 success
        criterion 3.2.1 (On Focus)</li>
      <li>Some content is being overlapped. This fails WCAG 2.2 success criterion 2.4.11
        Focus not obscured (minimum)</li>
      <li>Focus on some content is not visible to the user. This fails WCAG 2.2 success
        criterion 2.4.7 (Focus Visible).</li>
    </ul>
    We plan to fix these issues by August 2024.
    <h2 class="govuk-heading-m">Disproportionate burden</h2>
    <p class="govuk-body">
      Not applicable
    </p>

    <h2 class="govuk-heading-m">Content that is not within the scope of the accessibility regulations</h2>
    <h3 class="govuk-heading-s">PDFs and other documents</h3>
    <p class="govuk-body">
      The accessibility regulations do not require us to fix PDFs or other documents published
      before 23 September 2018 if they’re not essential to providing our services.
    </p>

    <h3 class="govuk-heading-s">Live video</h3>
    <p class="govuk-body">
      We do not plan to add captions to live video streams because live video is exempt from
      meeting the accessibility regulations.
    </p>

    <h1 class="govuk-heading-m">What we’re doing to improve accessibility</h1>
    <p class="govuk-body">
      We encourage businesses to ensure that the documents they upload to the Submit
      cosmetic product notifications service are accessible.
    </p>
    <p class="govuk-body">
      We also plan to fix the existing accessibility issues soon to remove the barriers for
      differently abled people.
    </p>

    <h1 class="govuk-heading-m">Preparation of this accessibility statement</h1>
    <p class="govuk-body">
      This statement was prepared on 9th August 2024. It was last reviewed on 9th August 2024.
    </p>
    <p class="govuk-body">
      This website was last tested on January 2024. The test was carried out by TestingXperts.
      The most viewed pages were tested using automated testing tools and by manual methods
      by the testing team to check the compliance of the website with Web Content Accessibility
      Guidelines WCAG 2.2 AA standard.
    </p>
  </div>
</div>
