<% title = "Privacy policy" %>
<% content_for :page_title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Cookies policy</h1>

    <h2 class="govuk-heading-m">What are cookies?</h2>

    <p>Cookies are small text files that are saved on your device to help the website perform a number of functions.
        On your first visit to our website, a popup banner asked you to accept our use of cookies and similar
        technologies. The information these cookies collect is based on your browsing device’s IP-address
        (hardware identifier).</p>

    <h2 class="govuk-heading-m">What do the cookies do?</h2>

    <p>The cookies we use:</p>

    <p>DO NOT: store personally identifiable information about you; store information such as passwords
        (and cannot) allow us to access other information stored on your device, store information about
        you others could understand, compromise your security</p>

    <p>DO: allow us to see how many people use our website and monitor their activities; allow us to see
        how people arrive at our site (e.g. via search engine); allow us to gather geographic location and
        browser information.</p>

    <h2 class="govuk-heading-m">What cookies does this website use?</h2>

    <p>This website uses two types of cookies:</p>

    <ol class="govuk-list govuk-list--number">
      <li>Persistent cookies, which remain on your device to capture and remember your preferences (if chosen)
          for any future re-visit (e.g. your location).
      <li>Session cookies, which are deleted when your browser is closed. These cookies are used for analytical
          services provided by Google Inc. in the US on our behalf. The analysis allows an insight into where and
          how our website is used so that we can continuously work on its improvement. Google will not associate
          your IP address with any other data held by Google. However, if you do not wish to be part of this analysis,
          feel free to amend your browser settings or
        <% link_to "install a browser plug-in", "https://tools.google.com/dlpage/gaoptout" %> to opt-out.
    </ol>

    <p>The cookies we use, what they are used for and how long they remain on your device are set out below:</p>

    <h3 class="govuk-heading-m">Google Analytics</h3>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Lifetime of cookie</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_ga</td>
          <td class="govuk-table__cell">This helps us count how many people visit our site by tracking if you’ve visited before.</td>
          <td class="govuk-table__cell">2 years</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_gid</td>
          <td class="govuk-table__cell">This helps us count how many people visit our site by tracking if you’ve visited before.</td>
          <td class="govuk-table__cell">24 hours</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_gat</td>
          <td class="govuk-table__cell">Used to manage the rate at which page view requests are made.</td>
          <td class="govuk-table__cell">1 minute</td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-m">Cosmetic product notifications service</h3>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Lifetime of cookie</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_cosmetics_session</td>
          <td class="govuk-table__cell">This stores information relating to recent actions that have been taken.
              For example, partial information from a wizard.</td>
          <td class="govuk-table__cell">When you close your browser</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">two-factor-*</td>
          <td class="govuk-table__cell">Required for secondary authentication method; There could be several instances of this cookies</td>
          <td class="govuk-table__cell">When you close your browser</td>
        </tr>
      </tbody>
    </table>

    <%= render 'cookie_form' %>

    <p>You can also <%= link_to "opt out of Google Analytics cookies", "https://tools.google.com/dlpage/gaoptout" %> here.</p>

    <h2 class="govuk-heading-m">How are cookies deleted?</h2>

    <p>To delete or stop cookies being placed on your device, please check the help menu of your internet browser.
        Blocking cookies may reduce the functionality of this website.</p>

    <h2 class="govuk-heading-m">For more information</h2>

    <p>To learn more about cookies and similar technologies, we recommend you visit:
      <%= link_to "http://www.allaboutcookies.org/", "http://www.allaboutcookies.org/" %></p>

  </div>
</div>
