<% title = "How to create an ingredient CSV file" %>
<% content_for :page_title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">How to create an ingredient <abbr>CSV</abbr> file</h1>
    <p class="govuk-body govuk-!-margin-bottom-7 opss-secondary-text">
      When creating a new product notification you can add the ingredient information using a <abbr title="Comma Separated Values">CSV</abbr> file.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="page-content">
    <p class="govuk-body">
      During the process of creating a product notification, you can choose to enter the ingredient information manually - using the forms provided - or by uploading the ingredients using a <abbr>CSV</abbr>
      file.
    </p>
    <p class="govuk-body">
      Once the <abbr>CSV</abbr> file has been successfully uploaded and confirmed, you will need to edit an existing ingredient <abbr>CSV</abbr> file with the updated ingredient information and re-upload or create a new <abbr>CSV</abbr> file with updated ingredient information and upload the file.
    </p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">
      Adding the ingredients
    </h2>
    <p class="govuk-body-s opss-secondary-text">
      Add each ingredient individually. For every ingredient:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 opss-secondary-text">
      <li>If it is shown as an ingredient on the product label, it must be added to the notification as an ingredient</li>
      <li>Use the International Nomenclature of Cosmetic Ingredients (<abbr>INCI</abbr>) name, where available</li>
      <li>Confirm if the ingredient is listed in the National Poisons Information Service (<abbr>NPIS</abbr>) tables and if it is an ingredient the <abbr>NPIS</abbr> needs to know about</li>
    </ul>
    <a href="#skip-to-form" class="govuk-skip-link opss-skip-link">Skip poisonous ingredients tables.</a>
    <%= render 'responsible_persons/notifications/components/build/ingredients_npis_needs_to_know' %>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body">
      You can create a <abbr>CSV</abbr> file by using spreadsheet software or a simple text file editor. The <abbr>CSV</abbr> file you create must follow this format:
    </p>

    <% if params[:csv_file_type] == "exact" %>
    <section class="govuk-!-margin-top-7 opss-grouping">
      <h3 class="govuk-heading-s opss-grouping__heading-s">
        Template: exact concentrations
      </h3>
      <p class="govuk-body-s">
        There are four fields for each ingredient (in this order):
      </p>
      <ol class="govuk-list govuk-list--number govuk-!-font-size-16">
        <li>Ingredient name</li>
        <li>Exact concentration (<span title="Percentage weight by weight">% w/w</span>)</li>
        <li><abbr>CAS</abbr> number</li>
        <li>Is it listed in the <abbr>NPIS</abbr> tables and does the <abbr>NPIS</abbr> need to know about it?</li>
      </ol>
      <h4 class="govuk-heading-s">Requirements</h4>
      <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
        <li>The file name extension must be <code>.csv</code></li>
        <li>The first (header) row must be kept and not modified</li>
        <li>Each ingredient must be listed on its own row</li>
        <li>Each ingredient must have 4 comma separated fields</li>
        <li>Fields must not have any leading or trailing spaces</li>
        <li>An ingredient name is always required and there must be no duplication of ingredient names</li>
        <li>If the ingredient name contains a comma, the whole ingredient name must be surrounded by quote marks (eg. "My ingredient, 1")</li>
        <li>An exact concentration (<span title="Percentage weight by weight">% w/w</span>) value is always required and it must be a decimal number (no percent sign)</li>
        <li>A CAS number is optional, but if provided, it must only contain numbers and dashes</li>
        <li>The fourth value must be either <code>true</code> or <code>false</code><span class="govuk-visually-hidden">. </span> <br class="opss-br-desktop">(The value is <code>true</code> if the <abbr>NPIS</abbr> <em>does</em> need to know about it)</li>
      </ul>
      <h4 class="govuk-heading-s">Example</h4>
      <code>
        Ingredient name 1,35,497-19-8,false<br>
        Ingredient name 2,55,7732-18-5,false<br>
        Ingredient name 3,10,,true<br>
      </code>
      <p class="govuk-body-s govuk-!-margin-top-5">
        Download an example <abbr>CSV</abbr> file: <a href="/examples/template-1-example.csv" class="govuk-link govuk-link--no-visited-state opss-downloads" download=""><span class="opss-download-link-sm"></span>Exact concentrations</a>
      </p>
    </section>
    <% end %>

    <% if params[:csv_file_type] == "exact-with-multiple-shades" %>
    <section class="govuk-!-margin-top-7 opss-grouping">
      <h3 class="govuk-heading-s opss-grouping__heading-s">
        Template: exact concentrations with shades
      </h3>
      <p class="govuk-body-s">
        There are five fields for each ingredient (in this order):
      </p>
      <ol class="govuk-list govuk-list--number govuk-!-font-size-16">
        <li>Ingredient name</li>
        <li>Exact concentration (<span title="Percentage weight by weight">% w/w</span>)</li>
        <li><abbr>CAS</abbr> number</li>
        <li>Is it listed in the <abbr>NPIS</abbr> tables and does the <abbr>NPIS</abbr> need to know about it?</li>
        <li>Is it used for different shades?</li>
      </ol>
      <h4 class="govuk-heading-s">Requirements</h4>
      <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
        <li>The file name extension must be <code>.csv</code></li>
        <li>The first (header) row must be kept and not modified</li>
        <li>Each ingredient must be listed on its own row</li>
        <li>Each ingredient must have 5 comma separated fields</li>
        <li>Fields must not have any leading or trailing spaces</li>
        <li>An ingredient name is always required and there must be no duplication of ingredient names</li>
        <li>If the ingredient name contains a comma, the whole ingredient name must be surrounded by quote marks (eg. "My ingredient, 1")</li>
        <li>An exact concentration (<span title="Percentage weight by weight">% w/w</span>) value is always required and it must be a decimal number (no percent sign)</li>
        <li>A CAS number is optional, but if provided, it must only contain numbers and dashes</li>
        <li>The fourth value must be either <code>true</code> or <code>false</code><span class="govuk-visually-hidden">. </span> <br class="opss-br-desktop">(The value is <code>true</code> if the <abbr>NPIS</abbr> <em>does</em> need to know about it)</li>
        <li>The fifth value must be either <code>true</code> or <code>false</code><span class="govuk-visually-hidden">. </span> <br class="opss-br-desktop">(The value is <code>true</code> if the ingredient is used across different shades of the product)</li>
      </ul>
      <h4 class="govuk-heading-s">Example</h4>
      <code>
        Ingredient name 1,35,497-19-8,false,false<br>
        Ingredient name 2,55,7732-18-5,false,true<br>
        Ingredient name 3,10,,true,false<br>
      </code>
      <p class="govuk-body-s govuk-!-margin-top-5">
        Download an example <abbr>CSV</abbr> file: <a href="/examples/template-2-example.csv" class="govuk-link govuk-link--no-visited-state opss-downloads" download=""><span class="opss-download-link-sm"></span>Exact concentrations with shades</a>
      </p>
    </section>
    <% end %>

    <% if params[:csv_file_type] == "range" %>
    <section class="govuk-!-margin-top-7 opss-grouping">
      <h3 class="govuk-heading-s opss-grouping__heading-s">
        Template: range concentrations
      </h3>
      <p class="govuk-body-s">
        Ingredients CSV upload for ingredients with range concentrations is not yet available.
      </p>
    </section>
    <% end %>

  </div>
</div>
