<% title = "How to create an ingredient CSV file" %>
<% content_for :page_title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">How to create an ingredient <abbr>CSV</abbr> file</h1>
    <p class="govuk-body govuk-!-margin-bottom-7 opss-secondary-text">
      When creating a new product notification, you can add the ingredient information using a <abbr title="Comma Separated Values">CSV</abbr> file.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="page-content">
    <p class="govuk-body">
      During the process of creating a product notification, you can choose to enter the ingredient information manually - using the forms provided - or by uploading the ingredients using a <abbr>CSV</abbr> file which you can find here:
      <br />
      <% if params[:csv_file_type] == "exact" %>
        <a href="/examples/template-1-example.csv" class="govuk-link govuk-link--no-visited-state opss-downloads" download=""><span class="opss-download-link-sm"></span>Exact concentrations</a>
      <% elsif params[:csv_file_type] == "exact-with-multiple-shades" %>
        <a href="/examples/template-2-example.csv" class="govuk-link govuk-link--no-visited-state opss-downloads" download=""><span class="opss-download-link-sm"></span>Exact concentrations with shades</a>
      <% elsif params[:csv_file_type] == "range" %>
        <a href="/examples/template-3-example.csv" class="govuk-link govuk-link--no-visited-state opss-downloads" download=""><span class="opss-download-link-sm"></span>Concentration ranges</a>
      <% end %>
    </p>
    <p class="govuk-body">
      Once the <abbr>CSV</abbr> file has been successfully uploaded, if you need to change your ingredient information you will need to amend and re upload the <abbr>CSV</abbr>.
    </p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">
      Adding the ingredients
    </h2>
    <p class="govuk-body-s opss-secondary-text">
      Add each ingredient individually. For every ingredient:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 opss-secondary-text">
      <li>If it is shown as an ingredient on the product label, it must be added to the notification as an ingredient</li>
      <li>Use the International Nomenclature of Cosmetic Ingredients (<abbr>INCI</abbr>) name, where available</li>
      <li>Confirm if the ingredient is listed in the National Poisons Information Service (<abbr>NPIS</abbr>) tables and if the <abbr>NPIS</abbr> need to be notified about this ingredient</li>
    </ul>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body opss-secondary-text">
          <a href="/help/npis_tables" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">NPIS tables (opens in a new tab)</a>
        </p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body">
      You can create a <abbr>CSV</abbr> file by using spreadsheet software or a simple text file editor. The <abbr>CSV</abbr> file you create must follow this format:
    </p>

    <% if params[:csv_file_type] == "exact" %>
      <%= render "csv_instructions_exact" %>
    <% elsif params[:csv_file_type] == "exact-with-multiple-shades" %>
      <%= render "csv_instructions_shades" %>
    <% elsif params[:csv_file_type] == "range" %>
      <%= render "csv_instructions_range" %>
    <% end %>
  </div>
</div>
