<% title = "Privacy Notice" %>
<% content_for :page_title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"><%= title %></h1>

    <p>This Privacy Notice sets out how we use Personal Data in relation to the Cosmetic Product Notifications Service ("Service"), and the rights of the individuals whose Personal Data we use.  This Privacy Notice contains the information we are required to provide such individuals to comply with Articles 13 and 14 of the UK General Data Protection Regulation ("UK GDPR").  We encourage you to review this Privacy Notice carefully.</p>

    <h2 class="govuk-heading-m">Who we are</h2>

    <p>The Office of Product Safety and Standards ("OPSS", "we", "our" and "us") is part of the Department for Business and Trade ("DBT") and it is the UK's national product regulator. Our primary purpose is to protect people and places from product-related harm, enabling trade and growth by ensuring consumers and businesses can buy and sell products with confidence.</p>

    <p>The OPSS is responsible for operating the Service.The Service is a system which allows businesses to notify the OPSS about their cosmetic products so that these can be legally placed on the UK market. The OPSS maintains a database of these notifications.</p>

    <p>The DBT is the Data Controller of the Personal Data we collect and use in relation to the Service. This means DBT has overall responsibility for ensuring our use of Personal Data is lawful, and we have secure systems in place to protect it.  For further information, you can contact the DBT's Data Protection Officer ("DPO") using the details set out at the end of this Privacy Notice. </p>

    <h2 class="govuk-heading-m">Our privacy commitment</h2>

    <p>OPSS is committed to protecting your privacy. We handle Personal Data in line with the UK GDPR at all times, as well as other laws which protect information and privacy. This includes, for example, the Data Protection Act 2018 and the Privacy and Electronic Communications (EC Directive) Regulations 2003.</p>

    <p>In addition to the commitments set out in this Privacy Notice, as part of DBT we also operate in accordance with the data privacy rules set out in the DBT Personal Information Charter.</p>

    <h2 class="govuk-heading-m">Other websites</h2>

    <p>Please note this Privacy Notice only applies to the OPSS' collection and use of Personal Data in relation to the Service. Information about how the OPSS processes Personal Data in relation to other services or gov.uk websites is set out in alternative privacy notices, accessible at the bottom of each website page.
       Please ensure you have reviewed and understand the applicable privacy notice to the service you are using.
    </p>


    <h2 class="govuk-heading-m">What Personal Data is</h2>

    <p>
      "Personal Data" is defined under the UK GDPR as any information relating to an identified, or identifiable individual. It includes information which on its own may not identify you, but which could lead to your identification if considered in combination with other pieces of information. It includes, but is not limited to information, such as your name, contact details, address and, IP address.
    </p>

    <p>
      It is our intention to be transparent about how we collect and use Personal Data, regardless of whether we have collected it from you directly or it has been provided to us by a third party.
    </p>

    <h2 class="govuk-heading-m">How we collect your Personal Data</h2>

    <p>We collect Personal Data when individuals use the Service to make notifications. The Service is available for use by the staff members or representatives of manufacturers, importers and distributors ("Businesses"). We refer to these individuals as "Responsible Persons".</p>

    <p>Responsible Persons provide us with their own Personal Data, as well as Personal Data relating to the designated point of contact for the Business they are employed by or representing.<p/>

    <h2 class="govuk-heading-m">What Personal Data we collect</h2>

    <p>We collect the following types of Personal Data:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the names, email addresses and telephone numbers of all Responsible Persons who create an account to use the Service;</li>
      <li>the name, email address and phone number of each Business' designated 'contact person';</li>
      <li>any questions, queries or feedback you might provide if you contact us;</li>
      <li>the Internet Protocol ("IP") address of Responsible Persons who use the Service, and details of which version of web browser they use;</li>
      <li>information on how the Service Website, cookies and page tagging techniques are used (please see the 'How we use analytics' section below for more information).</li>
    </ul>

    <h2 class="govuk-heading-m">What Special Category Personal Data we collect</h2>

    <p>
      Under Article 9 of the UK GDPR, certain types of Personal Data are subject to additional protections ("Special Category Personal Data"). We do not currently process any Special Category Personal Data in relation to the Service. If this changes, and we consider it necessary to process your Special Category Personal Data, we will be notify you of the details of any such processing and the legal basis on which we rely to do so.
    </p>

    <h2 class="govuk-heading-m">How we use your Personal Data</h2>

    <p>We use Personal Data for the following purposes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to maintain accounts for Responsible Persons who use the Service;</li>
      <li>to consider and respond to any questions, queries or feedback we receive;</li>
      <li>to contact you in relation to notifications you have made or which relate to your Business, including for example where healthcare concerns have been raised about a cosmetic product;</li>
      <li>to monitor compliance with product safety legislation and regulation (i.e. manufacturing cosmetic products safely);</li>
      <li>to contact you about potential enforcement action relating to a cosmetic product;</li>
      <li>to share it with other public bodies or parties involved in monitoring or regulating cosmetic products to assist them with discharging their functions, where we deem it appropriate to do so;</li>
      <li>to comply with our legal obligations, including for example where the law requires us to use or disclose Personal Data for reporting purposes or in relation to court proceedings; and</li>
      <li>to analyse the way in which the Service and Service Website is used, as further described in the next section.</li>
    </ul>


    <h2 class="govuk-heading-m">How we use analytics</h2>

    <p>We use Google Analytics software to collect information about how individuals use the Service Website ("Analytics Data"). This includes information about: (i) the pages you visit; (ii), how long you spend on each page; (iii), how you got to the Service Website; and (iv), what you click on while you're visiting the Service Website. </p>

    <p>We do not collect or store your Personal Data as part of the analytics process so this information cannot be used to identify who you are.</p>

    <p>We collect Analytics Data in order to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>improve the Service Website by monitoring how you use it, for example by improving its search functions;</li>
      <li>gather feedback to improve our the Service; </li>
      <li>for example our email alerts, respond to any feedback you send us, if you’ve asked us to;</li>
      <li>send email alerts to users who request them;</li>
      <li>allow you to access the Cosmetic product notifications service and enter data as well as provide you with information.</li>
    </ul>

    <h2 class="govuk-heading-m">What legal bases we rely on</h2>

    <p>In order for our use of Personal Data to be lawful, we are required to satisfy one or more of the lawful bases for processing which are prescribed by Article 6(1) of the UK GDPR.</p>

    <p>The lawful basis we primarily rely on for processing Personal Data in relation to the Service is Article 6(1)(e) of the processing is necessary for the performance of a task carried out in the public interest or in the exercise of our official authority. Our legal powers under the Product Safety and Metrology etc. (Amendment) (EU-Exit) Regulations 2019 are relevant in this regard, as they afford us the discretion to [add ].</p>

    <p>To the extent we use Personal Data to comply with law, whether in the context of proceedings or otherwise, the lawful basis we rely on is Article 6(1)(c), that processing is necessary for compliance with a legal obligation to which the OPSS is subject.  For clarity, we do not rely on this legal basis for our day-to-day management of the Service, we only rely on it as and when the law requires us to disclose or use Personal Data in a particular way.</p>

    <p>When we receive, respond to and act upon feedback and questions relating to the Service, and when we process Analytics Data, the lawful basis we rely on is Article 6(1)(f), that processing is necessary for our legitimate interests.  This is to ensure we can monitor and improve the Service and Service Website.</p>

    <h2 class="govuk-heading-m">Who we share your Personal Data with</h2>

    <p>From time to time,we share Personal Data with the following parties, for the reasons outlined:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the National Poisons Information Service (NPIS) for healthcare purposes;</li>
      <li>Market Surveillance Authorities so that they can investigate or alert people to product safety issues;</li>
      <li>third party service providers who process Personal Data on our behalf, including our IT services provider;</li>
      <li>scientific advisers that offer opinions to the Secretary of State on cosmetic ingredients;</li>
      <li>other government departments for reporting purposes; and</li>
      <li>individuals or parties we may be required to share Personal Data with to comply with our legal obligations such as a court, party to a proceeding or public body tasked with preventing fraud or other crime.</li>
    </ul>

    <p>We ensure that any third parties with whom we share Personal Data to process it on our behalf adopt equivalent or superior data protection standards to our own.</p>

    <h2 class="govuk-heading-m">Where your Personal Data is processed and stored</h2>

    <p> We host the Service and any Personal Data we collect in relation to it within the UK.
        We choose our systems and providers carefully to make sure that your Personal Data is as safe as possible while under our control.
        At present, we use Platform as a Service product for hosting the Service.
    </p>

    <h2 class="govuk-heading-m">Overseas transfers</h2>

    <p>As noted in the previous section, we store Personal Data within the UK.  We do not send or share your Personal Data outside of the UK. If this changes, we will be notify you of the details of any such transfer and the mechanisms and protections in place to ensure the security of your Personal Data.</p>

    <h2 class="govuk-heading-m">How long we keep your Personal Data</h2>

    <p>Under the UK GDPR, we are only permitted to retain your Personal Data for as long as needed to fulfil the purposes for which we collected. This is subject to statutory or professional retention periods which may require us to retain certain types of information for longer, or directions from law enforcement authorities related to proceedings.</p>

    <p>We retain Personal Data in relation to the Service for [XXX] from the date on which we received it, following which we review our ongoing need to retain it on a [XXX] basis.  When we review our ongoing need to retain it, we consider:</p>

      <ul class="govuk-list govuk-list--bullet">
      </ul>

    <h2 class="govuk-heading-m">How we protect your Personal Data and keep it secure</h2>

    <p>
      To comply with our legal obligations under the UK GDPR, we are required to have appropriate technical and organisational measures in place to protect your Personal Data.  We are committed to doing all that we can to keep your Personal Data secure, and have set out below some examples of the measures we have in place:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to prevent unauthorised access or disclosure of your Personal Data, we use varying levels of encryption and run regular penetration tests to assess our security standards;</li>
      <li>access to the Service is restricted to those of our staff members who have a genuine need to access it, including by using passwords and unique login credentials; and</li>
    </ul>

    <h2 class="govuk-heading-m">Your information rights</h2>

    <p>Under the UK GDPR, you have a number of rights in relation to your Personal Data. These include the right to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be informed about how we use your Personal Data;</li>
      <li>obtain access to your Personal Data that we hold;</li>
      <li>request that your Personal Data is corrected if you believe it is incorrect, incomplete, or inaccurate;</li>
      <li>request that we erase your Personal Data in the following circumstances:</li>
        <ul class="govuk-list govuk-list--bullet">
            <li>It is no longer necessary for the purposes for which we originally collected it;</li>
            <li>We are relying on our legitimate interests as the legal basis for processing your Personal Data, and you object to our processing and there is no overriding compelling ground which enables us to continue;</li>
            <li>We have processed it unlawfully (i.e., in breach of the requirements of the data protection legislation);</li>
            <li>It is necessary to delete it to comply with a legal obligation;</li>
        </ul>
      <li>Ask us to restrict our processing activities where you consider that:</li>
        <ul class="govuk-list govuk-list--bullet">
            <li>Your Personal Data is inaccurate;</li>
            <li>Our processing is unlawful, and you oppose its erasure;</li>
            <li>We no longer need your Personal Data, but you require us to keep it to enable you to establish, exercise, or defend a legal claim;</li>
            <li>You have raised an objection to our use of your Personal Data and we are considering whether we have legitimate grounds which override your objection;</li>
        </ul>
      <li>Request a copy of certain Personal Data that you have provided to us in a commonly used electronic format, if we are relying on your consent or the performance of a contract for processing it;</li>
      <li>Object to our processing of your Personal Data where we are relying on our legitimate interests or our performance of a public task, in which case we will carry out an assessment to determine whether we have overriding legitimate grounds which entitle us to continue to process your Personal Data; and</li>
      <li>Not be subject to automated decisions which produce legal effects or which could have a similarly significant effect on you.</li>
    </ul>

    <p>If you would like further information on your rights, or the circumstances in which they apply or may be restricted, please contact our DPO for further information.</p>

    <h2 class="govuk-heading-m">Changes to this Privacy Notice</h2>

    <p>From time to time, we may change this Privacy Notice. In that case, the 'last updated' date at the bottom of this page will also change.  For this reason, it is important you regularly check this page for updates.</p>

    <p>Any changes to this Privacy Notice will apply to you and your Personal Data immediately. If these changes affect how your Personal Data is processed, OPSS will take reasonable steps to let you know.</p>

    <p>You can see previous versions of this page.[here]</p>

    <h2 class="govuk-heading-m">Contact us or make a complaint</h2>

    <p>Please contact our DPO if you have any questions about anything in this Privacy Notice, think that your Personal Data has been misused or mishandled or you wish to make a complaint.  Our DPO's details are: </p>

    <p class="govuk-!-margin-bottom-0">Data Protection Officer</p>
    <p class="govuk-!-margin-bottom-0">Department for Business and Trade</p>
    <p class="govuk-!-margin-bottom-0">Admiralty Place</p>
    <p class="govuk-!-margin-bottom-0">London</p>
    <p class="govuk-!-margin-bottom-0">SW1A 2DY</p>
    <p class="govuk-!-margin-bottom-0">Email: <% mail_to "data.protection@trade.gov.uk" %></p>

    <p>You can also have the right to complain to the Information Commissioner,the UK's independent regulator of information rights. Their details are set out below:</p>


    <p class="govuk-!-margin-bottom-0">Information Commissioner’s Office</p>
    <p class="govuk-!-margin-bottom-0">Wycliffe House</p>
    <p class="govuk-!-margin-bottom-0">Water Lane</p>
    <p class="govuk-!-margin-bottom-0">Wilmslow</p>
    <p class="govuk-!-margin-bottom-0">Cheshire SK9 5AF</p>
    <p class="govuk-!-margin-bottom-0">Email: <%= mail_to "casework@ico.org.uk" %></p>
    <p class="govuk-!-margin-bottom-0">Telephone: 0303 123 1113</p>
    <p class="govuk-!-margin-bottom-0">Textphone: 01625 545860</p>


    <p>This Privacy Notice was last updated on:  2024. </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l" />

    <h1 class="govuk-heading-l">Cookies policy</h1>

    <h2 class="govuk-heading-m">What are cookies?</h2>

    <p>Cookies are small text files that are saved on your device to help the website perform a number of functions.
        On your first visit to our website, a popup banner asked you to accept our use of cookies and similar
        technologies. The information these cookies collect is based on your browsing device’s IP-address
        (hardware identifier).</p>

    <h2 class="govuk-heading-m">What do the cookies do?</h2>

    <p>The cookies we use:</p>

    <p>DO NOT: store personally identifiable information about you; store information such as passwords
        (and cannot) allow us to access other information stored on your device, store information about
        you others could understand, compromise your security</p>

    <p>DO: allow us to see how many people use our website and monitor their activities; allow us to see
        how people arrive at our site (e.g. via search engine); allow us to gather geographic location and
        browser information.</p>

    <h2 class="govuk-heading-m">What cookies does this website use?</h2>

    <p>This website uses two types of cookies:</p>

    <ol class="govuk-list govuk-list--number">
      <li>Persistent cookies, which remain on your device to capture and remember your preferences (if chosen)
          for any future re-visit (e.g. your location).
      <li>Session cookies, which are deleted when your browser is closed. These cookies are used for analytical
          services provided by Google Inc. in the US on our behalf. The analysis allows an insight into where and
          how our website is used so that we can continuously work on its improvement. Google will not associate
          your IP address with any other data held by Google. However, if you do not wish to be part of this analysis,
          feel free to amend your browser settings or
        <% link_to "install a browser plug-in", "https://tools.google.com/dlpage/gaoptout" %> to opt-out.
    </ol>

    <p>The cookies we use, what they are used for and how long they remain on your device are set out below:</p>

    <h3 class="govuk-heading-m">Google Analytics</h3>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Lifetime of cookie</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_ga</td>
          <td class="govuk-table__cell">This helps us count how many people visit our site by tracking if you’ve visited before.</td>
          <td class="govuk-table__cell">2 years</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_gid</td>
          <td class="govuk-table__cell">This helps us count how many people visit our site by tracking if you’ve visited before.</td>
          <td class="govuk-table__cell">24 hours</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_gat</td>
          <td class="govuk-table__cell">Used to manage the rate at which page view requests are made.</td>
          <td class="govuk-table__cell">1 minute</td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-m">Cosmetic product notifications service</h3>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Lifetime of cookie</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_cosmetics_session</td>
          <td class="govuk-table__cell">This stores information relating to recent actions that have been taken.
              For example, partial information from a wizard.</td>
          <td class="govuk-table__cell">When you close your browser</td>
        </tr>
      </tbody>
    </table>

    <p>You can <%= link_to "opt out of Google Analytics cookies", "https://tools.google.com/dlpage/gaoptout" %>.</p>

    <h2 class="govuk-heading-m">How are cookies deleted?</h2>

    <p>To delete or stop cookies being placed on your device, please check the help menu of your internet browser.
        Blocking cookies may reduce the functionality of this website.</p>

    <h2 class="govuk-heading-m">For more information</h2>

    <p>To learn more about cookies and similar technologies, we recommend you visit:
      <%= link_to "http://www.allaboutcookies.org/", "http://www.allaboutcookies.org/" %></p>

  </div>
</div>
