= render "repeatable_info",
        title: "Record corrective action",
        model: @corrective_action,
        scope: :corrective_action,
        other_text: "Are there other actions to report?",
        hide_break: false,
        further_key: :further_corrective_action do |form|
  .govuk-grid-row
    .govuk-grid-column-two-thirds-from-desktop
      = render "investigations/corrective_actions/form", form: form,
              corrective_action: @corrective_action,
              investigation: @investigation,
              file_model: @file_model,
              allow_product_linking: false,
              allow_business_linking: false
