= render "repeatable_info",
        title: "Risk assessment details",
        scope: :file,
        model: @investigation,
        other_text: "Are there other risk assessments to report?",
        further_key: :further_risk_assessments,
        hide_break: true do |form|
  = render "file_page", form: form
