- content_for :page_title, "Report an unsafe or non-compliant product"

= form_with model: @investigation, scope: :businesses, url: wizard_path, method: :put, local: true do |form|
  .govuk-grid-row#which-businesses-page
    .govuk-grid-column-two-thirds-from-desktop
      = render "form_components/govuk_error_summary", form: form
      h1.govuk-heading-xl
        span.govuk-caption-xl Report an unsafe or non-compliant product
        | Supply chain information
      ruby:
        html_other = capture do
                    render "form_components/govuk_input", key: :other_business_type, form: form,
                    value: @other_business_type,
                    label: { text: "Other type", classes: "govuk-visually-hidden" }
        end
        assign_items = [
        { key: "retailer",
          text: "Retailer",
          checked: @selected_businesses.include?("retailer") },
        { key: "distributor",
          text: "Distributor",
          checked: @selected_businesses.include?("distributor") },
        { key: "importer",
          text: "Importer",
          checked: @selected_businesses.include?("importer") },
        { key: "manufacturer",
          text: "Manufacturer",
          checked: @selected_businesses.include?("manufacturer") },
        { key: "other",
          text: "Other",
          conditional: { "html": html_other },
          checked: @selected_businesses.include?("other") },
        # Previously there was a divider between these two checkboxes.
        # There should not be dividers in checkboxes on the design system so they have been removed.
        { key: "none",
          text: "None of the above",
          checked:  @selected_businesses.include?("none") }]
      = render "form_components/govuk_checkboxes", form: form, key: :which_business,
                    fieldset: { legend: { text: "Which parts of the chain do you know about?",
                                          classes: "govuk-fieldset__legend--l",
                                          isPageHeading: true } },
                    items: assign_items
  = form.submit "Continue", class: "govuk-button"
