- content_for :page_title, "Responsible Person"
- content_for :after_header do
  = render "layouts/navbar"
.govuk-grid-row
  .govuk-grid-column-two-thirds[class='govuk-!-padding-bottom-3']
    h1.govuk-heading-xl
      | Responsible person
.govuk-grid-row
  .govuk-grid-column-full
    table.govuk-table
      tbody.govuk-table__body
        tr.govuk-table__row
          th.govuk-table__header[class="govuk-!-width-one-third" scope="row"]
            | Responsible person
          td.govuk-table__cell
            = @responsible_person.name
        tr.govuk-table__row
          th.govuk-table__header[scope="row"]
            | Address
          td.govuk-table__cell
            - @responsible_person.address_lines.each do |address_line|
              = address_line
              br
    = render "notifications/contact_persons_list", contact_persons: @responsible_person.contact_persons
