/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *  require_tree .
 *= require_self
 */

$govuk-images-path: "";
$govuk-fonts-path: "";

$govuk-global-styles: true;

@import "govuk-frontend/govuk/all";
@import "app_cards";
@import "search";
@import "sortable_table";

.opss-nojs-hide {
  display: none;
}

body.js-enabled .opss-nojs-hide {
  display: inline;
}

.govuk-header nav {
  float: right;
}

.govuk-header__navigation {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  button {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    color: govuk-colour("white");

    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: inherit;
    cursor: pointer;

    @include govuk-link-common;

    text-decoration: none;
  }
}

.opss-bordered-form-group {
  border: 1px solid $govuk-border-colour;
}

.opss-sortable-table th .govuk-link {

  &:link,
  &:visited,
  &:focus,
  &:active,
  &:hover {
    color: govuk-colour("black");
    text-decoration: none;
  }
}

.opss-info-panel {
  border: 1px solid $govuk-border-colour;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
}
