<% unless current_page.last? %>
  <li class="opss-pagination-link__wrap opss-pagination-link--next">
    <a href="<%= url %>" class="govuk-link govuk-link--no-visited-state">
      <span>Next page</span><span class="govuk-visually-hidden">:</span> <span>Page <%= current_page + 1 %> of <%= total_pages %></span>
    </a>
  </li>
<% end %>
