<%= render "signed_in_as_another_user" do %>
  <%= form_with url: sign_out_before_resetting_password_path(reset_password_token: reset_password_token), method: :post do %>
    <button class="button-link govuk-link">
      <%= "Reset password for #{@user_with_reset_token.name}" %>
    </button>
  <% end %>
<% end %>