<% if errors&.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 id="error-summary-title" class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% errors.details.keys.each do |attribute| %>
          <li><%= link_to errors.full_messages_for(attribute).first, "##{attribute}-error" %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
