<% entities_list.each do |entity| %>
  <% if local_assigns[:key_name].present? && local_assigns[:value_name].present? %>
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="row">
        <%= entity[key_name] %>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <% if value_name.start_with?("range")%>
          <%= display_concentration_range(entity[value_name]) %>
        <% else %>
          <%= display_concentration(entity[value_name], used_for_multiple_shades: entity["used_for_multiple_shades"]) %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
