- entities_list.each do |entity|
  - if local_assigns[:key_name].present? && local_assigns[:value_name].present?
    tr.govuk-table__row
      th.govuk-table__header[class="govuk-!-width-one-half" scope="row"]
        = entity[key_name]
      td.govuk-table__cell.govuk-table__cell--numeric
        = "#{entity[value_name]} %w/w"
