- if entities_list.blank?
  | None
- elsif entities_list.count == 1
  - if local_assigns[:key_name].present? && local_assigns[:value_name].present?
    .entity-list
      dt
        = entities_list.first[key_name]
      dd
        = entities_list.first[value_name]
  - else
    = entities_list.first
- else
  ul.govuk-list.govuk-list--bullet.entity-list
    - entities_list.each do |entity|
      - if local_assigns[:key_name].present? && local_assigns[:value_name].present?
        li
          dl
            dt
              = entity[key_name]
            dd
              = entity[value_name]
      - else
        li
          = entity
