<% page_title = "You are already signed in" %>
<% page_title(page_title) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= page_title %></h1>

    <p class="govuk-body">Do you want to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= link_to "Continue as #{current_user.name}", root_path, class: "govuk-link" %></li>
      <li>
        <%= yield %>
      </li>
    </ul>

  </div>
</div>
