<% content_for :page_title, "Investigation products - Market Surveillance & Product Safety" %>

<%= link_to 'Back to investigation', @investigation, class: "govuk-back-link" %>

<%= render "investigation_heading", investigation: @investigation %>

<h2 class="govuk-heading-l govuk-!-margin-bottom-2">Manage products</h2>
<%= link_to 'Add product', search_investigation_products_path(@investigation) %>

<div class="govuk-!-padding-top-8">
    <% if @investigation.products.any? %>
        <% @investigation.products.each do |product| %>
            <%= render "product_summary", product: product, allow_removing: true %>
        <% end %>
    <% else %>
        <p>No products.</p>
    <% end %>
</div>
