<% content_for :page_title, "New product for investigation - Market Surveillance & Product Safety" %>
<%# The data attribute is used by JS to determine if there is an investigation %>
<div class="new-product-page products-search-form" data-investigation-id=<%= @investigation.id %>>

    <%= link_to 'Back to investigation', @investigation, class: "govuk-back-link link-back" %>

    <%= render "investigation_heading", investigation: @investigation %>
    <h2 class="govuk-heading-l">Add product</h2>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Product details</h3>
    <%= render 'products/form', product: @product, countries: @countries, form_model: [@investigation, @product] %>
</div>
