<a class="govuk-header__link govuk-header__link--service-name" href=<%= current_user.present? && current_user.has_completed_registration? ? products_redirect_responsible_persons_path : "#" %>>
  <%= @service_name %>
</a>
