/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require govuk-country-and-territory-autocomplete/dist/location-autocomplete.min.css
 *= require accessible-autocomplete/dist/accessible-autocomplete.min.css
 */

* {
    box-sizing: border-box;
}

$govuk-global-styles: true;
$govuk-assets-path: "/assets/govuk-frontend/assets/";
@import "govuk-frontend/all";

.dummy-column {
    height: 1px;
}

.min-height-column {
  min-height: 1px;
}

.search-background {
  background-color: govuk-colour("grey-3");
}

.not-implemented {
  // TODO MSPSDS-265: to comply with the GDS standards, components missing functionality are hidden
  display: none!important;
  color: govuk-colour("red");
  opacity: 0.2;
}

.right {
  float: right;
  margin-left: 2em;
}

.small-space-below {
  margin-bottom: 0.5em;
}

.large-space-below {
  margin-bottom: 2em;
}

.small-square-dark {
  height: 1.5em;
  width: 1.5em;
  font-size: 2em;
  text-align: center;
  color: govuk-colour("white");
  background-color: govuk-colour("grey-1");;
}

.small-square-light {
  height: 1.5em;
  width: 1.5em;
  font-size: 2em;
  text-align: center;
  color: govuk-colour("white");
  background-color: govuk-colour("grey-2");
}

.row-border-top {
  padding-top: 2em;
  border-top: 1px solid govuk-colour("grey-3");
}
