.document-without-preview {
  position: relative;
  width: 120px;
  height: 160px;
  vertical-align: top;

  .document-filetype {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 75px;
    height: 30px;
    color: govuk-colour("white");
    line-height: 30px;
    font-weight: bold;
    text-align: center;
  }
}

.document-processing-placeholder {
  background-color: govuk-colour("grey-1");
  color: govuk-colour("white");
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  vertical-align: top;
}

.document-list {
  .document-preview {
    vertical-align: top;
  }

  .document-details {
    vertical-align: top;

    .document-title,
    .document-updated {
      display: inline-block;
      color: inherit;
    }

    .edit-document-link {
      display: block;
    }

    .delete-document-link {
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }
  }
}
