$navbar-link-colour: #ffffff;

.sign-out-link {
  font-size: 16px;
  font-weight: 700;

  &:not(:focus) {
    color: $navbar-link-colour;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }

  @include remove-default-button-styling;
  @include govuk-link-common;
  text-decoration: none;
  padding: 0;
}

.govuk-header__navigation {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
