// Place all the styles related to the Investigations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media print
{
    #pager,
    form,
    .no-print
    {
        display: none !important;
        height: 0;
    }
    #pager,
    form,
    .no-print
    {
        page-break-before: always;
    }

    #pager,
    form,
    .break-after { 
        page-break-after: always;
      }
    #pager,
    form,
    h3, h4 {
        page-break-after: avoid;
      }
    #pager,
    form,
    pre, blockquote {
        page-break-inside: avoid;
      }


}