- content_for :page_title, "View business"
- content_for :after_header do
  = render "breadcrumbs_navigation", breadcrumbs: @breadcrumbs

= render "business_heading", business: @business

= render "components/tabs", tabs: [\
  Tab.new("full-detail", "Full detail", "Full detail", lambda { render "businesses/tabs/details" }),
  Tab.new("locations", "Locations (#{@business.locations.count})", "Locations",
  lambda { render "businesses/tabs/locations" }),
  Tab.new("contacts", "Contacts (#{@business.contacts.count})", "Contacts",
  lambda { render "businesses/tabs/contacts" }),
  Tab.new("cases", "Cases", "Cases", lambda { render "businesses/tabs/cases" })\
]
