<% title = "Confirmation token is expired or invalid" %>
<% page_title(title) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= title %></h1>
    Confirmation token is expired or invalid. If you never confirmed your account, you will receive new token by email.
  </div>
</div>
