<%= render "signed_in_as_another_user" do %>
  <%= form_with url: sign_out_before_confirming_email_path(confirmation_token: params[:confirmation_token]), method: :post do %>
    <button class="button-link govuk-link">
      Create new account
    </button>
  <% end %>
<% end %>
