<% content_for :page_title, "New activity - Market Surveillance & Product Safety" %>

<% content_for :after_header do %>
<%= link_to 'Back to case', @investigation, :class => "govuk-back-link" %>
<% end %>

<%= render "investigation_heading", investigation: @investigation %>

<h2 class="govuk-heading-l">New activity</h2>

<%= render 'form', activity: @activity, investigation: @investigation %>

