//This has been adapted from code from the Home Office Digital System
//https://home-office-digital-patterns.herokuapp.com/components/pagination

.pagination {

  * {
    padding: 15px 5px 10px 5px;
    margin-right: 15px;
  }

  .current {
    color:  $govuk-focus-text-colour;
    font-style: normal;
    font-weight: 700;
    pointer-events: none;
    cursor: default;

    &:hover,
    &:focus {
      color:  $govuk-focus-text-colour;
      background: none;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
  }
}

.pagination-links {
  a:visited {
    color: $govuk-link-colour;
  }
}
