nav {
  margin: -30px 0 30px;
}

.rp-links {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid $govuk-border-colour;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

  & > li {
    display: inline-block;

    a {
      color: $govuk-text-colour;
      display: inline-block;
      padding: 15px;
      margin-right: 0;
      text-decoration: none;
      font-weight: 700;
      font-size: 19px;

      &:hover {
        -webkit-box-shadow: inset 0 -5px 0 0 $govuk-link-hover-colour;
        -moz-box-shadow: inset 0 -5px 0 0 $govuk-link-hover-colour;
        box-shadow: inset 0 -5px 0 0 $govuk-link-hover-colour;
      }

      &:focus {
        outline: 0;
      }
    }

    &.app-navigation--current-page a,
    &.app-navigation--current-page a:hover {
      color: $govuk-link-colour;
      -webkit-box-shadow: inset 0 -5px 0 0 $govuk-link-colour;
      -moz-box-shadow: inset 0 -5px 0 0 $govuk-link-colour;
      box-shadow: inset 0 -5px 0 0 $govuk-link-colour;
    }
  }
}

.rp-name {
  float: right;
  padding: 15px;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .rp-name {
    float: left;
    width: 100%;
  }
}
