<% content_for :page_title, "Expired link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">This link has expired</h1>

    <p>Please ask the user who created the responsible person to resend the email</p>
  </div>
</div>
