<% if activities.any? %>
  <div class="timeline">
    <ul class="govuk-list">
      <% activities.each do |activity| %>
        <li>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><%= activity.activity_type.titleize %></h3>
          <p class="timeline-details govuk-!-margin-bottom-1">By <%= activity.source.name %>, <%= activity.created_at.to_s :long_ordinal %></p>
          <p><%= activity.notes %></p>
        </li>
      <% end %>
      <!-- A dummy item at the end adds the end blob to the timeline -->
      <li></li>
    </ul>
  </div>
<% else %>
  <p class="govuk-body">No activities.</p>
<% end %>