- if parent.documents.attached?
  table.govuk-table
    thead.govuk-table__head
      tr.govuk-table__row
        th.govuk-table__header[scope="col"]
          | Title
        th.govuk-table__header[scope="col"]
          | Upload date
        th.govuk-table__header[scope="col"]
    tbody.govuk-table__body
      - parent.documents.attachments.each do |document|
        = render "document_summary", document: document, parent: parent
- else
  p
    | No documents.
= link_to "Manage documents", associated_documents_path(parent), class: "no-print"
