<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-font-weight-bold"><%= document.metadata["title"] %></td>
  <td class="govuk-table__cell"><%= Time.parse(document.metadata["updated"]).strftime("%d/%m/%Y") if document.metadata["updated"].present? %></td>
  <td class="govuk-table__cell"><%= link_to "View", associated_document_path(parent, document), class: "document-link" %></td>
</tr>
