<% if parent.images.attached? %>
  <h2 class="govuk-heading-l govuk-!-margin-bottom-1"><%= "Images (#{parent.images.size})" %></h2>
  <% parent.images.attachments.limit(2).each do |image| %>
    <%= render "images/image", image: image, dimensions: "300x200" %>
  <% end %>
  <br/><br/>
<% else %>
  <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Images</h2>
  <p>No images.</p>
<% end %>
<%= link_to "Manage images", associated_images_path(parent), class: "govuk-link no-print" %>