<p class="govuk-heading-m govuk-!-margin-bottom-1">Case ID: <%= investigation.id %></p>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-1"><%= investigation.title %></h1>
<p class="govuk-!-margin-bottom-6">Created: <%= investigation.created_at.strftime("%d %B %Y") %></p>
