<p class="govuk-heading-m govuk-!-margin-bottom-1">Product</p>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-1"><%= product.name %></h1>
<p class="govuk-!-margin-bottom-6">Created: <%= product.created_at.strftime("%d %B %Y") %></p>
