
// Apply GOVUK typography:
// https://github.com/alphagov/accessible-autocomplete/issues/285
.autocomplete__wrapper * {
  @include govuk-typography-common();
}

// Override source to fix a bug:
// https://github.com/alphagov/accessible-autocomplete/issues/405)
.autocomplete__input--show-all-values {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

// Add a clear button.
.autocomplete-select-with-clear {
  width: calc(100% - 48px);
  display: inline-block;
}

.autocomplete__clear-button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  width: 44px;
  margin: 0 2px;
  display: inline-block;
  vertical-align: top;
}

.autocomplete__clear-button:focus {
  @include govuk-focused-text;
}

.autocomplete__clear-viewbox {
  cursor: pointer;
  width: 30px;
}

.autocomplete__clear-icon {
  stroke: govuk-colour("black");
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}
