.check-your-answers-table {
  th {
    vertical-align: top;
  }
}

.entity-list {
  dl {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0;
  }

  dt {
    word-break: break-word;
    clear: left;
    float: left;
    width: calc(100% - 10em);
    padding: 0 10px 0 0;
    margin: 0;
  }

  dd {
    float: left;
    width: 10em;
    margin: 0;
  }
}
