// Adapted from the GOV.UK Design System error summary component
// https://design-system.service.gov.uk/components/error-summary/

.confirmation-banner {
  @include govuk-text-colour;
  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(6, "top");
  @include govuk-focusable;

  border: $govuk-border-width-mobile solid govuk-colour("green");

  @include govuk-media-query($from: tablet) {
    border: $govuk-border-width solid govuk-colour("green");
  }
}

.confirmation-banner__title {
  @include govuk-font($size: 24, $weight: bold);

  margin-top: 0;
  margin-bottom: 0;
}

.confirmation-banner__body {
  @include govuk-font($size: 19);

  p {
    @include govuk-responsive-margin(4, "top");
    @include govuk-responsive-margin(4, "bottom");
  }
}
