$govuk-global-styles: true;
$govuk-assets-path: '~govuk-frontend/govuk/assets/';
@import "~govuk-frontend/govuk/all";

@import "remove-default-button-styling";
@import "autocomplete";
@import "badge";
@import "banner";
@import "button";
@import "search-box";
@import "header";
@import "text";
@import "cookie-banner";

@import "component_build";
@import "confirmation-banner";
@import "landing-page";
@import "navbar";
@import "pagination";
@import "products";
@import "responsible_persons";
@import "file_upload";
@import "check_your_answers_page";
@import "poison_centre_product_page";
@import "input-prefix-suffix";

@import "application/stylesheets/helpers/password-manager-hidden";

.no-wrap {
  white-space: nowrap;
}

.spinner {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-animation: spinner infinite 1.75s linear;
  -moz-animation: spinner infinite 1.75s linear;
  -o-animation: spinner infinite 1.75s linear;
  animation: spinner infinite 1.75s linear;
  border: 4px solid rgba(225, 225, 225, 0.9);
  border-top-color: rgba(0, 0, 0, .1);
  border-right-color: rgba(0, 0, 0, .1);
  border-bottom-color: rgba(0, 0, 0, .1);
  border-radius: 100%;
  margin-right: 10px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
