$govuk-global-styles: true;
$govuk-assets-path: '~govuk-frontend/govuk/assets/';
@import "~govuk-frontend/govuk/all";

@import "remove-default-button-styling";
@import "autocomplete";
@import "badge";
@import "banner";
@import "button";
@import "search-box";
@import "header";
@import "text";
@import "cookie-banner";

@import "component_build";
@import "confirmation-banner";
@import "landing-page";
@import "navbar";
@import "notification_build";
@import "pagination";
@import "products";
@import "responsible_persons";
@import "file_upload";
@import "check_your_answers_page";
@import "poison_centre_product_page";
@import "input-prefix-suffix";

@import "application/stylesheets/helpers/password-manager-hidden";

.no-wrap {
  white-space: nowrap;
}
