// Place all the styles related to the notification_build controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.kit-items-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
