//These are the opss MSA/Cosmetics css styles: I recommend simply copy and pasting this entire code into your local opss-msa scss file.
//Don't edit the local production copy as pasting this into it next/each time will overwrite your changes.
//This is the simplest way to maintain the new opss MSA/Cosmetics css styles. You won't have check anything. Just paste this whole thing into your opss psd scss file each time.

$opss-error-colour: #d4351c;
$opss-search-icon: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGkAAABGCAMAAAD4pkrrAAAAM1BMVEX///////////////////////////////////////////////////////////8AAAD///8VtYL2AAAAEHRSTlMgsFDgkKAwcGCAwEDw0BAAV51l0wAAAYhJREFUeF7t192OhCAMBeBRlJ9S8Lz/027A7DTjkrSZhL3iXBmjflKbBl/Xf2VJn1nSkpa0pCUtaUn+KGgpZ54qZYLE7fOkA5/Z6hypEnroSIm4U6VOkTrEod5udDc1QTqe9UqNIquUczbauUHnhx0bFS1STdwrsFtrdz70AIANUi1AIWLg0CEPgOuIj7pU4HIDExBMDR6GJd1UKbzfMbYjJQXA4CIHQJWKrJv0RQGg8VLhNQmQJsKmSuOvGQBkVSIpN8ggpYGUTZL05/61FC2Sk0tOpC+/U7JI6T20MvAy9B6PT+u9VxnUqcwol5ZzOHheAIoqXZ7BZ0pFBpoy9tzQD4rUVUILH2yg3KAndhlR2iz3IaW9Xt5A7X8Ht+euq9LznqhQGx6l2huEapSEUstXS6Mo/z7oRE+pVknO2yi4I+SYOiuUXbJvWSRCmSV7IkPCqRahrJLd2nCntE2SUFP25bnldoWaIUnGlEhzKJorCcV+piSUQHMkoegJrb/PJS1pSUta0pJ+AIynqm4LtSuyAAAAAElFTkSuQmCC';

main.govuk-main-wrapper {
  @include govuk-media-query($from: desktop) {
    min-height: 500px;
  }
}

.js-enabled {
  .opss-js-enabled-hidden {
    display: none;  /* @include govuk-visually-hidden; */
  }
}

.opss-minor-nav {
  display: block;
  width: 100%;
  padding: govuk-spacing(1) 0;

  #main-content & {
    margin-top: - govuk-spacing(4);
  }

  @include govuk-media-query($from: tablet) {
    #main-content & {
      margin-top: - govuk-spacing(7);
    }
  }
}

.opss-list--inline {
  width: 100%;
  text-align: right;
  li {
    display: inline-block;
    margin: 0;
    padding-left: govuk-spacing(1);
  }
}

.opss-skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.opss-no-wrap {
  white-space: nowrap;
}

.opss-button-link {
  background-color: transparent !important;
  border-bottom: none !important;
  box-shadow: none !important;
  padding: 0;
  color: $govuk-link-colour;
  text-decoration: underline;

  &:visited {
    color: $govuk-link-colour;
  }

  &:hover {
    color: $govuk-link-hover-colour;
    text-decoration: underline;
  }

  &:focus, &:active {
    outline: 3px solid transparent !important;
    color: govuk-colour("black") !important;
    background-color: govuk-colour("yellow") !important;
    box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black") !important;
    text-decoration: none !important;
    top: 0 !important;
  }
}

.opss-float-left {
  float: left;
}

.opss-float-right {
  float: right;
}

.opss-search__wrapper {
  .govuk-button {
    border: 2px solid govuk-colour("black");
    box-shadow: 0 0 0;
    border-left: 0;
    width: 40px;
    height: 40px;
    background-image: url($opss-search-icon);
    background-repeat: no-repeat;
    background-position: 2px 50%;
    background-color: govuk-colour("blue");

    &:hover {
      background-color: govuk-colour("dark-blue");
    }
    &:focus:not(:hover),
    &:active{
      outline: 3px solid govuk-colour("yellow");
      outline-offset: 0;
      box-shadow: inset 0 0 0 3px govuk-colour("black");
      background-color: govuk-colour("dark-blue");
      top: 0;
    }
  }

}

.opss-list--borders {
  li {
    padding: govuk-spacing(4) 0 govuk-spacing(2) 0;
    border-top: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");
  }
}

*[class^="govuk-heading"] + .opss-summary-list {
  margin-top: - govuk-spacing(1);
}

.opss-summary-list {
  margin-bottom: govuk-spacing(2);

  dt {
    font-weight: normal;
  }

  &.opss-summary-list--small {
    .govuk-summary-list__key,
    .govuk-summary-list__value {
      @include govuk-font($size: 16);

      @include govuk-media-query($from: 450px) {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
    .govuk-summary-list__key {
      @include govuk-media-query($from: tablet) {
        width: 40%;
      }
    }
    .govuk-summary-list__key,
    .govuk-summary-list__value {
      @include govuk-media-query($from: tablet) {
        padding-bottom: govuk-spacing(2);
      }
    }
    .govuk-summary-list__key,
    .govuk-summary-list__value {
      @include govuk-media-query($from: desktop) {
        padding-bottom: 0;
      }
    }
    @include govuk-media-query($from: desktop) {
      padding-left: govuk-spacing(6);
    }
  }
}

.govuk-radios--small.govuk-radios--conditional {
  .govuk-radios__conditional.govuk-form-group--error {
    border-left: 4px solid $opss-error-colour;
  }
  .govuk-radios__conditional.govuk-radios__conditional--hidden.govuk-form-group--error {//helps with smooth loading
    display: block !important;
  }
}








// ************ pagination starts
@mixin arrow-right($color) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="' + $color + '" viewBox="0 0 25 40" xml:space="preserve"><path class="opss-pagination__arrow" d="M0,4.3L16.2,20L0,35.8L4.4,40L25,20L4.5,0L0,4.3z"/></svg>');
}
@mixin arrow-left($color) {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block; transform: scale(-1,1)"  x="0px" y="0px" fill="' + $color + '" viewBox="0 0 25 40" xml:space="preserve"><path class="opss-pagination__arrow" d="M0,4.3L16.2,20L0,35.8L4.4,40L25,20L4.5,0L0,4.3z"/></svg>');
}

.opss-pagination-link { //Description: single links pagination with arrow
  width: 100%;
  display: block;
  text-align: right;
  border-top: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");
  padding: govuk-spacing(6) 0;

  ul {
    padding: 0;
    width: 100%;
  }

  .opss-pagination-link__wrap {
    font-size: inherit;
    display: inline-block;
    width: auto;

    position: relative;//for center txt
    z-index: 1;

    .govuk-link {
      text-decoration: none;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
      &:focus {
        outline: 0 solid $govuk-focus-colour;
        outline-offset: 0;
      }

      span {
        display: block;
        @include govuk-font($size: 16);
      }
      span:first-child {
        @include govuk-font($size: 19);
      }
    }

    &.opss-pagination-link--next {
      .govuk-link {
        padding: 0 govuk-spacing(7) 0 0;
        @include arrow-right(rgba($govuk-link-colour, 0.9));
        background-position: right center;
        background-repeat: no-repeat;
        text-align: right;

        &:hover, &:focus {
          @include arrow-right(rgba($govuk-link-hover-colour, 0.9));
        }
      }
    }

    &.opss-pagination-link--prev {
      float: left;

      .govuk-link {
        padding: 0 0 0 govuk-spacing(7);
        @include arrow-left(rgba($govuk-link-colour, 0.9));
        background-position: left center;
        background-repeat: no-repeat;
        text-align: left;

        &:hover, &:focus {
          @include arrow-left(rgba($govuk-link-hover-colour, 0.9));
        }
      }
    }

    &.opss-pagination-link--text {
      display: block;
      float: left;
      text-align: center;
      width: 100%;

      position: relative;
      z-index: 0;
      top: -65px;

      @include govuk-media-query($from: desktop) {
        top: - govuk-spacing(6);
      }
    }

    &.opss-pagination-link--text:first-child {
      margin-top: govuk-spacing(1);
      position: inherit;

      & + .opss-pagination-link--next {
        @include govuk-media-query($from: desktop) {
          top: -55px;
        }
      }
    }

  }

  &.opss-pagination-link--no-top-space {
    margin-top: - govuk-spacing(4);
  }
}
