<% content_for :page_title, "Edit product - Market Surveillance & Product Safety" %>
<%= link_to "Back to product", @product, :class => "govuk-back-link" %>

<%= render "product_heading", product: @product %>
<h2 class="govuk-heading-l">Product details</h2>

<%= render 'form', product: @product, countries: @countries, form_model: @product %>
