- content_for :page_title, "Products - Market Surveillance & Product Safety"
- content_for :after_header do
  = render "layouts/navbar"
= form_with(model: @search, scope: "", url: products_path, method: :get, \
    class: "search-background govuk-!-padding-3") do |form|
  - if @search.sort.present?
    = form.hidden_field :sort
    = form.hidden_field :direction
  .govuk-grid-row
    .govuk-form-group.govuk-grid-column-full
      = form.label "Search for Products", class: "govuk-label"
      = form.text_field :q, class: "govuk-input"
  .govuk-grid-row
    .govuk-form-group.govuk-grid-column-full[class="govuk-!-margin-bottom-0"]
      = form.submit "Search", name: nil, class: "govuk-button govuk-!-margin-bottom-0"
br
= form_with(url: confirm_merge_products_path, method: :get) do |form|
  = form.submit "Merge selected", name: nil, class: "govuk-button right"
  p
    = link_to "Create new product", new_product_path, class: "govuk-!-font-size-19 govuk-!-font-weight-bold"
  = render "table", products: @products, form: form
  = will_paginate @products
