<% content_for :page_title, "New product - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Products', products_path %>
        </li>
        <li>
            <%= link_to 'New', new_product_path %>
        </li>
    </ol>
</div>

<h1 class="heading-xlarge">New product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path, :class => "link-back" %>
