h1.govuk-heading-l Badge component
h2.govuk-heading-m Default
= render "components/hmcts_badge", text: "Information"

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m Red badge
= render "components/hmcts_badge", text: "Information", classes: "hmcts-govuk-badge--red"

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m Green badge
= render "components/hmcts_badge", text: "Information", classes: "hmcts-govuk-badge--green"

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m Grey badge
= render "components/hmcts_badge", text: "Information", classes: "hmcts-govuk-badge--grey"

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible
