h1.govuk-heading-l Banner component
h2.govuk-heading-m Default
= render "components/hmcts_banner", text: "Information for user"

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m Information
= render "components/hmcts_banner", text: "Information for user", type: :information

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m Information with html
- html_item = capture do
  h3 Banner Heading
  ul
    li Banner point 1
    li Banner point 2
    li Banner point 3

= render "components/hmcts_banner", html: html_item

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m Success
= render "components/hmcts_banner", text: "Successful action", type: :success

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m Warning
= render "components/hmcts_banner", text: "Warning body", type: :warning

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m With icon fallback text supplied
= render "components/hmcts_banner", text: "Warning body", iconFallbackText: "Warning icon fallback text", type: :warning

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible
