/ Examples in this file are based on https://github.com/alphagov/govuk-frontend/
/ blob/943ff14752f0a8a765ee3f90bc3e1ecd9205e36c/src/components/breadcrumbs/breadcrumbs.yaml

h1.govuk-heading-l Breadcrumbs component
h2.govuk-heading-m Default
= render "components/govuk_breadcrumbs",
        items: [\
          { text: "Section", href: '/section' },\
          { text: "Sub-section", href: '/section/sub-section' }\
        ]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m With one level
= render "components/govuk_breadcrumbs",
        items: [{ text: "Section", href: '/section' }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m With multiple levels
= render "components/govuk_breadcrumbs",
        items: [\
          { text: "Home", href: '/' },\
          { text: "Section", href: '/section' },\
          { text: "Sub-section", href: '/section/sub-section' },\
          { text: "Sub Sub-section", href: '/section/sub-section/sub-sub-section' }\
        ]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m Without the home section
= render "components/govuk_breadcrumbs",
        items: [\
          { text: "Service Manual", href: '/service-manual' }, \
          { text: "Agile Delivery", href: '/service-manual/agile-delivery' }\
        ]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m With the last breadcrumb as the current page
= render "components/govuk_breadcrumbs",
        items: [\
          { text: "Home", href: '/' }, \
          { text: "Passports, travel and living abroad", href: '/browse/abroad' },\
          { text: "Travel abroad" }\
        ]
