/ Exmpales in this file are based on  https://github.com/alphagov/govuk-frontend/
/           blob/943ff14752f0a8a765ee3f90bc3e1ecd9205e36c/src/components/checkboxes/checkboxes.yaml
h1.govuk-heading-xl Checkboxes Component
h2.govuk-heading-l Default
= render "components/govuk_checkboxes",
        name: "nationality",
        fieldset: { legend: { text: "What is your nationality?" } },
        #hint: { text: "If you have dual nationality, select all options that are relevant to you." },
        items: [{ name: "british", text: "British" },
                { name: "irish", text: "Irish" },
                { name: "other", text: "Citizen of another country" }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-l With id and name
= render "components/govuk_checkboxes",
        idPrefix: "nationality",
        name: "nationality",
        fieldset: { legend: { text: "What is your nationality?" } },
        hint: { text: "If you have dual nationality, select all options that are relevant to you." },
        items: [{ name: "british", id: "item_british", value: "british", text: "British" },
                { name: "irish", id: "item_irish", value: "irish", text: "Irish" }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-l with hints on items
= render "components/govuk_checkboxes",
        idPrefix: "example'",
        fieldset: { legend: { text: "What is your nationality" } },
        hint: { text: "If you have dual nationality, select all options that are relevant to you." },
        items: [{ name: "gateway",
                  id: "government_gateway",
                  value: "gov_gateway",
                  text: "Sign in with Government Gateway",
                  hint: { text: "You’ll have a user ID if you’ve registered for\
                   Self Assessment or filed a tax return online before." } },
                { name: "verify",
                  id: "govuk_verify",
                  value: "govuk_verify",
                  text: "Sign in with GOV.UK Verify",
                  hint: { text: "You’ll have an account if you’ve already proved your identity with either Barclays,\
                   CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity." } }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-l With disabled item
= render "components/govuk_checkboxes",
        name: "colours",
        items: [{ value: "red", text: "Red" },
                { value: "green", text: "Green" },
                { value: "blue", text: "Blue", disabled: true }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-l With legend as page heading
= render "components/govuk_checkboxes",
      name: "housing-act-medium-legend",
      fieldset: { legend: { text: "Which types of waste do you transport regularly?",
                  classes: "govuk-fieldset__legend--l",
                  isPageHeading: true } },
      hint: { text: "Select all that apply" },
      items: [{ value: "animal", text: "Waste from animal carcasses" },
              { value: "mines", text: "Waste from mines or quarries" },
              { value: "farm", text: "Farm or argicultural waste" }]
hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-l With a medium legend
= render "components/govuk_checkboxes",
    name: "waste",
    fieldset: { legend: { text: "Which types of waste do you transport regularly?",
                classes: "govuk-fieldset__legend--m" } },
    hint: { text: "Select all that apply" },
    items: [{ value: "animal", text: "Waste from animal carcasses" },
            { value: "mines", text: "Waste from mines or quarries" },
            { value: "farm", text: "Farm or agricultural waste" }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-l Without fieldset
= render "components/govuk_checkboxes",
      name: "colours",
      items: [{ value: "red", text: "Red" },
              { value: "green", text: "Green" },
              { value: "blue", text: "Blue" }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-l With all fieldset attributes
= render "components/govuk_checkboxes",
        idPrefix: "example-with-attributes",
        name: "example-with-attributes",
        fieldset: { classes: "app-fieldset--custom-modifier",
                    attributes: { "data-attribute": "value", "data-second-attribute": "second-value" },
                    legend: { text: "Have you changed your name?" } },
        hint: { text: "This includes changing your last name or spelling your name differently." },
        items: [{ value: "british", text: "British" },
                { value: "irish", text: "Irish" },
                { value: "other", text: "Citizen of another country" }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-l With very long option text
= render "components/govuk_checkboxes",
        name: "waste",
        hint: { text: "Nullam id dolor id nibh ultricies vehicula ut id elit." },
        errorMessage: { "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit." },
        fieldset: { legend: { text: "Maecenas faucibus mollis interdum?" } },
        items: [{ value: "nullam",
                  text: "Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam.\
                          Pellentesque ornare sem\
                          lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum.\
                          Donec id elit non mi porta gravida at\
                          eget metus." },
                { value: "aenean",
                  text: "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.\
                         Donec sed odio dui.\
                          Duis mollis, est non commodo luctus, nisi erat porttitor ligula,\
                          eget lacinia odio sem nec elit.\
                          Cum sociis natoque penatibus et magnis dis parturient montes,\
                          nascetur ridiculus mus. Aenean eu leo quam.\
                          Pellentesque ornare sem lacinia quam venenatis vestibulum.\
                          Cras mattis consectetur purus sit amet fermentum." },
                { value: "fusce",
                  text: "Fusce dapibus, tellus ac cursus commodo,\
                          tortor mauris condimentum nibh, ut fermentum massa justo sit\
                          amet risus. Etiam porta sem malesuada magna mollis euismod.\
                          Praesent commodo cursus magna, vel scelerisque nisl\
                          consectetur et. Etiam porta sem malesuada magna mollis euismod.\
                          Etiam porta sem malesuada magna mollis euismod.\
                          Donec sed odio dui. Sed posuere consectetur est at lobortis." }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-l With conditional items
- html_email = capture do
  label.govuk-label for="contact-email"
    | Email address
  input.govuk-input class="govuk-!-width-one-third" name="contact-email" type="text" id="contact-email"
- html_phone = capture do
    label.govuk-label for="contact-phone"
      | Phone number
    input.govuk-input class="govuk-!-width-one-third" name="contact-phone" type="text" id="contact-phone"
- html_text = capture do
    label.govuk-label for="contact-text-message"
      | Mobile phone number
    input.govuk-input class="govuk-!-width-one-third" name="contact-text-message" type="text" id="contact-text-message"
- contact_items = [{ value: "email",
                     text: "Email",
                     conditional: { "html": html_email } },
                   { value: "phone",
                     text: "Phone",
                     conditional: { "html": html_phone } },
                   { value: "text",
                     text: "Text message",
                     conditional: { "html": html_text } }]
= render "components/govuk_checkboxes",
        idPrefix: "how-contacted",
        name: "how-contacted",
        fieldset: { legend: { text: "How do you want to be contacted?" } },
        items: contact_items

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible
- contact_items = [{ value: "email",
                     text: "Email",
                     conditional: { "html": html_email } },
                   { value: "phone",
                     checked: true,
                     text: "Phone",
                     conditional: { "html": html_phone } },
                   { value: "text",
                     text: "Text message",
                     conditional: { "html": html_text } }]
h2.govuk-heading-l With conditional item checked
= render "components/govuk_checkboxes",
      idPrefix: "how-contacted-checked",
      name: "how-contacted-checked",
      fieldset: { legend: { text: "How do you want to be contacted?" } },
      items: contact_items

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible
- html_phone = capture do
  label.govuk-label for="contact-phone" Phone number
  span#contact-phone-error.govuk-error-message Problem with input
  input.govuk-input.govuk-input--error [
    class="govuk-!-width-one-third" name="contact-phone" type="text" id="contact-phone"]
- contact_items = [{ value: "email",
                     text: "Email",
                     conditional: { "html": html_email } },
                   { value: "phone",
                     checked: true,
                     text: "Phone",
                     conditional: { "html": html_phone } },
                   { value: "text",
                     text: "Text message",
                     conditional: { "html": html_text } }]
h2.govuk-heading-l With optional form-group classes showing group error
= render "components/govuk_checkboxes",
        idPrefix: "how-contacted-error",
        name: "how-contacted-error",
        formGroup: { classes: "govuk-form-group--error" },
        fieldset: { legend: { text: "How do you want to be contacted?" } },
        items: contact_items
