/ Exmpales in this file are based on  https://github.com/alphagov/govuk-frontend/
/           blob/943ff14752f0a8a765ee3f90bc3e1ecd9205e36c/src/components/radios/radios.yaml
h1.govuk-heading-l Radios Component
h2.govuk-heading-m Default
= render "components/govuk_radios",
        idPrefix: "example",
        name: "example",
        fieldset: { legend: { text: "Have you changed your name?" } },
        hint: { text: "This includes changing your last name or spelling your name differently." },
        items: [\
                { text: "Yes", value: "true" },
                { text: "No", value: "false" }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m Inline
= render "components/govuk_radios",
        idPrefix: "example'",
        classes: "govuk-radios--inline",
        name: "example-inline",
        fieldset: { legend: { text: "Have you changed your name?" } },
        hint: { text: "This includes changing your last name or spelling your name differently." },
        items: [\
                { value: "yes", text: "Yes" },
                { value: "no", text: "No", checked: true }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m Disabled
= render "components/govuk_radios",
        idPrefix: "example-disabled",
        name: "example-disabled",
        fieldset: { legend: { text: "Have you changed your name?" } },
        hint: { text: "This includes changing your last name or spelling your name differently." },
        items: [\
                { value: "yes", text: "Yes", disabled: true },
                { value: "no", text: "No", disabled: true }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m With Legend as heading
- html2 = capture do
  span.govuk-heading-s class="govuk-!-margin-bottom-1"
    | Part 2 of the Housing Act 2004
  | For properties that are 3 or more stories high and occupied by 5 or more people
- html3 = capture do
  span.govuk-heading-s class="govuk-!-margin-bottom-1"
    | Part 3 of the Housing Act 2004
  | For properties that are within a geographical area defined by a local council
= render "components/govuk_radios",
        "idPrefix": "housing-act",
        "name": "housing-act",
        "fieldset": { "legend": { "text": "Which part of the Housing Act was your licence issued under?",
                "classes": "govuk-fieldset__legend--l",
                "isPageHeading": true } },
        "hint": { "text": "Select one of the options below." },
        "items": [{ "value": "part-2", "html": html2 }, { "value": "part-3", "html": html3 }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m With a medium legend
= render "components/govuk_radios",
        "idPrefix": "housing-act", \
  "name": "housing-act-medium-legend", \
  "fieldset": { \
    "legend": { \
      "text": "Which part of the Housing Act was your licence issued under?", \
      "classes": "govuk-fieldset__legend--m"\
      }\
    }, \
  "hint": { \
    "text": "Select one of the options below."\
    },
        "items": [{ "value": "part-2", "html": html2 }, { "value": "part-3", "html": html3 }]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m With a divider
= render "components/govuk_radios",
        "idPrefix": "example-divider", \
  "name": "example-with-divider", \
  "fieldset": { \
    "legend": { \
      "text": "How do you want to sign in?"\
     }\
   }, \
  "items": [\
    { \
      "value": "governement-gateway", \
      "text": "Use Government Gateway"\
     }, \
    { \
      "value": "govuk-verify", \
      "text": "Use GOV.UK Verify"\
     }, \
    { \
      "divider": "or"\
     }, \
    { \
      "value": "create-account", \
      "text": "Create an account"\
     }\
  ]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m With hints on items
= render "components/govuk_radios",
        "idPrefix": "gov", \
  "name": "gov-with-hints", \
  "fieldset": { \
    "legend": { \
      "text": "How do you want to sign in?", \
      "isPageHeading": true\
     }\
   }, \
  "items": [\
    { \
      "value": "gateway", \
      "text": "Sign in with Government Gateway", \
      "hint": { \
        "text": "You'll have a user ID if you've registered for Self Assessment or filed a tax return online before."\
       }\
     }, \
    { \
      "value": "verify", \
      "text": "Sign in with GOV.UK Verify", \
      "hint": { \
        "text": "You’ll have an account if you’ve already proved your identity with either Barclays,\
         CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity."\
       }\
     }\
  ]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m Without fieldset
= render "components/govuk_radios",
        "name": "colours", \
  "items": [\
    { \
      "value": "red", \
      "text": "Red"\
     }, \
    { \
      "value": "green", \
      "text": "Green"\
     }, \
    { \
      "value": "blue", \
      "text": "Blue"\
     }\
  ]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m With all fieldset attributes
= render "components/govuk_radios",
        "idPrefix": "example-with-attributes", \
  "name": "example-with-attributes", \
  "errorMessage": { \
    "text": "Please select an option"\
   }, \
  "fieldset": { \
    "classes": "app-fieldset--custom-modifier", \
    "attributes": { \
      "data-attribute": "value", \
      "data-second-attribute": "second-value"\
     }, \
    "legend": { \
      "text": "Have you changed your name?"\
     }\
   }, \
  "hint": { \
    "text": "This includes changing your last name or spelling your name differently."\
   }, \
  "items": [\
    { \
      "value": "yes", \
      "text": "Yes"\
     }, \
    { \
      "value": "no", \
      "text": "No", \
      "checked": true\
     }\
  ]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m With very long option text
= render "components/govuk_radios",
        "name": "waste", \
  "hint": { \
    "text": "Nullam id dolor id nibh ultricies vehicula ut id elit."\
   }, \
  "errorMessage": { \
    "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."\
   }, \
  "fieldset": { \
    "legend": { \
      "text": "Maecenas faucibus mollis interdum?"\
     }\
   }, \
  "items": [\
    { \
      "value": "nullam", \
      "text": "Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem\
       lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at\
        eget metus."\
     }, \
    { \
      "value": "aenean", \
      "text": "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui.\
       Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.\
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam.\
         Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum."\
     }, \
    { \
      "value": "fusce", \
      "text": "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit\
       amet risus. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl\
        consectetur et. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod.\
         Donec sed odio dui. Sed posuere consectetur est at lobortis."\
     }\
  ]

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m With conditional items
- html_email = capture do
  label.govuk-label for="contact-email"
    | Email address
  input.govuk-input class="govuk-!-width-one-third" name="contact-email" type="text" id="contact-email"
- html_phone = capture do
    label.govuk-label for="contact-phone"
      | Phone number
    input.govuk-input class="govuk-!-width-one-third" name="contact-phone" type="text" id="contact-phone"
- html_text = capture do
    label.govuk-label for="contact-text-message"
      | Mobile phone number
    input.govuk-input class="govuk-!-width-one-third" name="contact-text-message" type="text" id="contact-text-message"
- contact_items = [\
    { \
      "value": "email", \
      "text": "Email", \
      "conditional": { "html": html_email }\
    }, \
    { \
      "value": "phone", \
      "text": "Phone", \
          "conditional": { "html": html_phone }\
    }, \
    { \
      "value": "text", \
      "text": "Text message", \
      "conditional": { "html": html_text }\
    }\
  ]
= render "components/govuk_radios",
        "idPrefix": "how-contacted", \
  "name": "how-contacted", \
  "fieldset": { \
    "legend": { \
      "text": "How do you want to be contacted?"\
      }\
    }, \
  "items": contact_items

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible

h2.govuk-heading-m Inline with conditional items
= render "components/govuk_radios",
        "classes": "govuk-radios--inline", \
  "idPrefix": "how-contacted-inline", \
  "name": "how-contacted-inline", \
  "fieldset": { \
    "legend": { \
      "text": "How do you want to be contacted?"\
     }\
   }, \
  "items": contact_items

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible
- contact_items = [\
    { \
      "value": "email", \
      "text": "Email", \
      "conditional": { "html": html_email }\
    }, \
    { \
      "value": "phone", \
      "checked": true,
      "text": "Phone", \
          "conditional": { "html": html_phone }\
    }, \
    { \
      "value": "text", \
      "text": "Text message", \
      "conditional": { "html": html_text }\
    }\
  ]
h2.govuk-heading-m With conditional item checked
= render "components/govuk_radios",
        "idPrefix": "how-contacted-checked", \
  "name": "how-contacted-checked", \
  "fieldset": { \
    "legend": { \
      "text": "How do you want to be contacted?"\
     }\
   }, \
  "items": contact_items

hr.govuk-section-break.govuk-section-break--m.govuk-section-break--visible
- html_phone = capture do
  label.govuk-label for="contact-phone" Phone number
  span#contact-phone-error.govuk-error-message Problem with input
  input.govuk-input.govuk-input--error [
    class="govuk-!-width-one-third" name="contact-phone" type="text" id="contact-phone"]
- contact_items = [\
    { \
      "value": "email", \
      "text": "Email", \
      "conditional": { "html": html_email }\
    }, \
    { \
      "value": "phone", \
      "checked": true,
        "text": "Phone", \
          "conditional": { "html": html_phone }\
    }, \
    { \
      "value": "text", \
      "text": "Text message", \
      "conditional": { "html": html_text }\
    }\
  ]
h2.govuk-heading-m With optional form-group classes showing group error
= render "components/govuk_radios",
        "idPrefix": "how-contacted-error", \
  "name": "how-contacted-error", \
  "formGroup": { \
    "classes": "govuk-form-group--error"\
   }, \
  "fieldset": { \
    "legend": { \
      "text": "How do you want to be contacted?"\
     }\
   }, \
  "items": contact_items
