- content_for :page_title, "Select nano-material purpose"
- content_for :after_header do
  = link_to "Back", previous_wizard_path, class: "govuk-back-link"

/TODO COSBETA-51: This page should be replaced/deleted when adding the non-standard nano-materials journey
h1 This an unhappy path 😢
p
  | Go back and select a different option
