<% content_for :page_title, @user.name %>

<% content_for :back_link do %>
  <%= link_to "Back", users_path, class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @user.name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @user.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-m">Security details</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reset account
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Reset<span class="govuk-visually-hidden"> account</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Responsible Person accounts
        </dt>
        <dd class="govuk-summary-list__value">
          <% @user.responsible_persons.each do |responsible_person| %>
            <%= responsible_person.name %><br/>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Reset<span class="govuk-visually-hidden"> account</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>
