<% title = "How to notify products containing nanomaterials" %>

<% content_for :page_title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= title %></h1>

    <h2 class="govuk-heading-m">Nanomaterials in Annex 4, 5 or 6 of EC regulation 1223/2009</h2>

    <p>
      For all cosmetic products on the market containing nanomaterials listed in Annex 4, 5 or 6
       of EC regulation 1223/2009 and used in accordance with the restrictions for that material you must submit:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>its chemical name (IUPAC)</li>
      <li>how it is intended to be used</li>
      <li>information and data on reasonably foreseeable exposure conditions</li>
    </ul>

    <p>
      This is done as part of the cosmetic product notification.
    </p>

    <h2 class="govuk-heading-m">Nanomaterials not in Annex 4, 5 or 6 of EC regulation 1223/2009</h2>

    <p>
      For cosmetic products which contain nanomaterials not listed in Annex 4, 5 or 6, that is, used for another
       purpose other than as a preservative, UV-filter or colourant, you need to notify details of the nanomaterial and include:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>whether it was notified in the EU before 1 January 2021 and if so, when it was first notified</li>
      <li>the International Union of Pure and Applied Chemistry (IUPAC) name</li>
      <li>the quantity expected to be placed on the market each year</li>
      <li>the specification, including the size of particles, physical and chemical properties</li>
      <li>the droplet size and distribution when sprayed</li>
      <li>the toxicological profile</li>
      <li>the safety data relating to the category of products in which it will be used</li>
      <li>whether it reacts or changes its properties in certain conditions, for example, if its photocatalytic</li>
    </ul>
    <p>
      Note that you cannot use a nanomaterial as a preservative, UV-filter or colourant that is not listed in the Annexes.
    </p>

    <h2 class="govuk-heading-m">When you can place products containing nanomaterials on the market</h2>
    <p>
      Products containing a nanomaterial notified in the EU before 1 July 2020 and placed on the market before 1 January 2021
      can remain on the market if you submit a product notification before 31 March 2021.
    </p>
    <p>
      Products containing nanomaterials notified in the EU after 1 July 2020, but before 1 January 2021 can be placed on the
      GB market 7 months after first being notified in the EU. As the cosmetic product has not been on the GB market prior
      to 1 January 2021, the product must be notified before being placed on the GB market.
    </p>

    <p>
      Products containing nanomaterials notified in GB after 1 January 2021 can be placed on the market 6 months after the
      nanomaterial has first been notified.
    </p>
  </div>
</div>
