name: Code style

on: [push]

jobs:
  ruby:
    name: "Ruby"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.5.x
    # required to compile pg ruby gem
    - name: install PostgreSQL client
      run: sudo apt-get install libpq-dev
    - uses: actions/cache@v1
      with:
        path: cosmetics-web/vendor/bundle
        key: ${{ runner.OS }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.OS }}-gems-
    - name: Install ruby gems
      working-directory: cosmetics-web
      run: |
        gem install bundler -v 1.17.3 --no-doc
        bundle config path vendor/bundle
        bundle check || bundle install --jobs 4 --retry 3
    - name: Run ruby code style checks
      working-directory: cosmetics-web
      run: |
        bundle exec rubocop
  front_end:
    name: "Sass and Javascript"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Nodejs
      uses: actions/setup-node@v1
      with:
        node-version: 10.16.3
    - uses: actions/cache@v1
      with:
        path: cosmetics-web/node_modules
        key: ${{ runner.OS }}-build-${{ hashFiles('cosmetics-web/yarn.lock') }}
        restore-keys: |
          ${{ runner.OS }}-build-${{ env.cache-name }}-
          ${{ runner.OS }}-build-
          ${{ runner.OS }}-
    - name: Install npm dependencies
      run: |
        cd cosmetics-web
        npm install yarn
        yarn install
    - name: Run linters
      run: |
        cd cosmetics-web
        yarn standard
        yarn sass-lint -c .sasslint.yml -vq 'app/**/*.scss'
