name: Code style

on: [push]

jobs:
  ruby:
    name: "Ruby"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.5.x
    - name: Run code style checks
      run: |
        cd cosmetics-web
        gem install rubocop -v 0.76
        gem install rubocop-performance -v 1.4.0
        gem install rubocop-rails -v 2.3.2
        gem install rubocop-rspec -v 1.36
        gem install rubocop-govuk -v 1.0
        rubocop
  front_end:
    name: "Sass and Javascript"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Nodejs
      uses: actions/setup-node@v1
      with:
        node-version: 10.16.3
    - uses: actions/cache@v1
      with:
        path: cosmetics-web/node_modules
        key: ${{ runner.OS }}-build-${{ hashFiles('cosmetics-web/yarn.lock') }}
        restore-keys: |
          ${{ runner.OS }}-build-${{ env.cache-name }}-
          ${{ runner.OS }}-build-
          ${{ runner.OS }}-
    - name: Install npm dependencies
      run: |
        cd cosmetics-web
        npm install yarn
        yarn install
    - name: Run linters
      run: |
        cd cosmetics-web
        yarn eslint app config
        yarn sass-lint -c .sasslint.yml -vq 'app/**/*.scss'
