<% parent_name = @parent.is_a?(Investigation) ? "Case" : @parent.class.name %>
<div class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-1"><%= "#{parent_name} ID: #{@parent.id}" %></div>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-1"><%= title %></h1>
