<% content_for :page_title, "Edit image - Market Surveillance & Product Safety" %>

<%= link_to 'Back', associated_images_path(@parent), class: "govuk-back-link" %>

<h1 class="heading-xlarge">Edit image</h1>

<% if @image.variable? && @image.metadata["safe"] %>
  <%= image_tag @image.variant(resize: "300x200"), alt: @image.metadata["title"], class: "image-thumbnail" %>
<% end %>

<%= render 'metadata_form', image: @image %>
