<% content_for :page_title, "Manage images - Market Surveillance & Product Safety" %>

<%= link_to "Back to #{@parent.class.name == "Investigation" ? "case" : @parent.class.name.downcase}", polymorphic_path(@parent), class: "govuk-back-link" %>

<%= render "page_heading", title: "Manage images" %>

<%= link_to 'Add new image', new_associated_image_path(@parent), class: "govuk-link add-image-link" %>

<div class="govuk-!-padding-top-8">
  <% if @parent.images.attached? %>
    <%= render "table" %>
  <% else %>
    <p class="govuk-body">No images.</p>
  <% end %>
</div>
