<% content_for :page_title, "New image - Market Surveillance & Product Safety" %>

<%= link_to 'Back', associated_images_path(@investigation), class: "govuk-back-link" %>

<h1 class="heading-xlarge">New image</h1>

<%= render 'form', image: @image %>
