<div class="header-proposition">
    <div class="content">
        <a href="/" id="proposition-name">Market Surveillance &amp; Product Safety</a>
        <a role="button" href="#proposition-links" class="js-header-toggle menu" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">
            Menu
        </a>
        <nav id="proposition-menu">
            <ul id="proposition-links" aria-label="Top Level Navigation">
                <li><a href="/pages/example" class="active">Toolkit Examples</a></li>
            </ul>
        </nav>
    </div>
</div>