<div class="header-proposition">
    <div class="content">
        <a href="/" id="proposition-name">Market Surveillance &amp; Product Safety</a>
        <a role="button" href="#proposition-links" class="js-header-toggle menu" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</a>
        <nav id="proposition-menu">
            <ul id="proposition-links" aria-label="Top Level Navigation">
                <% if signed_in? && policy(User).index? %>
                    <li>
                        <%= link_to "Edit users", "/users" %>
                    </li>
                <% end %>
                <li>
                    <% if user_signed_in? %>
                        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                    <% else %>
                        <%= link_to('Login', new_user_session_path)  %>
                    <% end %>
                </li>
            </ul>
        </nav>
        </nav>
    </div>
</div>