<!-- Taken from https://github.com/alphagov/govuk-design-system/blob/master/views/partials/_navigation.njk -->
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list">
    <li class="<%= params[:controller] == "investigations" && "app-navigation--current-page" %>">
      <a class="govuk-link" href="/investigations" aria-selected="" data-topnav="investigations">
        Cases
      </a>
    </li>
    <li class="<%= params[:controller] == "businesses" && "app-navigation--current-page" %>">
      <a class="govuk-link" href="/businesses" data-topnav="businesses">
        Businesses
      </a>
    </li>
    <li class="<%= params[:controller] == "products" && "app-navigation--current-page" %>">
      <a class="govuk-link" href="/products" data-topnav="products">
        Products
      </a>
    </li>
  </ul>
</nav>
