<% if alert %>
    <div class="error-summary" role="alert" tabindex="-1">
        <h2 class="bold-small">
            <%= alert %>
        </h2>
    </div>
<% end %>
<% if notice %>
    <div class="panel panel-border-wide" tabindex="-1">
        <strong class="bold-small">
            <%= notice %>
        </strong>
    </div>
<% end %>