<% title = "Secondary authentication method" %>
<% page_title(title, errors: @form.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= error_summary(@form.errors, map_errors: { authentication_method: :sms }) %>

    <% heading = capture do %>
      <h1 class="govuk-heading-l">How do you want to get an access code?</h1>
    <% end %>
    <%= form_with(url: secondary_authentication_method_path, html: { novalidate: true }, method: :post) do |f| %>
      <%= govukRadios(
            form: f,
            key: :authentication_method,
            fieldset: { legend: { html: heading } },
            errorMessage: format_errors_for(@form, @form.errors.full_messages_for(:authentication_method)),
            items: [{ text: "Text message",
                      id: "sms",
                      value: :sms,
                      classes: "govuk-label govuk-radios__label",
                      hint: { text: @form.partially_hidden_mobile_number } },
                    { text: "Authenticator app for smartphone or tablet",
                      id: "app",
                      value: :app,
                      classes: "govuk-label govuk-radios__label" }],
          ) %>
      <div class="govuk-form-group">
        <%= govukButton text: "Continue" %>
      </div>
    <% end %>
  </div>
</div>
