h1.govuk-heading-xl
  | Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .govuk-form-group
    = f.label :email, class: "govuk-label"
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "govuk-input"
  .govuk-form-group
    = f.label :password, class: "govuk-label"
    = f.password_field :password, autocomplete: "off", class: "govuk-input"
    - if @minimum_password_length
      em
        | (
        = @minimum_password_length
        | characters minimum)
  .govuk-form-group
    = f.label :password_confirmation, class: "govuk-label"
    = f.password_field :password_confirmation, autocomplete: "off", class: "govuk-input"
  .govuk-form-group
    = f.submit "Sign up", class: "govuk-button"
= render "users/shared/links"
